
.#{$csstheme} {

  .#{$css}-dashboard {
    @include absolute-align-full-bottom;
    @include transition1(opacity, $dashboard_transition, ease-in-out);
    @include background-rgba(0, 0, 0, 0.6, #4f4f4f);
    //background: $controlbar_background;
    color: $text_color;
    font-size: $text_fontsize;
    height: $controlbar_height;
    opacity: 0.9;
    overflow: hidden;
  }

  .#{$css}-dashboard-hidden {
    opacity: 0;
  }

  &.#{$cssie8} .#{$css}-image-title-block {
    display: none;
  }

  &.#{$cssnoie8} .#{$css}-image-title-block {
    @include absolute-align-full-top();
    @include background-rgba(0, 0, 0, 0.6, #4f4f4f);
    @include transition1(opacity, $dashboard_transition, ease-in-out);
  }

  .#{$css}-image-title {
    color: $title_text_color;
    font-family: $font_family;
    font-weight: 300;
    font-size: $title_font_size;
    letter-spacing: $text_letter_spacing;
    margin: 0;
    padding: $title_padding;
  }

  .#{$css}-button-inner {
    @include relative-center-center;
    @include clickable;
    color: $text_color;
    font-size: $button_fontsize;
  }

  .#{$css}-left-block {
    float: left;
  }

  .#{$css}-center-block {
    float: left;
  }

  .#{$css}-right-block {
    float: right;
    .#{$csscommon}-icon-resize-full {
      color: $button_color_secondary;
    }
  }

  .#{$css}-button-container {
    float: left;
    width: $button-width;
    height: $controlbar_height;
    line-height: $controlbar_line_height;
    text-align: center;
  }

  .#{$css}-timer-container {
    @include background-rgba(0, 0, 0, 0.35, #b2b2b2);
    //background: $controlbar_background;
    color: $text_color;
    cursor: default;
    letter-spacing: .1em;
    width: 90px;
    font-weight: 300;
    font-size: .9em;
    & > div:first-child { margin-left: 4px }
    & > div {
      float: left;
      width: $button_width;
    }

    & > p {
      float: left;
      margin: 0;
      width: 4px;
    }
  }

}

