.#{$cssplayer}-adslot {
    @include align-all();
    @include background-rgba(0, 0, 0, 0.8, #333333);
    color: #ffffff;
    position: absolute;
}

.#{$cssplayer}-ad-click-tracker {
    @include align-all();
}

.#{$cssplayer}-ad-dashboard {
    @include absolute-align-full-bottom;
    @include transition1(opacity, 0.5s, ease-in-out);
    height: 100%;
    opacity: 0.9;
    overflow: hidden;
}

.#{$cssplayer}-ad-controlbar {
    @include background-rgba(0, 0, 0, 0.8, #333333);
    @include absolute-align-bottom();
    height: 40px;
    width: 100%;
}

.#{$cssplayer}-ad-leftbutton-container {
    @include float-width-height(left, 40px, 100%);
    @include clickable;
    box-sizing: content-box;
}

.#{$cssnoie8} .#{$cssplayer}-ad-rightbutton-container {
    @include float-width-height(right, 40px, 100%);
    @include clickable;
    box-sizing: content-box;
}

.#{$cssie8} .#{$cssplayer}-ad-rightbutton-container {
    @include float-width-height(right, 40px, 50%);
    @include clickable;
    box-sizing: content-box;
}

.#{$cssnoie8} .#{$cssplayer}-ad-button-inner {
    @include relative-center-center;
    color: #ffffff;
    font-size: 13px;
}

.#{$cssie8} .#{$cssplayer}-ad-button-inner {
    margin-top: 6px + 6;
    text-align: center;
    color: #ffffff;
    font-size: 13px;
}

.#{$cssplayer}-ad-button-inner {
    @include clickable;
}

.#{$cssplayer}-ad-time-container {
    @include float-width-height(left, auto, 100%);
    text-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #ffffff;
    box-sizing: content-box;
}

.#{$cssie8} .#{$cssplayer}-ad-time-container {
    margin-top: 6px + 5;
}

.#{$cssplayer}-ad-time-value {
    @include relative-center-center;
    float: left;
    width: auto;
    padding: 0 15px;
}

.#{$cssnoie8} .#{$cssplayer}-ad-volumebar {
    @include float-width-height(right, 60px, 100%);
    margin-right: 6px*2;
}

.#{$cssie8} .#{$cssplayer}-ad-volumebar {
    @include float-width-height(right, 60px, 50%);
    margin-top: 6px+10;
    margin-right: 6px*2;
}

.#{$cssplayer}-ad-volumebar-inner {
    @include relative-center-center;
    @include border-round-edges(6px / 2);
    @include clickable;
    background-color: #878787;
    height: 6px;
}

.#{$cssplayer}-ad-volumebar-position {
    @include border-round-edges(6px / 2);
    @include absolute-align-left();
    background-color: #ffffff;
    height: 100%;
}

.#{$cssplayer}-skipbutton-container {
    @include transition1(all, 0.3s, ease-in-out 0.2s);
    @include transparent(0.4);
    background: #020202;
    font-size: 12px;
    bottom: 80px;
    color: #ececec;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    padding: 10px 0;
    right: 0;
    text-align: center;
    min-width: 100px;
}

.#{$cssplayer}-skipbutton {
    text-align: center;
    margin: 0;
    padding: 0;
}

.#{$cssplayer}-skipbutton-container:hover {
    @include transparent(0.7);
    @include transition1(all, 0.3s, ease-in-out 0.2s);
}
