/node_modules
/temp
/.idea
/.eslintrc.js
.DS_Store
.sass-cache
node_modules
/docs
browserstack.json
BrowserStackLocal
jsdoc.conf.json
/demos/recorder*.html
/demos/themes/temp
/demos/themes/files
google-translate-creds.json
/demos/themes/temp/*
/demos/themes/files/*
*.log
package-lock.json
