/node_modules
/temp
/.idea
/.eslintrc.js
/.vscode
.DS_Store
.sass-cache
node_modules
/docs
browserstack.json
BrowserStackLocal
jsdoc.conf.json
/demos/recorder*.html
/demos/themes/files
google-translate-creds.json
/demos/assets/huge_video.mp4
/demos/themes/temp/*
/demos/themes/files/*
/demos/tmp/
.history
*.log
/demos/kargo/
tests/playwright/.cache/
