/node_modules
/temp
.DS_Store
.sass-cache
node_modules
/docs
browserstack.json
BrowserStackLocal
jsdoc.conf.json
/demos/recorder*.html
/tests/server/temp
/tests/server/files
google-translate-creds.json
