.#{$css}-icon-facebook:before {
  color: #3b5998;
}

.#{$css}-icon-facebook-official:before {
  color: #3b5998;
}

.#{$css}-icon-twitter:before {
  color: #1da1f2;
}

.#{$css}-icon-twitter-squared:before {
  color: #1da1f2;
}

.#{$css}-icon-gplus:before {
  color: #dd4b39;
}

.#{$css}-icon-gplus-squared:before {
  color: #dd4b39;
}