@mixin fontello-icon {
  font-family: $fontello_name;
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.#{$css}-icon-play:before {
    @include fontello-icon;
    content: '\e800';
}

.#{$css}-icon-pause:before {
    @include fontello-icon;
    content: '\e801';
}

.#{$css}-icon-volume-off:before {
    @include fontello-icon;
    content: '\e802';
}

.#{$css}-icon-volume-down:before {
    @include fontello-icon;
    content: '\e803';
}

.#{$css}-icon-volume-up:before {
    @include fontello-icon;
    content: '\e804';
}

.#{$css}-icon-resize-full:before {
    @include fontello-icon;
    content: '\e805';
}

.#{$css}-icon-videocam:before {
    @include fontello-icon;
    content: '\e806';
}

.#{$css}-icon-ccw:before {
    @include fontello-icon;
    content: '\e807';
}

.#{$css}-icon-upload:before {
    @include fontello-icon;
    content: '\e808';
}

.#{$css}-icon-left-open:before {
    @include fontello-icon;
    content: '\e809';
}

.#{$css}-icon-right-open:before {
    @include fontello-icon;
    content: '\e80a';
}

.#{$css}-icon-cog:before {
    @include fontello-icon;
    content: '\e80b';
}

.#{$css}-icon-mic:before {
    @include fontello-icon;
    content: '\e80c';
}

.#{$css}-icon-mute:before {
    @include fontello-icon;
    content: '\e80d';
}

.#{$css}-icon-lightbulb:before {
    @include fontello-icon;
    content: '\e80e';
}
