
.#{$css}-icon-volume-off:before {
    @include fontello-icon;
    content: '\e800';
}

.#{$css}-icon-volume-down:before {
    @include fontello-icon;
    content: '\e801';
}

.#{$css}-icon-volume-up:before {
    @include fontello-icon;
    content: '\e802';
}

.#{$css}-icon-resize-full:before {
    @include fontello-icon;
    content: '\e803';
}

.#{$css}-icon-ccw:before {
    @include fontello-icon;
    content: '\e804';
}

.#{$css}-icon-play:before {
    @include fontello-icon;
    content: '\e805';
}

.#{$css}-icon-pause:before {
    @include fontello-icon;
    content: '\e806';
}

.#{$css}-icon-videocam:before {
    @include fontello-icon;
    content: '\e807';
}

.#{$css}-icon-upload:before {
    @include fontello-icon;
    content: '\e808';
}

.#{$css}-icon-left-open:before {
    @include fontello-icon;
    content: '\e809';
}

.#{$css}-icon-right-open:before {
    @include fontello-icon;
    content: '\e80a';
}

.#{$css}-icon-cog:before {
    @include fontello-icon;
    content: '\e80b';
}

.#{$css}-icon-mic:before {
    @include fontello-icon;
    content: '\e80c';
}

.#{$css}-icon-mute:before {
    @include fontello-icon;
    content: '\e80d';
}

.#{$css}-icon-lightbulb:before {
    @include fontello-icon;
    content: '\e80e';
}

.#{$css}-icon-resize-small:before {
    @include fontello-icon;
    content: '\e80f';
}

.#{$css}-icon-resize-minimize:before {
    @include fontello-icon;
    content: '\e810';
}

.#{$css}-icon-record:before {
    @include fontello-icon;
    content: '\e811';
}

.#{$css}-icon-record-core:before {
    @include fontello-icon;
    content: '\e812';
}

.#{$css}-icon-up-dir:before {
    @include fontello-icon;
    content: '\e813';
}

.#{$css}-icon-cancel:before {
    @include fontello-icon;
    content: '\e814';
}

.#{$css}-icon-cc:before {
    @include fontello-icon;
    content: '\e815';
}

.#{$css}-icon-twitter:before {
    @include fontello-icon;
    content: '\f099';
}

.#{$css}-icon-facebook:before {
    @include fontello-icon;
    content: '\f09a';
}

.#{$css}-icon-gplus-squared:before {
    @include fontello-icon;
    content: '\f0d4';
}

.#{$css}-icon-gplus:before {
    @include fontello-icon;
    content: '\f0d5';
}

.#{$css}-icon-angle-left:before {
    @include fontello-icon;
    content: '\f104';
}

.#{$css}-icon-angle-right:before {
    @include fontello-icon;
    content: '\f105';
}

.#{$css}-icon-angle-up:before {
    @include fontello-icon;
    content: '\f106';
}

.#{$css}-icon-angle-down:before {
    @include fontello-icon;
    content: '\f107';
}

.#{$css}-icon-crop:before {
    @include fontello-icon;
    content: '\f125';
}

.#{$css}-icon-share:before {
    @include fontello-icon;
    content: '\f130';
}

.#{$css}-icon-resize-full-alt:before {
    @include fontello-icon;
    content: '\f131';
}

.#{$css}-icon-play-circled:before {
    @include fontello-icon;
    content: '\f144';
}

.#{$css}-icon-subtitle:before {
    @include fontello-icon;
    content: '\f20a';
}

.#{$css}-icon-facebook-official:before {
    @include fontello-icon;
    content: '\f230';
}

.#{$css}-icon-television:before {
    @include fontello-icon;
    content: '\f26c';
}

.#{$css}-icon-twitter-squared:before {
    @include fontello-icon;
    content: '\f304';
}
