@mixin transform-translate($x, $y) {
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -o-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    transform: translate($x, $y);
}

@mixin transform-translate-y($y) {
    -webkit-transform: translateY($y);
    -moz-transform: translateY($y);
    -o-transform: translateY($y);
    -ms-transform: translateY($y);
    transform: translateY($y);
}

@mixin transform-translate-x($x) {
    -webkit-transform: translateX($x);
    -moz-transform: translateX($x);
    -o-transform: translateX($x);
    -ms-transform: translateX($x);
    transform: translateX($x);
}

@mixin transform-translate-z($y) {
    -webkit-transform: translateZ($y);
    -moz-transform: translateZ($y);
    -o-transform: translateZ($y);
    -ms-transform: translateZ($y);
    transform: translateZ($y);
}


@mixin align-all() {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

@mixin align-full-top() {
    left: 0;
    right: 0;
    top: 0;
}

@mixin align-full-bottom() {
    left: 0;
    right: 0;
    bottom: 0;
}

@mixin absolute-align-left {
    position: absolute;
    left: 0;
}

@mixin absolute-align-bottom {
    position: absolute;
    bottom: 0;
}

@mixin absolute-align-top {
    position: absolute;
    top: 0;
}

@mixin absolute-align-right-bottom {
    bottom: 0;
    left: auto;
    position: absolute;
    right: 0;
    top: auto;
}

@mixin absolute-align-all() {
    position: absolute;
    @include align-all();
}

@mixin relative-align-all() {
    position: relative;
    @include align-all();
}

@mixin absolute-align-full-bottom() {
    position: absolute;
    @include align-full-bottom();
}

@mixin absolute-align-full-top() {
    position: absolute;
    @include align-full-top();
}

@mixin relative-align-full-bottom() {
    position: relative;
    @include align-full-bottom();
}

@mixin absolute-center-center() {
    position: absolute;
    top: 50%;
    left: 50%;
}

@mixin absolute-max-max() {
    position: absolute;
    width: 100%;
    height: 100%;
}

@mixin relative-center-center {
    @include transform-translate-y(-50%);
    top: 50%;
    position: relative;
    text-align: center;
}

@mixin relative-horizontally-center {
    position: relative;
    margin: auto;
}

@mixin float-width-height($float, $width, $height) {
    float: $float;
    width: $width;
    height: $height;
}

@mixin float-height($float, $height) {
    float: $float;
    height: $height;
}

@mixin background-rgba($r, $g, $b, $o, $fallback) {
    background-color: $fallback;
    background-color: rgba($r, $g, $b, $o);
}

@mixin border-rgba($thinkness, $r, $g, $b, $o, $fallback) {
    border: $thinkness solid $fallback;
    border: $thinkness solid rgba($r, $g, $b, $o);
}

@mixin border-top-rgba($thinkness, $r, $g, $b, $o, $fallback) {
    border-top: $thinkness solid $fallback;
    border-top: $thinkness solid rgba($r, $g, $b, $o);
}

@mixin border-left-rgba($thinkness, $r, $g, $b, $o, $fallback) {
    border-left: $thinkness solid $fallback;
    border-left: $thinkness solid rgba($r, $g, $b, $o);
}

@mixin border-bottom-rgba($thinkness, $r, $g, $b, $o, $fallback) {
    border-bottom: $thinkness solid $fallback;
    border-bottom: $thinkness solid rgba($r, $g, $b, $o);
}

@mixin border-right-rgba($thinkness, $r, $g, $b, $o, $fallback) {
    border-right: $thinkness solid $fallback;
    border-right: $thinkness solid rgba($r, $g, $b, $o);
}

@mixin border-round-edges($width) {
    border-bottom-left-radius: $width;
    border-bottom-right-radius: $width;
    border-top-left-radius: $width;
    border-top-right-radius: $width;
}

@mixin border-right-round-edges($width) {
    border-bottom-right-radius: $width;
    border-top-right-radius: $width;
}

@mixin border-radius($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}



@mixin transition1($attribute, $time, $mode) {
    transition: $attribute $time $mode;
    -moz-transition: $attribute $time $mode;
    -webkit-transition: $attribute $time $mode;
    -o-transition: $attribute $time $mode;
    -ms-transition: $attribute $time $mode;
}

@mixin transition2($attribute1, $attribute2, $time, $mode) {
    transition: $attribute1 $time $mode, $attribute2 $time $mode;
    -moz-transition: $attribute1 $time $mode, $attribute2 $time $mode;
    -webkit-transition: $attribute1 $time $mode, $attribute2 $time $mode;
    -o-transition: $attribute1 $time $mode, $attribute2 $time $mode;
}

@mixin hide-slow( $time ) {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity #{$time}s linear;
}

@mixin show-slow($time){
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity #{$time}s linear;
}

@mixin clickable {
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


@mixin transparent($opacity) {
    /* works for IE 5+. */
    filter:alpha(opacity= ( $opacity*10 ) );

    /* works for IE 8. */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity * 10})";

    /* works for old school versions of the Mozilla browsers like Netscape Navigator. */
    -moz-opacity:$opacity;

    /* This is for old versions of Safari (1.x) with KHTML rendering engine */
    -khtml-opacity: $opacity;

    /* This is the "most important" one because it's the current standard in CSS. This will work in most versions of Firefox, Safari, and Opera. */
    opacity: $opacity;
}

@mixin argb($hex) {
    background: none;
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=$hex,endColorstr=$hex);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=$hex,endColorstr=$hex);
    zoom: 1;
}

@mixin rotate($degree) {
    -webkit-transform: rotate($degree); /* Chrome, Safari, Opera */
    -moz-transform: rotate($degree);
    -o-transform: rotate($degree);
    -ms-transform: rotate($degree); /* IE 9 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$degree/30})";
    transform: rotate($degree);
}

@mixin rotate90() {
    -moz-transform:    rotate(90deg);
    -o-transform:      rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform:         rotate(90deg);

    /* IE8+ - must be on one line, unfortunately */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-1.8369701987210297e-16, M12=-1, M21=1, M22=-1.8369701987210297e-16, SizingMethod='auto expand')";

    /* IE6 and 7 */
    filter: progid:DXImageTransform.Microsoft.Matrix(
                    M11=-1.8369701987210297e-16,
                    M12=-1,
                    M21=1,
                    M22=-1.8369701987210297e-16,
                    SizingMethod='auto expand');
}


@mixin background-rgba-ie($filter, $R, $G, $B, $opacity, $fallback) {

    /* Web browsers that does not support RGBa, the Fallback */
    background-color: rgb($R, $G, $B);

    /* IE9/FF/chrome/safari supported */
    background-color: rgba($R, $G, $B, $opacity);

    /* IE 8 supported */
    /* Here some time problem for Hover than you can use background color/image */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$filter}, endColorstr=#{$filter})";

    /* Below IE7 supported */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$filter}, endColorstr=#{$filter});
}

@mixin color-rgba($R, $G, $B, $opacity, $fallback) {

    /* Web browsers that does not support RGBa the Fallback*/
    color: $fallback;

    /* IE9/FF/chrome/safari supported */
    color: rgba($R, $G, $B, $opacity);

}

@mixin absolute_left_sidebar($width) {
    bottom: 0;
    left: 0;
    position: absolute;
    right: auto;
    top: 0;
    width: $width;
}

//############# SHAPES ############
// $side_colors = transparent
@mixin triangle_up_shape($bottom_width, $backgroung ) {
    border-bottom: $bottom_width solid $backgroung;
    border-left: $bottom_width / 2 solid transparent;
    border-right: $bottom_width / 2 solid transparent;
    display: inline-block;
    height: 0;
    width: 0;
}

@mixin circle_shape( $size, $backgroung, $border_width, $border_color ) {
    background-color: $backgroung;
    border: $border_width solid $border_color;
    /* Cleaner, but slightly less support: use "50%" as value */
    @include border-radius( $size * 4);
    display: inline-block;
    height: $size;
    width: $size;
}


@mixin settings_bubble_bottom_shape ($h, $radius, $r, $g, $b, $o, $fallback, $left) {
    @include background-rgba($r, $g, $b, $o, $fallback);
    @include border-radius($radius);
    display: inline-block;
    padding: 12px 0;
    line-height: 1.2;
    position: relative;

    &:before {
        @include border-right-rgba( 6px, $r, $g, $b, 0, transparent );
        @include border-top-rgba( 9px, $r, $g, $b, $o, $fallback);
        @include border-left-rgba( 6px, $r, $g, $b, 0, transparent );
        content:"";
        height: 0;
        left: $left;
        position: absolute;
        right: 100%;
        top: $h;
        width: 0;
    }
}

@mixin settings_bubble_left_to_right_shape ($w, $radius, $r, $g, $b, $o, $fallback, $top) {
    @include background-rgba($r, $g, $b, $o, $fallback);
    @include border-radius($radius);
    display: inline-block;
    padding: 9px 0;
    line-height: 1.2;
    min-width: $w;
    position: relative;
    &:before {
        @include border-bottom-rgba( 6px, $r, $g, $b, 0, transparent );
        @include border-right-rgba( 9px, $r, $g, $b, $o, $fallback );
        @include border-top-rgba( 6px, $r, $g, $b, 0, transparent );
        content:"";
        height: 0;
        top: $top;
        position: absolute;
        right: 100%;
        width: 0;
    }
}

@mixin text-shadow($color, $width) {
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=#{$width}, Direction=90, Color=#{#color})";/*IE 8*/
    text-shadow: 0 0 #{$width}px $color;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=#{$width}, Direction=90, Color=#{$color}); /*IE 5.5-7*/
}


// FULL SCREEN
@mixin full-screen-dom-shadow-display($display) {
    :-webkit-full-screen {
        display: $display;
    }
    :-moz-full-screen::backdrop {
        display: $display;
    }
    :-ms-fullscreen::-ms-backdrop {
        display: $display;
    }

    :fullscreen::backdrop {
        display: $display;
    }
}

@mixin full-screen-backdrop($color) {
    :-webkit-full-screen::backdrop {
        background-color: $color;
    }
    :-moz-full-screen::backdrop {
        background-color: $color;
    }
    :-ms-fullscreen::-ms-backdrop {
        background-color: $color;
    }
    :fullscreen::backdrop {
        background-color: $color;
    }
}

// 2147483648 z-index require for visible element
@mixin hide-dom-shadow-media-control() {

    /* hide the default Chrome video player styling */
    video::-webkit-media-controls-overlay-enclosure {
        display:none;
    }

    video::-webkit-media-controls-enclosure {
        display:none;
    }

    video::-webkit-media-controls {
        display:none;
    }

    /*  Needed to hide player controls in Safari Only */
    video::-webkit-media-controls-panel {
        display:none;
    }

    video::-webkit-media-controls-play-button {
        display: none;
    }

    video::-webkit-media-controls-current-time-display {
        display: none;
    }

    video::-webkit-media-controls-time-remaining-display {
        display: none;
    }

    video::-webkit-media-controls-timeline {
        display: none;
    }

    video::-webkit-media-controls-mute-button {
        display: none;
    }

    video::-webkit-media-controls-volume-slider {
        display: none;
    }

    video::-webkit-media-controls-fullscreen-button {
        display: none;
    }

    video::-internal-media-controls-download-button {
        display: none;
    }

    /* Firefox Shadow DOM Fix */
    video::-moz-list-bullet, video::-moz-list-number {
        display:none;
    }

    video::-moz-meter-bar {
        display:none;
    }

    video:-moz-full-screen:not(:root)::backdrop {
        //display:none;
    }

    video:fullscreen:not(:root) {
        display:none;
    }
}

@mixin full-height-video() {
    video {
        height: 100%;
        object-fit: fill;
    }
}
