.#{$css}-full-width { width: 100%;}
.#{$css}-half-width {width: 50%;}
.#{$css}-text-center {text-align: center;}
.#{$css}-text-right {text-align: right;}
.#{$css}-text-left {text-align: left;}
.#{$css}-pull-right {float: right;}
.#{$css}-disabled, .#{$css}-disabled * { @include disabled_element() }
.#{$css}-text-info { color: #5dbb96 }
.#{$css}-text-error { color: #dd4b39}
.#{$css}-open-next, .#{$css}-open-previous {
    & > .#{$css}-inner-icon {
        @include fontello-icon;
        color: #eeeeee;
        font-size: 120%;
        position: relative;
    }
}
.#{$css}-open-next {
    & > .#{$css}-inner-icon {
        &:after {
            content: '\f105';
            left: 5px;
        }
    }
}
.#{$css}-open-previous {
    & > .#{$css}-inner-icon {
        float: left;
        &:before {
            content: '\f104';
            right: 5px;
        }
    }
}

.#{$css}-button {
    color: #333;
    background-color: #fff;
    border-radius: 0;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}
.#{$css}-form {
    .#{$css}-form-input {
        &.#{$css}-select-field {
            //background: #fafafa url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAlklEQVQ4T+3SMQ5BQRDG8d+7hVLrEhqJ4h1ANCqFE0g0CuVzBJ2SAygkKqfQ6pyCbLISWdYWrxNTznzzn8w3U2kZVct+PwjYY4lLxpseVhg966kHfWwwxDWBdHHEFOccIORrrDHALQo7OGGOwys4d4VxFAdI0ITmBrt0tW9nnGESAdu42ps1pT9Y4B6nf/S1BCg+6h/AA/hvEhFscWXpAAAAAElFTkSuQmCC") no-repeat 95% 50%;
            border: 1px solid #cccccc;
            cursor: pointer;
            min-width: 120px;
            min-height: 25px;
            overflow: hidden;
            select {
                background: transparent;
                border: none;
                box-sizing: border-box;
                box-shadow: none;
                cursor: pointer;
                padding: 5px 8px;
                position: relative;
                width: 100%;
                z-index: 1;
                -moz-appearance: none;
                -webkit-appearance: none;
            }
            select:focus {
                outline: none;
            }
            &:after {
                @include fontello-icon;
                @include transform-translate-y(-50%);
                content: '\f107';
                color: #eeeeee;
                position: absolute;
                right: 15px;
                top: 50%;
            }
        }

        input[type='file'] {
            @include transparent(0);
            bottom: 0;
            cursor: pointer;
            left: 0;
            position: absolute;
            z-index: 100;
            &::-webkit-file-upload-button {
                cursor: pointer;
            }
        }
        &.#{$css}-error {
            border: 1px solid #dd4b39;
        }
        input[type='submit'] {
            background: #2c2c2c;
            color: #cccccc;
        }
        input {
            width: 100%;
            box-sizing: border-box;
            padding: 5px 10px;
        }

    }
}

.#{$css}-options-popup {
    @include background-rgba(0, 0, 0, 0.7, #555555);
    @include transition1(opacity, .2s, ease-in-out);
    box-sizing: border-box;
    bottom: 3px;
    min-width: 140px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    z-index: 10;
    .#{$css}-options-list {
        padding: 0;
        margin: 0;
        width: 100%;
        .#{$css}-options-list-item {
            @include remove-outline();
            cursor: pointer;
            color: #eeeeee;
            display: inline-block;
            box-sizing: border-box;
            padding: 5px 10px;
            white-space: nowrap;
            width: 100%;
            & > .#{$css}-inner-text {
                font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 14px;
                float: left;
            }
            &.#{$css}-inner-icon {
                margin: 0;
                padding: 5px 0 5px 10px
            }
        }
        .#{$css}-options-list-item:hover {
            @include background-rgba(255, 255, 255, .1, #555555);
        }
    }
}

.#{$css}-options-list-visible {
    @include show-slow(.5);
    position: relative;
    right: 0;
    &.#{$css}-button {
        background-color: #979797;
        color: #eeeeee;
        margin-top: 5px;
    }
}

.#{$css}-options-list-hidden {
    @include hide-slow(.5);
    position: relative;
    right: -180px;
    display: none;
    &.#{$css}-button {
        background-color: #979797;
        color: #eeeeee;
        margin-top: 5px;
    }
}

