$css: "ba-imageviewer";
$csstheme: "ba-imageviewer-theatre-theme";
$cssmessage: "ba-imageviewer";
$cssie8: "ba-imageviewer-ie8";
$cssnoie8: "ba-imageviewer-noie8";
$fontello_name: "bjsmc";

$text_line_space: 0.1em;

$message_bgcolor: #000000;
$message_opacity: 0.75;
$message_color: #020202;

$font_family: Arial, sans-serif;
$topmessage_bgcolor: #000000;
$topmessage_opacity: 0.3;
$topmessage_fontsize: 15px;
$topmessage_height: 32px;
$topmessage_fontweight: bold;

$focus_button_color: #1b7fcc;
$focus_overlay_color: #000000;

$dashboard_width: 75%;
$dashboard_transition: 0.5s;
$dashboard_border_color: #666666;

$controlbar_height: 28px;
$controlbar_line_height: 31px;
$controlbar_background: #eeeeee;
$controlbar_left_block_width: 25%;
$controlbar_center_block_width: 47%;
$controlbar_right_block_width: 23%;
$controlbar_distance_from_side: 15px;

$full_screen_background: #b2b2b2;

$button_fontsize: 13px;
$button_width: 40px;
$button_color: #000000;
$button_color_secondary: #666666;
$ie8_margintop: 6px;
$text_fontfamily: Helvetica Neue, Helvetica, Arial, sans-serif;
$text_fontsize: 11px;
$text_color: #eeeeee;
$text_secondary_color: #666666;
$controls_bgcolor: rgba(93, 170, 150, 0.3);
$aligned-buttons-container: 80px;

$rerecord_text_color: #eeeeee;
$rerecord_font_family: sans-serif;

$rerecord_height: 50px;
$rerecord_opacity: 1;
$rerecord_bgcolor: #eeeeee;
$rerecord_padding: 24px;
$rerecord_padding: 16px;
$rerecord_primarybutton_radius: 3px;
$rerecord_primarybutton_color: #000000;
$rerecord_primarybutton_text_color: #eeeeee;
$rerecord_primarybutton_padding: 0;
$rerecord_primarybutton_vertical_padding: 16px;
$rerecord_primarybutton_font_weight: 300;
$rerecord_primarybutton_font_size: 12px;
$rerecord_letter_spacing: .1em;

// Theme Colors
$theme_color_blue: #2a74eb;
$theme_color_red: #eb6a74;
$theme_color_green: #5daa96;

$colors: (
  'red': $theme_color_red,
  'blue': $theme_color_blue,
  'green': $theme_color_green,
  'default': ''
);
