.#{$css}-chooser-container{
	background-color: $chooser_background;
}

.#{$css}-chooser-icon-container {
	color: $chooser_primary_button_bgcolor;
	font-size: $chooser_icon_size;
	margin: $chooser_icon_margin;
}

.#{$css}-chooser-primary-button, .#{$css}-chooser-secondary-button {
	line-height: $chooser_buttons_line_height;
	min-width: $chooser_buttons_min_width;
	padding: $chooser_primary_button_vertical_padding $chooser_primary_button_horizontal_padding;
}

.#{$css}-chooser-primary-button {
	@include border-radius(2px);
	border: 1px solid $chooser_primary_button_bgcolor;

}

.#{$css}-chooser-secondary-button {
	@include border-radius(2px);
	background-color: $chooser_secondary_button_bgcolor;
	color: $text_color_secondary;
	border: 1px solid $text_color_secondary;
	margin-top: 2px;
}

.#{$css}-shape-record {
	@include circle_shape( 6px, $button_color, 4px, #ffffff );
	margin: 0 5px;
	position: relative;
	top: 3px;
}
/*
.#{$css}-triangle-shape-border {
	@include circle_shape( 4px, $text_color_secondary, 5px, $text_color_secondary );
	margin: 0 5px;
	position: relative;
	top: 1px;
	.#{$css}-shape-upload {
		bottom: 4px;
		@include triangle_up_shape( 6px, $chooser_secondary_button_bgcolor );
		position: relative;
		right: 1px;
	}
}
*/