@each $color, $value in $colors {
  @if $color != default {
    .#{$css}-#{$color}-color {

      .#{$css}-overlay div[tabindex]:focus {
        @include inner-box-shadow($color, 10);
        outline: 1px dotted $color;
      }

      .#{$css}-button-circle-selected, .#{$css}-button-inner:hover,
      .#{$css}-button-selected, .#{$css}-loader-label,
      .#{$css}-message-message, .ba-videorecorder-loader-label, .ba-videorecorder-message-message {
        color: $value;
      }

      .#{$css}-button-primary, .#{$css}-chooser-button-0,
      .#{$css}-settings span, .#{$css}-imagegallery-rightbutton, .#{$css}-imagegallery-leftbutton {
        background-color: $value;
      }

      .#{$css}-chooser-button-0, .#{$css}-imagegallery-image:hover {
        border-color: $value;
      }

      .#{$css}-message-message a {
        color: $value;
      }
    }
  }
}
