@each $color, $value in $colors {
  @if $color != default {
    .#{$css}-#{$color}-color {

      .#{$css}-button-circle-selected, .#{$css}-button-inner:hover,
      .#{$css}-button-selected {
        color: $value;
      }

      .#{$css}-video, .#{$css}-button-primary, .#{$css}-chooser-primary-button,
      .#{$css}-settings span {
        background-color: $value;
      }

      .#{$css}-chooser-primary-button {
        border-color: $value;
      }

    }
  }
}
