@each $color, $value in $colors {
  @if $color != default {
    .#{$cssrecorder}-#{$color}-color {

      .#{$csstheme}-dashboard {

        .#{$css}-button-selected, .#{$css}-button-circle-selected, .#{$css}-button-inner:hover {
          color: $value;
        }

        .#{$css}-button-primary {
          background-color: $value;
        }

        .#{$css}-settings span {
          border-color: $value;
        }

        .#{$css}-settings input[type=radio]:checked + span {
          border-color: $value;
          background-color: $button_color;
        }

      }

      .#{$css}-loader-label, .#{$css}-message-message, .#{$css}-message-message, .#{$cssrecorder}-loader-label {
        color: $value;
      }

      .#{$css}-chooser-button-0, .#{$css}-imagegallery-rightbutton, .#{$css}-imagegallery-leftbutton {
        background-color: $value;
      }

      .#{$css}-chooser-button-0, .#{$css}-imagegallery-image:hover {
        border-color: $value;
      }

      .#{$css}-message-message a {
        color: $value;
      }
    }
  }
}
