.#{$css}-message-container {
	@include absolute-align-all;
    background-color: $message_bgcolor;
    opacity: $message_opacity;
}

.#{$css}-message-message {
	@include transform-translate-y(-50%);
    color: $text_color;
    position: absolute;
    left: 5px;
    right: 5px;    
    top: 50%;    
    text-align: center;
}

.#{$css}-message-message ul {
  list-style: none;
  padding-left: 0;
}

.#{$css}-message-message a {
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  color: $text_color;
  text-decoration:none;
}

.#{$css}-message-message a:hover {
  border-bottom-style: solid;
}
