/* Theatre */
.#{$css}-container.#{$csstheme} {
    box-sizing: border-box;
    border: 1px solid #eeeeee;
    height: 58px;
    min-height: 58px;
    min-width: 320px;
    &.#{$cssplayer}-no-title {
        height: $controlbar_height + 2;
        min-height: $controlbar_height + 2;
    }

    .#{$csstheme}-dashboard {
        @include transition1(opacity, $dashboard_transition, ease-in-out);
        background-color: $controlbar_background;
        bottom: 0;
        height: $controlbar_height;
        position: absolute;
        width: 100%;
    }


    &.#{$cssplayer}-size-small .#{$csstheme}-time-container {
        display: block;
    }

    &.#{$cssie8} .#{$csstheme}-volumebar,
    &.#{$cssplayer}-size-medium .#{$csstheme}-volumebar,
    &.#{$cssplayer}-size-small .#{$csstheme}-volumebar {
        display: block;
    }

    &.#{$cssplayer}-size-medium .#{$csstheme}-volume-button-container,
    &.#{$cssplayer}-size-small .#{$csstheme}-volume-button-container {
        display: block;
    }

    &.#{$cssplayer}-size-medium .#{$csstheme}-right-time-container {
        display: block;
    }
}

.#{$cssie8} .#{$csstheme}-left-block {
    & > div {
        line-height: $controlbar_line_height - 3;
    }
}


.#{$csstheme}-title-container {
    @include absolute-align-full-top();
    @include transition1(opacity, $dashboard_transition, ease-in-out);
    width: 100%;
    & > p {
        @include background-rgba( 255, 255, 255, 0.4, $controlbar_background);
        @include relative-horizontally-center();
        height: $controlbar_height;
        line-height: $controlbar_height;
        text-align: center;
        color: $message_color;
    }
}

.#{$cssnoie8} .#{$csstheme}-rightbutton-container {
    @include float-width-height(right, $button_width, 100%);
    @include clickable;
    box-sizing: content-box;
    border: none;
}

.#{$cssie8} .#{$csstheme}-rightbutton-container {
    @include float-width-height(right, $button_width, 50%);
    @include clickable;
    box-sizing: content-box;
    border: none;
}

.#{$cssnoie8} .#{$csstheme}-button-inner {
    color: $button_color;
    font-size: $button_fontsize;
}

.#{$cssie8} .#{$csstheme}-button-inner {
    color: $button_color;
    font-size: $button_fontsize;
    margin-left: 3px;
}

.#{$cssnoie8} .#{$csstheme}-time-value {
    @include relative-center-center;
}

.#{$cssnoie8} .#{$csstheme}-volumebar {
    float: left;
    margin-right: $volume_height*2;
    width: $volume_width;
}


.#{$cssie8} .#{$csstheme}-volumebar {
    @include float-width-height(right, $volume_width, 50%);
    margin-right: $volume_height * 2;
}

.#{$cssnoie8} .#{$csstheme}-progressbar-inner {
    @include relative-center-center;
}

.#{$cssie8} .#{$csstheme}-progressbar-inner {
    margin-top: 9px;
}

.#{$cssie8} .#{$csstheme}-progressbar-position {
    height: $progressbar_height;
}
