
.#{$css}-dashboard {
    @include absolute-align-full-bottom;
    @include transition1(opacity, $dashboard_transition, ease-in-out);
}

.#{$css}-dashboard-hidden {
    opacity: 0;
}

.#{$css}-backbar {
    @include absolute-align-full-bottom;
    height: $controlbar_height;
    background-color: $controlbar_bgcolor;
    opacity: $controlbar_opacity;
}

.#{$css}-controlbar {
    @include relative-align-full-bottom;
    height: $controlbar_height;
    overflow: hidden;
}

.#{$css}-leftbutton-container {
    @include float-width-height(left, $button_width, 100%);
    @include clickable;
}

.#{$css}-rightbutton-container {
    @include clickable;
    padding: 0 8px;
}

.#{$cssnoie8} .#{$css}-rightbutton-container {
    @include float-width-height(right, auto, 100%);
}

.#{$cssie8} .#{$css}-rightbutton-container {
    @include float-width-height(right, auto, 0);
}

.#{$css}-button-inner {
    @include relative-center-center;
    @include clickable;
    color: $text_color;
    font-size: $button_fontsize;
}

.#{$css}-button-text {
	font-family: Arial;
    font-weight: bold;
}

.#{$cssie8} .#{$css}-button-inner {
    margin-top: $ie8_margintop;
}

.#{$css}-image-title {
    color: $image_title_font_color;
    font-family: $image_title_font_family;
    font-weight: $image_title_font_weight;
    font-size: $image_title_font_size;
    float: left;
    letter-spacing: $image_title_letter_spacing;
    line-height: 30px;
    margin: $image_title_margin;
}

