.#{$css}-chooser-container {
	background: $chooser_background;
}

.#{$css}-chooser-icon-container {
	background: $chooser_background;
	margin: 16px;
	color: $button_color;
	font-size: 32px;
}

.#{$css}-chooser-primary-button{
	background: $button_color;
	border-radius: 0;
}

.#{$css}-primary-button {
	color: $text_color;
}

.#{$css}-chooser-secondary-button{
	color: $button_color;
}
