.#{$css}-chooser-container{
  background-color: $chooser_background;
}

.#{$css}-chooser-icon-container {
  color: $chooser_primary_button_bgcolor;
  font-size: $chooser_icon_size;
  margin: $chooser_icon_margin;
}

.#{$css}-chooser-primary-button, .#{$css}-chooser-secondary-button {
  @include border-radius( $chooser_primary_button_border_radius );
  line-height: $chooser_buttons_line_height;
  min-width: $chooser_buttons_min_width;
  padding: $chooser_primary_button_vertical_padding $chooser_primary_button_horizontal_padding;
}

.#{$css}-chooser-primary-button {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #333;
}

.#{$css}-chooser-secondary-button {
  //@include background-rgba( 0, 0, 0, 0.5, #666666 );
  border: 1px solid #999;
  color: #999999;
  margin-top: 2px;
}

.#{$css}-icon-record:before {
  font-size: .8em;
}

.#{$css}-icon-chooser-upload:before {
  font-size: .9em;
  @include rotate-90();
}
