@each $color, $value in $colors {
  @if $color != default {
    .#{$css}-#{$color}-color {

      .#{$css}-button-selected, .#{$css}-button-inner:hover, .#{$css}-button-selected {
        color: $value;
      }

      .#{$css}-button-primary, .#{$css}-settings span,
      .#{$css}-imagegallery-rightbutton, .#{$css}-imagegallery-leftbutton,
      .#{$css}-chooser-primary-button {
        background-color: $value;
      }

      .#{$css}-button-selected, .#{$css}-imagegallery-image:hover,
      .#{$css}-chooser-primary-button {
        border-color: $value;
      }

      .#{$css}-chooser-primary-button {
        color: #ffffff;
      }

      .#{$css}-chooser-secondary-button {
        background-color: #ffffff;
      }
    }
  }
}
