@each $color, $value in $colors {
  @if $color != default {
    .#{$css}-#{$color}-color {

      .#{$css}-button-selected, .#{$css}-button-inner:hover, .#{$css}-button-selected {
        color: $value;
      }

      .#{$css}-video, .#{$css}-button-primary, .#{$css}-settings span {
        background-color: $value;
      }

      .#{$css}-label-container .#{$css}-button-primary {
        color: #ffffff;
      }

    }
  }
}
