.#{$css}-overlay{
  top: 0;
}

.#{$css}-dashboard {
  @include absolute-align-all();
  height: 100%;
}

.#{$css}-controlbar {
  background: $controlbar_background;
  @include absolute-align-full-bottom();
  height: $controlbar_footer_height;
  padding: 0;
}

.#{$css}-controlbar-right-section {
  float: right;
}

.#{$css}-controlbar-left-section {
  float: left;
}

.#{$css}-cube-button {
  background: white;
  border: none;
  border-right: $controlbar_button_border;
  color: $text_color;
  cursor: pointer;
  display: inline-block; float: left;
  height: $controlbar_footer_height;
  line-height: $controlbar_footer_height;
  text-align: center;
  width: $controlbar_footer_height;
}

.#{$css}-button-inner {
  border: none;
  cursor: pointer;
  color: $controlbar_button_color;
  font-size: inherit;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.#{$css}-button-cube-selected, .#{$css}-cube-inner:hover, .#{$css}-button-selected {
  background: $controlbar_button_hover_background;
  color: $controlbar_button_hover_color;
}

.#{$css}-rightbutton-container{
  padding: 0;
}

.#{$css}-settings-front {
  @include absolute-align-full-bottom();
}

.#{$css}-settings {
  bottom: 60px;
  label {
    font-family: $font_family;
    font-weight: 100;
    font-size: $settings_font_size ;
  }
  li {
    padding: 0 8px;
  } input[type=radio]:checked + span { border: 3px solid #d6d6d6;
  }
  span {
    background: $button_color;
  }
}

.#{$css}-button-primary {
  border: none;
  border-radius: 0;
  color: $text_color;
  display: inline-block;
  font-family: $font_family;
  font-weight: 100;
  font-size: $controlbar_primarybutton_font_size;
  margin: 0;
  padding: 0 25px;
  min-width: $controlbar_primarybutton_min_width;
  @include relative-align-all();
  @include transform-translate(0, 0);
  z-index: 10;
  height: $controlbar_height;
  line-height: $controlbar_height;
}

.#{$css}-settings-button {
  background: $settings_bgcolor;
  cursor: pointer;
  margin: 15px 0 0 15px;
}

.#{$css}-settings label{
  color: $text_color_secondary;
}

.#{$css}-bubble-info {
  @include settings_bubble_bottom_shape ( 39px, 4px, 255, 255, 255, 1, #ffffff, 10px );
}

.#{$css}-controlbar-center-section {
  @include absolute-align-left();
  text-align: center;
  width: 100%;
}

.#{$css}-button-container {
  display: inline-block;
}

.#{$css}-label-container {
  text-align: center;
  width: 100%;
  .#{$css}-button-primary {
    background: none;
    border-left: $controlbar_button_border;
    border-right: $controlbar_button_border;
    color: $text_color_secondary;
    cursor: default;
  }
}

.#{$css}-stop-button-container{
  text-align: right;
  @include absolute-align-right-bottom();
}

.#{$css}-timer-container { cursor: default; }