.#{$recorder}-loader-label {
    background: $controlbar_background;
    font-size: $controlbar_primarybutton_font_size;
    @include absolute-align-full-bottom();
    text-align: center;
    top: auto;
    @include transform-translate(0,0);
}

.#{$recorder}-loader-label-container {
}

.#{$recorder}-wait-button-container {
    display: inline-block;
    position: absolute;
    right: 0;
}

.#{$recorder}-button-primary {
    border-radius: 0;
    background: $controlbar_primarybutton_background;
    color: $controlbar_primarybutton_color;
    font-weight: 100;
    font-size: $controlbar_primarybutton_font_size;
    font-family: $font_family;
    letter-spacing: .1em;
    height: $controlbar_height;
    line-height: $controlbar_height;
    margin: 0;
    padding: 0 25px;
    @include transform-translate-y(0);
}

.#{$recorder}-loader-countdown {
    display: inline-block;
    .#{$recorder}-button-primary {
        background: white;
        color: $text_color_secondary;
        cursor: default;
        border-left: $controlbar_button_border;
        border-right: $controlbar_button_border;
    }
}

.#{$recorder}-wait-button-container {
    .#{$recorder}-button-primary {
        color: $rerecord_text_color;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}
