@each $color, $value in $colors {
  @if $color != default {
    .#{$css}-#{$color}-color {

      .#{$css}-dashboard, .#{$css}-video-title, .#{$css}-right-block .#{$css}-icon-volume-up,
      .#{$css}-right-block .#{$css}-icon-volume-down, .#{$css}-right-block .#{$css}-icon-resize-full,
      .#{$css}-right-block .#{$css}-icon-resize-small, .#{$css}-button-inner,
      .#{$css}-cc-inactive .#{$css}-icon-subtitle {
        color: $value;
      }

      .#{$css}-volumebar-position, .#{$css}-stream-label, .#{$css}-progressbar-position,
      .#{$css}-rerecord-button, .#{$css}-cc-active {
        background-color: $value;
      }

      .#{$css}-playbutton-button {
        border-left-color: $value;
      }

      .#{$css}-volumebar-inner {
        @include background-rgba(255, 255, 255, 0.3, #979797);
      }

      //.#{$css}-cast-button-container button {
      //  --disconnected-color: #{$value};
      //}

      .#{$css}-airplay-container svg path {
        fill: $value;
      }

    }
  }
}
