@each $color, $value in $colors {
  @if $color != default {
    .#{$cssplayer}-#{$color}-color {

      .#{$csstheme}-dashboard, .#{$csstheme}-title, .#{$csstheme}-button-inner > i {
        color: $value;
      }

      .#{$cssplayer}-button-active .#{$csstheme}-button-inner > i {
        color: $stream_label_color;
      }

      // Main play button
      &.#{$cssnoie8} {
        .#{$csstheme}-playbutton-container {
          border-color: $value;
        }
        .#{$csstheme}-playbutton-button::after {
          color: $value;
        }
      }

      .#{$csstheme}-volumebar-position, .#{$csstheme}-stream-label,
      .#{$csstheme}-progressbar-position, .#{$csstheme}-primary-button,
      .#{$csstheme}-rerecord-button, .#{$cssplayer}-button-active, .#{$csstheme}-playbutton-duration {
        background-color: $value;
      }

      // Trim handle / marker for start and end
      .#{$csstheme}-progressbar-marker {
        border-color: $value;
        background-image: repeating-linear-gradient(-45deg, transparent 0px, $value 4px),repeating-linear-gradient(45deg, transparent 0px, $value 4px);
      }

      .#{$csstheme}-playbutton-button {
        border-left-color: $value;
      }

      .#{$csstheme}-volumebar-inner {
        @include background-rgba(255, 255, 255, 0.3, #979797);
      }
    }
  }
}
