.#{$css}-dashboard {
  @include absolute-align-full-bottom;
  @include transition1(opacity, $dashboard_transition, ease-in-out);
  @include background-rgba(0, 0, 0, 0.6, #4f4f4f);
  //background: $controlbar_background;
  color: $text_color;
  font-size: $text_fontsize;
  height: $controlbar_height;
  opacity: 0.9;
  overflow: hidden;
}

.#{$css}-dashboard-hidden {
  opacity: 0;
}

.#{$cssie8} .#{$css}-video-title-block {
  display: none;
}

.#{$cssnoie8} .#{$css}-video-title-block {
  @include absolute-align-full-top();
  @include background-rgba(0, 0, 0, 0.6, #4f4f4f);
  @include transition1(opacity, $dashboard_transition, ease-in-out);
}

.#{$css}-video-title {
  color: $title_text_color;
  font-family: $font_family;
  font-weight: 300;
  font-size: $title_font_size;
  letter-spacing: $text_letter_spacing;
  margin: 0;
  padding: $title_padding;
}

.#{$css}-button-inner {
    @include clickable;
}

.#{$css}-volumebar {
    float: left;
    width: $volume_width;
    height: $controlbar_height;
    margin-right: 10px;
}

.#{$css}-volumebar-inner {
    @include relative-center-center;
    @include border-round-edges($volume_height / 2);
    @include clickable;
    background-color: $button_color_secondary;
    height: $volume_height;
}

.#{$cssie8} .#{$css}-volumebar-inner {
  margin-top: -2px;
}

.#{$css}-volumebar-position {
  @include border-round-edges($volume_height / 2);
  @include absolute-align-left();
  background-color: $progressbar_button_overflow;
  height: 100%;
}

.#{$css}-left-block {
  float: left;
}

.#{$css}-center-block {
  float: left;
  .#{$css}-progress-bar-container {
    position: absolute;
    width: 100%;
  }
}

.#{$css}-right-block {
  float: right;
  .#{$css}-icon-volume-up, .#{$css}-icon-volume-down, .#{$css}-icon-resize-full {
    color: $button_color_secondary;
  }
}

.#{$css}-button-container {
  float: left;
  width: $button-width;
  height: $controlbar_height;
  line-height: $controlbar_line_height;
  text-align: center;
}

.#{$css}-timer-container {
  @include background-rgba(0, 0, 0, 0.35, #b2b2b2);
  //background: $controlbar_background;
  color: $text_color;
  cursor: default;
  letter-spacing: .1em;
  width: 90px;
  font-weight: 300;
  font-size: .9em;
  & > div:first-child { margin-left: 4px }
  & > div {
    float: left;
    width: $button_width;
  }

  & > p {
    float: left;
    margin: 0;
    width: 4px;
  }
}

.#{$css}-stream-label {
  background-color: $stream_label_bg_color;
  color: $stream_label_color;
  display: inline-block;
  font-weight: 300;
  font-size: 0.8em;
  height: 25px;
  letter-spacing: .1em;
  line-height: 24px;
  padding: 0 3px;
  text-align: center;
  width: auto;
  & > span {
    display: inline-block;
    padding-left: 2px;
    line-height: 25px;
  }
}

.#{$cssnoie8} .#{$css}-progressbar {
  overflow: hidden;
  height: 100%;
}

.#{$cssie8} .#{$css}-progressbar {
  overflow: hidden;
}

.#{$css}-progressbar-cache {
  @include absolute-align-left;
  @include clickable;
  background-color: transparent;
  height: $progressbar_height;
}

.#{$css}-progressbar-inner {
  @include relative-center-center;
  @include clickable;
  background-color: transparent;
  height: $progressbar_height;
}

.#{$css}-progressbar.#{$css}-disabled {
  &, & .#{$css}-progressbar-cache, & .#{$css}-progressbar-inner, & .#{$css}-progressbar-position {cursor: not-allowed}
}

.#{$css}-progressbar-position {
  @include absolute-align-left();
  background-color: $progressbar_button_overflow;
  height: 100%;
}

.#{$css}-progressbar-button {
  display: none;
}

.#{$css}-cast-button-container button {
    --connected-color: #00cc00;
    --disconnected-color: #cecece;
    @include transparent(0.7);
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding-top: 11px;
    width: 32px;
}

.#{$css}-airplay-container {
  @include clickable();
  padding-top: 2px;
  svg path {
    fill: #ffffff;
  }
}
