.#{$css}-dashboard {
  @include absolute-align-full-bottom;
  @include transition1(opacity, $dashboard_transition, ease-in-out);
  @include background-rgba(0, 0, 0, 0.5, #666666);
  //background: $controlbar_background;
  color: $text_color;
  font-size: $text_fontsize;
  height: $controlbar_height;
  opacity: 0.9;
  overflow: hidden;
}

.#{$cssie8} .#{$css}-video-title-block {
  display: none;
}

.#{$cssnoie8} .#{$css}-video-title-block {
  @include absolute-align-full-top();
  @include background-rgba(0, 0, 0, 0.4, #999999);
}

.#{$css}-video-title {
  color: $title_text_color;
  font-family: $font_family;
  font-weight: 100;
  font-size: $title_font_size;
  letter-spacing: $text_letter_spacing;
  margin: 0;
  padding: $title_padding;
}

.#{$css}-button-inner {
    @include clickable;
}

.#{$css}-volumebar {
    float: left;
    width: $volume_width;
    height: $controlbar_height;
    margin-right: 10px;
}

.#{$css}-volumebar-inner {
    @include relative-center-center;
    @include border-round-edges($volume_height / 2);
    @include clickable;
    @include background-rgba(93, 170, 150, 0.3, #cee5df);
    //background: $controls_bgcolor;
    height: $volume_height;
}

.#{$css}-volumebar-position {
  @include border-round-edges($volume_height / 2);
  @include absolute-align-left();
  background-color: $progressbar_button_overflow;
  height: 100%;
}

.#{$css}-left-block {
  float: left;
}

.#{$css}-center-block {
  float: left;
  .#{$css}-progress-bar-container {
    position: absolute;
    width: 100%;
  }
}

.#{$css}-right-block {
  float: right;
  .#{$css}-icon-volume-up, .#{$css}-icon-volume-down, .#{$css}-icon-resize-full {
    color: $button_color_secondary;
  }
}

.#{$css}-button-container {
  float: left;
  width: $button-width;
  height: $controlbar_height;
  line-height: $controlbar_line_height;
  text-align: center;
}

.#{$css}-timer-container {
  @include background-rgba(0, 0, 0, 0.35, #b2b2b2);
  //background: $controlbar_background;
  color: $text_color;
  cursor: default;
  letter-spacing: .1em;
  width: 84px;
  font-weight: 100;
  font-size: .9em;
  padding: 0 2.5px;
  & > div {
    float: left;
    width: $button_width;
  }

  & > p {
    float: left;
    margin: 0;
    width: 4px;
  }
}

.#{$css}-stream-label{
  color: $stream_label_color;
  background: $stream_label_bg_color;
  padding: 5px 3px 5px 6px;
  font-weight: 100;
  letter-spacing: .1em;
  font-size: 0.8em;
}

.#{$cssnoie8} .#{$css}-progressbar {
  overflow: hidden;
  height: 100%;
}

.#{$cssie8} .#{$css}-progressbar {
  overflow: hidden;
  height: 50%;
  margin-top: $ie8_margintop;
}

.#{$css}-progressbar-cache {
  @include absolute-align-left;
  @include clickable;
  background-color: transparent;
  height: $progressbar_height;
}

.#{$css}-progressbar-inner {
  @include relative-center-center;
  @include clickable;
  background: transparent;
  height: $progressbar_height;
}

.#{$css}-progressbar-position {
  @include absolute-align-left();
  background-color: $progressbar_button_overflow;
  height: 100%;
}


.#{$css}-progressbar-button {
  display: none;
}


