
.#{$csstheme}-dashboard {
  @include absolute-align-full-bottom;
  @include transition1(opacity, $dashboard_transition, ease-in-out);
  @include background-rgba(0, 0, 0, 0.6, #4f4f4f);
  //background: $controlbar_background;
  color: $text_color;
  font-size: $text_fontsize;
  height: $controlbar_height;
  opacity: 0.9;
  overflow: hidden;
}

.#{$csstheme}-dashboard-hidden {
  opacity: 0;
}

.#{$cssie8} .#{$csstheme}-video-title-block {
  display: none;
}

.#{$cssnoie8} .#{$csstheme}-video-title-block {
  @include absolute-align-full-top();
  @include background-rgba(0, 0, 0, 0.6, #4f4f4f);
  @include transition1(opacity, $dashboard_transition, ease-in-out);
}

.#{$csstheme}-video-title {
  color: $title_text_color;
  font-family: $font_family;
  font-weight: 300;
  font-size: $title_font_size;
  letter-spacing: $text_letter_spacing;
  margin: 0;
  padding: $title_padding;
}

.#{$csstheme}-button-inner, .#{$csstheme}-airplay-container {
  @include relative-center-center;
  @include clickable;
  color: $text_color;
  font-size: $button_fontsize;
}

.#{$csstheme}-volumebar {
    float: left;
    width: $volume_width;
    height: $controlbar_height;
    margin-right: 10px;
}

.#{$csstheme}-volumebar-inner {
    @include relative-center-center;
    @include border-round-edges($volume_height / 2);
    @include clickable;
    background-color: $button_color_secondary;
    height: $volume_height;
}

.#{$cssie8} .#{$csstheme}-volumebar-inner {
  margin-top: -2px;
}

.#{$csstheme}-volumebar-position {
  @include border-round-edges($volume_height / 2);
  @include absolute-align-left();
  background-color: $progressbar_button_overflow;
  height: 100%;
}

.#{$csstheme}-left-block {
  float: left;
}

.#{$csstheme}-center-block {
  float: left;
  .#{$csstheme}-progress-bar-container {
    position: absolute;
    width: 100%;
  }
}

.#{$csstheme}-right-block {
  float: right;
  .#{$css}-icon-volume-up, .#{$css}-icon-volume-down, .#{$css}-icon-resize-full {
    color: $button_color_secondary;
  }
}

.#{$csstheme}-button-container {
  float: left;
  width: $button-width;
  height: $controlbar_height;
  line-height: $controlbar_line_height;
  text-align: center;
}

.#{$csstheme}-timer-container {
  @include background-rgba(0, 0, 0, 0.35, #b2b2b2);
  //background: $controlbar_background;
  color: $text_color;
  cursor: default;
  letter-spacing: .1em;
  width: 90px;
  font-weight: 300;
  font-size: .9em;
  & > div:first-child { margin-left: 4px }
  & > div {
    float: left;
    width: $button_width;
  }

  & > p {
    float: left;
    margin: 0;
    width: 4px;
  }
}

.#{$csstheme}-stream-label {
  background-color: $stream_label_bg_color;
  color: $stream_label_color;
  display: inline-block;
  font-weight: 300;
  font-size: 0.8em;
  height: 25px;
  letter-spacing: .1em;
  line-height: 24px;
  padding: 0 3px;
  text-align: center;
  width: auto;
  & > span {
    display: inline-block;
    padding-left: 2px;
    line-height: 25px;
  }
}

.#{$cssnoie8} .#{$csstheme}-progressbar {
  overflow: hidden;
  height: 100%;
}

.#{$cssie8} .#{$csstheme}-progressbar {
  overflow: hidden;
}

.#{$csstheme}-progressbar-cache {
  @include absolute-align-left;
  @include clickable;
  background-color: transparent;
  height: $progressbar_height;
}

.#{$csstheme}-progressbar-inner {
  @include relative-center-center;
  @include clickable;
  background-color: transparent;
  height: $progressbar_height;
}

.#{$csstheme}-progressbar.#{$csstheme}-disabled {
  &, & .#{$csstheme}-progressbar-cache, & .#{$csstheme}-progressbar-inner, & .#{$csstheme}-progressbar-position {cursor: not-allowed}
}

.#{$csstheme}-progressbar-position {
  @include absolute-align-left();
  background-color: $progressbar_button_overflow;
  height: 100%;
}

.#{$csstheme}-progressbar-button {
  display: none;
}

.#{$csstheme}-cast-button-container button {
    //--connected-color: #00cc00;
    //--disconnected-color: #cecece;
    @include transparent(0.7);
    background: transparent;
    border: none;
    cursor: pointer;
    //outline: none;
    box-sizing: border-box;
    padding: 11px 6px 0 5px;
    width: 32px;
}

.#{$csstheme}-airplay-container {
  @include clickable();
  padding-top: 2px;
  svg path {
    fill: #ffffff;
  }
}

.#{$csstheme}-cc-inactive {
  background-color: transparent;
  .#{$css}-icon-subtitle {
    color: #ffffff;
  }
}

.#{$csstheme}-cc-active {
  background: #000000;
  .#{$css}-icon-subtitle {
    color: #eeeeee;
  }
}
