$css: "ba-videoplayer";
$csstheme: "ba-player-cube-theme";
$cssplayer: "ba-player";
$csscommon: "ba-commoncss";
$cssie8: "ba-videoplayer-ie8";
$cssnoie8: "ba-videoplayer-noie8";
$fontello_name: "bjsmc";

$text_letter_spacing: 0.1em;

$message_bgcolor: black;
$message_opacity: 0.75;
$message_color: #eeeeee;

$font_family: sans-serif;
$topmessage_bgcolor: black;
$topmessage_opacity: 0.3;
$topmessage_fontsize: 15px;
$topmessage_height: 32px;
$topmessage_fontweight: bold;

$focus_button_color: #1b7fcc;
$focus_overlay_color: #000000;

// cover
$cover_playbutton_color: #eeeeee;
$cover_playbutton_hover_color: #000000;
$cover_playbutton_shadow: #000000;
$cover_playbutton_border_color: #eeeeee;
$cover_playbutton_border_hover_color: #000000;
$cover_playbutton_hover_shadow: #eeeeee;

$playbutton_size: 5px;
$playbutton_frame_thickness: 0.6em;
$playbutton_default_opacity: 0.6;
$playbutton_hover_opacity: 0.9;
$playbutton_transition_time: .25s;
$playbutton_background_opacity: 0.2;

$dashboard_transition: 0.5s;

$controlbar_height: 40px;
$controlbar_line_height: 40px;
$controlbar_background: rgba(0, 0, 0, 0.35);

$title_font_size: 12px;
$title_padding: 10px 15px;
$title_text_color: #eeeeee;

$button_fontsize: 13px;
$button_width: 40px;
$button_color: #eeeeee;
$button_border_color: #eeeeee;
$time_value_width: 100px;
$ie8_margintop: 6px;
$text_fontfamily: Helvetica Neue, Helvetica, Arial, sans-serif;
$text_fontsize: 13px;
$text_color: #eeeeee;
$button_color_secondary: #979797;
$volume_width: 60px;
$volume_height: 6px;
$progressbar_button_overflow: #eeeeee;
$progressbar_height: 40px;
$stream_label_bg_color: #000000;
$stream_label_color: #eeeeee;

$rerecord_text_color: #eeeeee;
$rerecord_font_family: sans-serif;

$rerecord_height: 48px;
$rerecord_opacity: 0.5;
$rerecord_bgcolor: #666666;
$rerecord_padding: 24px;
$rerecord_padding: 16px;
$rerecord_primarybutton_radius: 0;
$rerecord_primarybutton_color: #000000;
$rerecord_primarybutton_text_color: #eeeeee;
$rerecord_primarybutton_padding: 0;
$rerecord_primarybutton_vertical_padding: 16px;
$rerecord_primarybutton_font_weight: 300;
$rerecord_primarybutton_font_size: 12px;
$rerecord_letter_spacing: .1em;

// fullscreen
$full_screen_background: #000000;
$full_screen_z_index: 2222222222;

// Sidebar share
$share_container_top: 50px;
$share_container_width: 90px;
$share_container_right: 15px;
$open_share_button_color: #eeeeee;
$open_share_button_border_radius: 5px;
$open_share_button_size: 13px;
$open_share_button_top: 30px;
$open_share_button_box_size: 45px;
$open_share_button_font_size: 14px;
$open_share_button_z-index: 100;
$share_icon_font_size: 14px;
$share_icon_container_height: 45px;
$share_icon_container_width: 45px;

// Theme Colors
$theme_color_blue: #2a74eb;
$theme_color_red: #eb6a74;
$theme_color_green: #5daa96;

$colors: (
  'red': $theme_color_red,
  'blue': $theme_color_blue,
  'green': $theme_color_green,
  'default': ''
);
