.#{$css}-imagegallery-image, .#{$css}-overlay img {
  border: none;
  @include border-radius($imagegallery_border_radius);
}

.#{$css}imagegallery-image:hover {
  border: 2px solid white;
}

.#{$css}-imagegallery-rightbutton, .#{$css}-imagegallery-leftbutton {
    border-radius: 50%;
    @include background-rgba( 0, 0, 0, 0.4, #979797);
    height: $imagegallery_buttonsize;
    width: $imagegallery_buttonsize;
    z-index: 10;
}

.#{$csscommon}-icon-right-open:before{
  margin-right: 0;
}

.#{$csscommon}-icon-left-open:before{
  margin-left: 0;
}
