$css: "ba-videorecorder";
$csstheme: "ba-recorder-theme-space";
$cssaudio: "ba-audiorecorder";
$cssaudiotheme: "ba-audiorecorder-theme-space";
$cssrecorder: "ba-recorder";
$csscommon: "ba-commoncss";
$cssie8: "ba-audiorecorder-ie8";
$cssnoie8: "ba-audiorecorder-noie8";
$fontello_name: "bjsmc";
$recorder: "ba-audiorecorder-theme-space";

$font_family: sans-serif;
$recorder_bgcolor: #000000;
$text_color: #ffffff;
$text_color_secondary: #979797;

$button_color: #000000;

$message_bgcolor: #eeeeee;
$message_opacity: 0.75;
$message_color: black;
$message_opacity: 0.75;
$message_height: 90px;
$message_width: 90px;
$message_side_interval: 8px;

$topmessage_bgcolor: black;
$topmessage_fontsize: 12px;
$topmessage_opacity: 0.3;
$topmessage_fontsize: 15px;
$topmessage_height: 32px;
$topmessage_fontweight: bold;


$chooser_background: #eeeeee;
$chooser_buttons_min_width: 10em;
$chooser_primary_button_bgcolor: $button_color;
$chooser_primary_button_vertical_padding: 6px;
$chooser_primary_button_horizontal_padding: 8px;
$chooser_primary_button_border_radius: 50px;
$chooser_secondary_button_color: #666666;
$chooser_secondary_button_padding: 8px;
$chooser_fontsize: 14px;
$chooser_buttons_line_height: 20px;
$chooser_icon_size: 32px;
$chooser_icon_margin: 16px;

$imagegallery_buttonmargin: 14px;
$imagegallery_buttonsize: 30px;
$imagegallery_button_bgcolor: black;
$imagegallery_button_opacity: 0.5;
$imagegallery_button_padding: 4px;
$imagegallery_button_radius: 3px;
$imagegallery_border_radius: 3px;

$settings_margin: 4px;
$settings_padding: 4px;	
$settings_radius: 3px;
$settings_bgcolor: #eeeeee;
$settings_opacity: 0.5;
$settings_border: none;
$settings_font_size: 12px;
$settings_horizontal_margin: 48px;
$settings_item_padding: 8px;
$settings_radio_color: #eeeeee;
$settings_radio_color_selected: $button_color;

$controlbar_height: 48px;
$controlbar_footer_height: 55px;
$controlbar_opacity: 0.5;
$controlbar_bgcolor: black;
$controlbar_padding: 16px;
$controlbar_icon_good: #9F9;
$controlbar_icon_bad: #F99;
$controlbar_label_padding: 15px;
$controlbar_recording_indication_color: red;
$controlbar_recording_indication_size: 12px;
$controlbar_button_horizontal_padding: 8px;
$controlbar_primarybutton_background: 10px;
$controlbar_primarybutton_radius: 18px;
$controlbar_primarybutton_padding: 8px;
$controlbar_primarybutton_vertical_padding: 16px;
$controlbar_primarybutton_font_weight: bold;
$controlbar_primarybutton_min_width: 3em;
$controlbar_primarybutton_font_size: 12px;
$controlbar_primarybutton_border: none;
$controlbar_primarybutton_horizontal_margin: 5px;
$controlbar_button_fontsize: 20px;
$controlbar_button_margin: 5px;
$controlbar_button_padding: 15px;
$controlbar_button_vertical_padding: 3px;
$controlbar_button_border_radius: 50%;
$controlbar_button_border: 1px solid $text_color;
$controlbar_button_size: 40px;
$controlbar_button_hover_background: #eeeeee;
$controlbar_button_hover_color: #000000;

// Theme Colors
$theme_color_blue: #2a74eb;
$theme_color_red: #eb6a74;
$theme_color_green: #5daa96;

$colors: (
  'red': $theme_color_red,
  'blue': $theme_color_blue,
  'green': $theme_color_green,
  'default': ''
);
