@keyframes #{$csscommon}-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes #{$csscommon}-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


@keyframes #{$csscommon}-fade-in-up {
    0% {
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
