@keyframes #{$csscommon}-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes #{$csscommon}-fade-in-up {
    0% {
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

div.#{$csscommon}-sticky {
    position: fixed;
    z-index: 10000;
}

.#{$csscommon}-sticky {
    &.#{$cssplayer}-viewport-desktop {
        width: 360px;
        &.#{$csscommon}-sticky-top-left {
            top: 20px;
            left: 20px;
        }

        &.#{$csscommon}-sticky-top-right {
            top: 20px;
            right: 20px;
        }

        &.#{$csscommon}-sticky-bottom-right {
            bottom: 20px;
            right: 20px;
        }

        &.#{$csscommon}-sticky-bottom-left {
            bottom: 20px;
            left: 20px;
        }
    }
    &.#{$cssplayer}-viewport-mobile {
        top: 0;
        left: 0;
        height: 75px;
    }
    max-width: 100%;
    animation: #{$csscommon}-fade-in 0.75s ease forwards;
}

.#{$csscommon}-fade-up {
    transform: translateY(100%);
    animation: #{$csscommon}-fade-in-up 0.75s ease forwards;
}
