@keyframes #{$csscommon}-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes #{$csscommon}-fade-in-up {
    0% {
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.#{$csscommon}-sticky-top-left {
    top: 20px;
    left: 20px;
}

.#{$csscommon}-sticky-top-right {
    top: 20px;
    right: 20px;
}

.#{$csscommon}-sticky-bottom-right {
    bottom: 20px;
    right: 20px;
}

.#{$csscommon}-sticky-bottom-left {
    bottom: 20px;
    left: 20px;
}

.#{$csscommon}-sticky {
    z-index: 10000;
    position: fixed !important;
    height: auto !important;
    min-height: initial !important;
    max-width: 360px;
    animation: #{$csscommon}-fade-in 0.75s ease forwards;
}

.#{$csscommon}-fade-up {
    transform: translateY(100%);
    animation: #{$csscommon}-fade-in-up 0.75s ease forwards;
}

@media (max-width: 980px) {
    .#{$csscommon}-sticky {
        max-width: 50%;
    }
}