.#{$csscommon}-tooltip-container .#{$csscommon}-tooltiptext {
    visibility: hidden;
    min-width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.#{$csscommon}-tooltip-container .#{$csscommon}-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.#{$csscommon}-tooltip-container .#{$csscommon}-tooltiptext {
    visibility: visible;
    animation: #{$csscommon}-fade-in 0.75s ease forwards;
}
