.#{$cssplayer}-fullscreen-view {
    div.#{$cssvideoplayer}-tooltips-list-container {
        height: auto;
        display: inline-block;
    }
}
.#{$csscommon}-tooltip-container {
    border-radius: 5px;
    background-color: #dddddd;
    color: #444950;
    cursor: text;
    display: inline-block;
    min-width: 80px;
    padding: 5px 10px;
    position: absolute;
    text-align: center;
    z-index: 10;
    &.#{$csscommon}-pause-on-hover {
        cursor: wait;
    }
    & > .#{$csscommon}-close-tooltip {
        display: inline;
        font-size: 10px;
        position: relative;
        bottom: 5px;
        border-radius: 50%;
        border: 1px solid;
        cursor: pointer;
    }
    .#{$csscommon}-tooltip-text {
        display: inline-block;
    }
    &.#{$csscommon}-tooltip-top-right {
        top: 20px;
        right: 20px;
    }
    &.#{$csscommon}-tooltip-top-left {
        top: 20px;
        left: 20px;
    }
    &.#{$csscommon}-tooltip-bottom-left {
        bottom: 50px;
        left: 20px;
    }
    &.#{$csscommon}-tooltip-bottom-right {
        bottom: 50px;
        right: 20px;
    }

    .#{$csscommon}-tooltip-progress-full {
        background: #efefef;
        bottom: 0;
        height: 2px;
        position: relative;
        top: 1px;
        width: 100%;
        .#{$csscommon}-tooltip-progress-passed {
            background: #0a0a0a;
            height: 2px;
        }
    }
}
