.#{$css}-container {
    display: inline-block;
    position: relative;
	overflow: hidden;
}

.#{$css}-audio {
    width: 100%;
    display: block;
}

.#{$css}-container audio::-webkit-media-controls-start-playback-button {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.#{$css}-stretch-height .#{$css}-container, .#{$css}-stretch-width .#{$css}-container {
	height:100%;
	overflow: hidden;
	position:relative;
	max-width: 100%;
	max-height: 100%;
	width: 100%;
}

.#{$css}-stretch-height .#{$css}-audio {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	min-width: 100%;
}

.#{$css}-stretch-width .#{$css}-audio {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	max-height: 100%;
	height:100%;
	width: 10000px;
}

.#{$css}-stretch-width, .#{$css}-stretch-height {
	display: inline-block;
	height:100%;
	width:100%;
}

.#{$cssplayer}-disabled {
	@include disabled_element();
	& * {cursor: not-allowed}
}