.#{$css}-container {
	background-color: #000000;
    display: inline-block;
	padding-bottom: $controlbar_height + $progressbar_height;
    position: relative;
	overflow: hidden;
}

.#{$css}-audio {
    width: 100%;
    display: block;
}

.#{$css}-container audio::-webkit-media-controls-start-playback-button {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.#{$cssplayer}-disabled {
	@include disabled_element();
	& * {cursor: not-allowed}
}
