.#{$csstheme}.#{$css}-container {

    .#{$css}-video {
        width: 100%;
        height: 100%;
        display: block;
        background-color: $recorder_bgcolor;
    }

    .#{$cssrecorder}-overlay {
        top: 0;
    }

}

.#{$csstheme}-dashboard {

    @include absolute-align-all();
    height: 100%;

    .#{$css}-controlbar {
        @include background-rgba( 0, 0, 0, .4, #979797);
        @include absolute-align-full-bottom();
        height: $controlbar_footer_height;
        padding: 0;
    }

    .#{$css}-button {
        border: none;
        @include right-box-shadow(#666666, 1);
        color: $text_color;
        cursor: pointer;
        float: left;
        height: $controlbar_footer_height;
        line-height: $controlbar_footer_height;
        text-align: center;
        width: $controlbar_footer_height;
    }

    .#{$css}-button-inner {
        border: none;
        border-radius: $controlbar_button_border_radius;
        color: $controlbar_button_color;
        cursor: pointer;
        font-size: inherit;
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .#{$css}-button-selected, .#{$css}-button-inner:hover, .#{$css}-button-selected {
        color: $controlbar_button_hover_color;
    }

    .#{$css}-indicator-container {
        border: none;
        color: $text_color;
        cursor: pointer;
        float: left;
        height: $controlbar_footer_height;
        line-height: $controlbar_footer_height;
        text-align: center;
        width: $controlbar_footer_height;
        .#{$css}-recording-indication {
            margin: 0;
            left: 50%;
        }
    }

    .#{$css}-rightbutton-container {
        padding: 0;
    }

    .#{$css}-settings-front {
        @include absolute-align-full-bottom();
    }

    .#{$css}-settings {
        bottom: 60px;
        label {
            font-family: $font_family;
            font-weight: 300;
            font-size: $settings_font_size;
        }
        input[type=radio]:checked + span {
            border: 3px solid $button_color;
        }
    }

    .#{$css}-button-primary {
        background-color: $chooser_primary_button_bgcolor;
        border: none;
        border-radius: 0;
        color: $text_color;
        display: inline-block;
        font-family: $font_family;
        font-weight: 300;
        font-size: $controlbar_primarybutton_font_size;
        margin: 0;
        padding: 0 25px;
        min-width: $controlbar_primarybutton_min_width;
        @include relative-align-all();
        @include transform-translate(0, 0);
        z-index: 10;
        height: $controlbar_height;
        line-height: $controlbar_height;
    }

    .#{$css}-settings-button {
        background-color: $settings_bgcolor;
        cursor: pointer;
        margin: 15px 0 0 15px;
    }

    .#{$css}-settings label {
        color: $text_color;
    }

    .#{$css}-bubble-info {
        @include settings_bubble_bottom_shape ( 100%, 4px, 0, 0, 0, 0.4, #ffffff, 10px );
    }

    // Avoid CSS Lint warning
    .#{$css}-bubble-info {
        border-radius: 0;
    }

    .#{$css}-controlbar-center-section {
        @include absolute-align-left();
        text-align: center;
        width: 100%;
    }

    .#{$css}-button-container {
        display: inline-block;
    }

    .#{$css}-label-container {
        text-align: center;
        width: 100%;
        .#{$css}-button-primary {
            background: none;
            @include border-right-rgba(1px, 255, 255, 255, 0.1, #191919);
            @include border-left-rgba(1px, 255, 255, 255, 0.1, #191919);
            color: $text_color;
            cursor: default;
        }
    }

    .#{$css}-stop-button-container {
        text-align: right;
        @include absolute-align-right-bottom();
    }

}