
.#{$css}-container {
    box-sizing: border-box;
    min-width: 320px;
    &.#{$cssplayer}-has-title {
        min-height: $controlbar_height + 30;
    }
    &.#{$cssplayer}-no-title {
        min-height: $controlbar_height;
    }

    &.#{$csstheme} {

        &.#{$cssplayer}-size-small .#{$csstheme}-time-container {
            display: block;
        }

        &.#{$cssplayer}-size-medium .#{$csstheme}-volumebar, .#{$cssplayer}-size-small .#{$csstheme}-volumebar {
            display: block;
        }

        &.#{$cssplayer}-size-medium .#{$csstheme}-volume-button-container, .#{$cssplayer}-size-small .#{$csstheme}-volume-button-container {
            display: block;
        }

    }
}


.#{$csstheme}-dashboard {
    @include absolute-align-full-bottom;
    @include transition1(opacity, $dashboard_transition, ease-in-out);
    background-color: $controlbar_background;
    border-top: 1px solid $button_border_color;
    box-sizing: content-box;
	height: $controlbar_height;
    opacity: 0.9;
    overflow: hidden;
}

.#{$cssnoie8} .#{$csstheme}-rightbutton-container {
    @include float-width-height(right, $button_width, 100%);
    @include clickable;
	box-sizing: content-box;
    border-left: 1px solid $button_border_color;
}

.#{$cssie8} .#{$csstheme}-rightbutton-container {
    @include float-width-height(right, $button_width, 50%);
    @include clickable;
	box-sizing: content-box;
    border-left: 1px solid $button_border_color;
}

.#{$cssnoie8} .#{$csstheme}-button-inner {
    @include relative-center-center;
    color: $button_color;
    font-size: $button_fontsize;
}

.#{$cssie8} .#{$csstheme}-button-inner {
    margin-top: $ie8_margintop + 6;
    text-align: center;
    color: $button_color;
    font-size: $button_fontsize;
}

.#{$cssie8} .#{$csstheme}-time-container {
    margin-top: $ie8_margintop + 5;
}

.#{$cssnoie8} .#{$csstheme}-volumebar {
    @include float-width-height(right, $volume_width, 100%);
    margin-right: $volume_height*2;
}

.#{$cssie8} .#{$csstheme}-volumebar {
    @include float-width-height(right, $volume_width, 50%);
    margin-top: $ie8_margintop+10;
    margin-right: $volume_height*2;
}

.#{$cssnoie8} .#{$csstheme}-progressbar {
    overflow: hidden;
    height: 100%;
    padding-left: $volume_height*2;
    padding-right: $volume_height*2;
}

.#{$cssie8} .#{$csstheme}-progressbar {
    overflow: hidden;
    height: 50%;
    padding-left: $volume_height*2;
    padding-right: $volume_height*2;
    margin-right: $button_width;
    margin-top: $ie8_margintop;
}

.#{$cssie8} .#{$csstheme}-title-container {
    display: none;
}

