.#{$css}-chooser-container{
  background: $chooser_backgroung;
}

.#{$css}-chooser-icon-container {
  color: $chooser_primary_button_bgcolor;
  font-size: $chooser_icon_size;
  margin: $chooser_icon_margin;
}

