@each $color, $value in $colors {
  @if $color != default {
    .#{$css}-#{$color}-color {

      .#{$css}-chooser-icon-container, .#{$css}-chooser-secondary-button,
      .#{$css}-button-selected, .#{$css}-button-circle-selected,
      .#{$css}-button-inner:hover {
        color: $value;
      }

      .#{$css}-chooser-primary-button, .#{$css}-button-primary,
      .#{$css}-settings span, .#{$css}-imagegallery-rightbutton, .#{$css}-imagegallery-leftbutton {
        background-color: $value;
      }

      .#{$css}-button-selected, .#{$css}-imagegallery-image:hover, .#{$css}-chooser-primary-button {
        border-color: $value;
      }

    }
  }
}