.#{$csstheme}.#{$css}-container {

    .#{$css}-imagegallery-container {
        left: 50px;
        right: 50px;
    }
}

.#{$css}-imagegallery-image, .#{$cssrecorder}-overlay img {
  border: none;
  @include border-radius($imagegallery_border_radius);
}

.#{$css}imagegallery-image:hover {
  border: 2px solid white;
}

.#{$css}-imagegallery-rightbutton, .#{$css}-imagegallery-leftbutton {
    border-radius: 50%;
    @include background-rgba( 0, 0, 0, 0.4, #979797);
    height: $imagegallery_buttonsize;
    width: $imagegallery_buttonsize;
    z-index: 10;
}