@each $color, $value in $colors {
  @if $color != default {
    .#{$css}-#{$color}-color {

      .#{$css}-button-circle-selected, .#{$css}-button-inner:hover,
      .#{$css}-button-selected, .#{$css}-loader-label {
        color: $value;
      }

      .#{$css}-chooser-button-0, .#{$css}-button-primary,
      .#{$css}-settings span, .#{$css}-imagegallery-rightbutton, .#{$css}-imagegallery-leftbutton {
        background-color: $value;
      }

      .#{$css}-imagegallery-image:hover {
        border-color: $value;
      }

      .#{$css}-message-message a {
        color: $value;
      }
    }
  }
}
