.#{$css}-imagegallery-image, .#{$css}-overlay img  {
  border: none;
  @include border-radius($imagegallery_border_radius);
}

.#{$css}-imagegallery-image:hover {
  @include border-rgba( 2px, 0, 0, 0, .4, #b2b2b2 );
}

.#{$css}-imagegallery-rightbutton, .#{$css}-imagegallery-leftbutton {
    border-radius: 50%;
    background-color: #4c4c4c;
    height: $imagegallery_buttonsize;
    width: $imagegallery_buttonsize;
    z-index: 10;
}

.#{$css}-icon-right-open:before{
  margin-right: 0;
}

.#{$css}-icon-left-open:before{
  margin-left: 0;
}
