.#{$csstheme}.#{$css}-container {

    .#{$css}-imagegallery-container {
        left: 50px;
        right: 50px;
    }
}


.#{$css}-imagegallery-image, .#{$cssrecorder}-overlay img  {
  border: none;
  @include border-radius($imagegallery_border_radius);
}

.#{$css}-imagegallery-image:hover {
  @include border-rgba( 2px, 0, 0, 0, .4, #b2b2b2 );
}

.#{$css}-imagegallery-rightbutton, .#{$css}-imagegallery-leftbutton {
    border-radius: 50%;
    background-color: #4c4c4c;
    height: $imagegallery_buttonsize;
    width: $imagegallery_buttonsize;
    z-index: 10;
}