.#{$recorder}-loader-label {
    font-size: $controlbar_primarybutton_font_size;
    @include absolute-align-full-bottom();
    top: auto;
    @include transform-translate(0, 0);
}

.#{$recorder}-loader-label-container {
    @include transform-translate(0, 0);
    @include absolute-align-full-bottom();
    height: $controlbar_height;
    text-align: center;
    width: 100%;
}

.#{$recorder}-wait-button-container {
    display: inline-block;
}

.#{$recorder}-button-primary {
    background: $button_color;
    @include border-radius($controlbar_primarybutton_radius);
    display: inline-block;
    font-family: $font_family;
    font-weight: 100;
    font-size: $controlbar_primarybutton_font_size;
    letter-spacing: 0.1em;
    padding: 6px 15px;
    @include transform-translate-y(0);
    z-index: 10;
}

.#{$recorder}-loader-countdown {
    .#{$recorder}-button-primary {
        @include background-rgba(0, 0, 0, .4, #999999);
        cursor: default;
    }
}

.#{$recorder}-wait-button-container {
    @include transform-translate-y(0);
    .#{$recorder}-button-primary {
        padding: 10px 20px;
    }
}
