@each $color, $value in $colors {
  @if $color != default {
    .#{$css}-#{$color}-color {

      .#{$css}-icon-play, .#{$css}-icon-pause, .#{$css}-button-inner,
      .#{$css}-icon-volume-up, .#{$css}-icon-resize-full, .#{$css}-icon-resize-small,
      &.#{$cssnoie8} .#{$css}-share-action-container .#{$css}-button-inner,
      .#{$css}-playbutton-button:hover::after {
        color: $value;
      }

      .#{$css}-progressbar-button, .#{$css}-stream-label-container .#{$css}-stream-label,
      .#{$css}-progressbar-position, .#{$css}-volumebar-position, .#{$css}-rerecord-button {
        background-color: $value;
      }

      .#{$css}-playbutton-button {
        border-left-color: $value;
      }

      .#{$css}-volumebar-inner {
        @include background-rgba(0, 0, 0, .3, #cecece);
      }

      &.#{$cssie8} .#{$css}-playbutton-container,
      &.#{$cssnoie8} .#{$css}-playbutton-container {
        border-color: $value;
      }
    }
  }
}
