/* Elevate */
.#{$csstheme}-dashboard {
    @include transition1(opacity, $dashboard_transition, ease-in-out);
    position: absolute;
    left: 2.5%;
    bottom: 10px;
    width: $dashboard_width;
    opacity: 0.75;
    overflow: hidden;
    z-index: 1;
}

.#{$csstheme}-dashboard-hidden {
    opacity: 0;
}

.#{$csstheme}-top-block {
    padding-top: 15px;
    width: 100%;
    clear: both;
}

.#{$cssie8} .#{$csstheme}-top-block {
    padding-top: 0;
    padding-bottom: 5px;
}

.#{$csstheme}-bottom-block {
    background-color: $controlbar_background;
    clear: both;
    height: $controlbar_bottom_height;
    overflow: hidden;
    width: 100%;
}

.#{$csstheme}-left-block {
    float: left;
    & > div {
        @include right-box-shadow($button_border_color, 1);
        float: left;
        font-size: $button_fontsize;
        color: $button_color;
        line-height: $controlbar_line_height - 1;
        text-align: center;
        width: $button_width;
    }
}

.#{$cssie8} .#{$csstheme}-left-block {
    & > div {
        //filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)"
    }
}

.#{$csstheme}-center-block {
    float: left;
    padding: 0 10px;
}

.#{$csstheme}-right-block {
    float: right;
    & > div {
        @include left-box-shadow($button_border_color, 1);
        float: right;
        line-height: $controlbar_line_height;
        text-align: center;
    }

    & > div:first-child {
        float: left;
        line-height: $controlbar_line_height - 1;
    }

}

.#{$csstheme}-top-right-block {
    float: right;
    .#{$csstheme}-time-value {
        text-align: right;
    }
}

.#{$csstheme}-button-container {
    width: $button_width;
    text-align: center;
}

.#{$csstheme}-dashboard {
    .#{$css}-icon-play, .#{$css}-icon-pause {
        color: $button_color;
    }

    .#{$css}-icon-volume-up, .#{$css}-icon-play, .#{$css}-icon-pause,
    .#{$css}-icon-resize-full, .#{$css}-icon-volume-down {
        display: inline-block;
        &:before {
            font-size: $text_fontsize;
            margin: 0;
            line-height: inherit;
        }
    }

    .#{$cssie8} .#{$css}-icon-volume-down {
        &:before {
            font-size: $text_fontsize + 1;
        }
    }

    .#{$css}-icon-volume-up {
        color: $button_color_secondary;
    }
}


.#{$cssnoie8} .#{$csstheme}-button-inner {
    //@include relative-center-center;
    color: $button_color;
    font-size: $button_fontsize;
}

.#{$cssie8} .#{$csstheme}-button-inner {
    color: $button_color;
    font-size: $button_fontsize;
    margin-left: 3px;
}

.#{$csstheme}-button-inner {
    @include clickable;
}

.#{$csstheme}-time-container {
    @include float-width-height(left, $time_value_width, 100%);
    position: relative;
    top: $progressbar_height + 2;
    text-align: center;
    font-family: $text_fontfamily;
    font-size: $text_fontsize;
	box-sizing: content-box;
    border: none;
}

.#{$cssie8} .#{$csstheme}-time-container {
   top: $progressbar_height - 1;
}

.#{$csstheme}-time-value {
    color: #ffffff;
    @include text-shadow(#000000, 4);
    @include relative-center-center;
    float: left;
    font-size: $text_fontsize;
    width: $time_value_width;
    letter-spacing: 0.1em;
}

.#{$cssnoie8} .#{$csstheme}-volumebar {
    @include float-width-height(right, $volume_width, 100%);
    margin-right: $volume_height*2;
}

.#{$cssie8} .#{$csstheme}-volumebar {
    @include float-width-height(right, $volume_width, 50%);
}

.#{$csstheme}-progressbar {
    overflow: hidden;
    height: 100%;
}

.#{$csstheme}-progressbar {
    padding: 10px 0 5px;
}

.#{$csstheme}-progressbar-inner {
    @include relative-center-center;
    @include border-radius($progressbar_height / 4);
    @include clickable;
    background-color: $progressbar_cache_bgcolor;
    height: $progressbar_height;
}

.#{$csstheme}-progressbar.#{$csstheme}-disabled {
    & .#{$csstheme}-progressbar-cache, & .#{$csstheme}-progressbar-inner, & .#{$csstheme}-progressbar-position {cursor: not-allowed}
}

.#{$csstheme}-progressbar-cache {
    @include absolute-align-left;
    @include border-round-edges($volume_height / 2);
    @include clickable;
    background-color: $progressbar_cache_bgcolor;
    height: $progressbar_height;
}

.#{$csstheme}-progressbar-position {
    @include absolute-align-left();
    background-color: $progressbar_button_overflow;
    height: 100%;
}

.#{$csstheme}-progressbar-button {
    @include border-radius(50%);
    box-sizing: content-box;
    display: inline-block;
    position: absolute;
    right: -15px;
    top: $progressbar_height / -2;
    z-index: 1;
    background-color: $button-color;
    border: ($progressbar_height / 2) solid #666666;
    height: $progressbar_height;
    width: $progressbar_height;
}

.#{$csstheme}-button-text {
	font-family: sans-serif;
    font-weight: normal;
    font-size: 10px;
}

.#{$css}-size-small .#{$csstheme}-time-container, .#{$css}-size-small .#{$csstheme}-center-block {
	display: none;
}

.#{$css}-size-medium .#{$csstheme}-volumebar {
	display: none;
}

.#{$css}-size-medium .#{$csstheme}-volume-button-container, .#{$css}-size-small .#{$csstheme}-volume-button-container {
	display: none;
}

.#{$css}-size-medium .#{$csstheme}-right-time-container{
    display: none;
}

.#{$csstheme}-video-title-block > p {
    font-size: $text_fontsize;
    color: $controlbar_video_title_color;
    line-height: $controlbar_line_height;
    margin: 0;
    & > span {
        color: $text_color;
        font-weight: bold;
        font-size: 1em;
    }
}

.#{$csstheme}-stream-label-container {
    .#{$csstheme}-stream-label {
        @include clickable;
        background-color: $stream_label_bg_color;
        color: $stream_label_color;
        padding: 3px;
    }
}

.#{$csstheme}-left-block .#{$csstheme}-volumebar {
    float: left;
    height: $controlbar_bottom_height;
    width: $volume_width;
}

.#{$csstheme}-volumebar-inner {
    @include relative-center-center;
    @include border-round-edges($volume_height / 2);
    @include clickable;
    background-color: $volumebar_cache_bgcolor;
    height: $volume_height;
    margin: 0 5px;
}

.#{$cssie8} .#{$csstheme}-volumebar-inner {
    margin-top: -3px;
}

.#{$csstheme}-volumebar-position {
    @include border-round-edges($volume_height / 2);
    @include absolute-align-left();
    background-color: $progressbar_button_overflow;
    height: 100%;
}

.#{$csstheme}-top-left-block {
    float: left;
}

.#{$cssnoie8} .#{$csstheme}-full-screen-btn-inner {
    padding-left: 4px;
}

.#{$csstheme}-dashboard .#{$css}-icon-resize-full {
    color: $button_color_secondary;
}

.#{$css}-size-small .#{$csstheme}-volumebar {
    display: none;
}

.#{$css}-size-small .#{$csstheme}-dashboard {
    width: 100%;
}

.#{$csstheme}-video-title-block > p, .#{$csstheme}-left-block .#{$csstheme}-volumebar,
.#{$csstheme}-button-inner {
  padding-top: 1px;
}

.#{$csstheme}-cast-button-container button {
    //--connected-color: #00cc00;
    //--disconnected-color: #000000;
    @include transparent(0.7);
    background: transparent;
    border: none;
    cursor: pointer;
    //outline: none;
    padding-top: 7px;
    width: 32px;
}

.#{$csstheme}-airplay-container {
    @include clickable();
    padding-top: 2px;
    svg path {
        fill: #000000;
    }
}

.#{$csstheme}-cc-inactive {
    background-color: transparent;
    .#{$css}-icon-subtitle {
        color: #666666;
    }
}

.#{$csstheme}-cc-active {
    background: #000000;
    .#{$csstheme}-button-inner {
        padding-top: 2px;
    }
    .#{$css}-icon-subtitle {
        color: #eeeeee;
    }
}

.#{$csstheme}-rerecord-bar {
    @include absolute-align-full-bottom;
}

.#{$csstheme}-rerecord-backbar {  }

.#{$csstheme}-rerecord-frontbar {
    @include relative-align-full-bottom;
    height: $rerecord_height;
    overflow: hidden;
    padding-left: $rerecord_padding;
    padding-right: $rerecord_padding;
    text-align: center;
}

.#{$csstheme}-rerecord-button-container {
    display: inline-block;
}

.#{$csstheme}-rerecord-button {
    background-color: $rerecord_primarybutton_color;
    border-radius: $rerecord_primarybutton_radius;
    color: $rerecord_primarybutton_text_color;
    @include clickable;
    font-family: $rerecord_font_family;
    font-weight: $rerecord_primarybutton_font_weight;
    font-size: $rerecord_primarybutton_font_size;
    padding: $rerecord_primarybutton_padding;
    letter-spacing: $rerecord_letter_spacing;
}