@each $color, $value in $colors {
  @if $color != default {
    .#{$cssplayer}-#{$color}-color {

      .#{$csstheme}-title p, .#{$csstheme}-button-inner,
      .#{$csstheme}-controlbar-top-block .#{$csstheme}-button-container .#{$csstheme}-button-inner {
        color: $value;
      }

      // Main play button
      &.#{$cssnoie8} {
        .#{$csstheme}-playbutton-container {
          border-color: $value;
        }
        .#{$csstheme}-playbutton-button::after {
          color: $value;
        }
      }

      .#{$csstheme}-right-button-container {
        &.#{$cssplayer}-button-active .#{$csscommon}-icon-subtitle,
        &.#{$csscommon}-settings-visible .#{$csscommon}-icon-cog {
          color: $value;
        }
        &.#{$cssplayer}-button-inactive, &.#{$csscommon}-settings-hidden {
          background-color: $value;
        }

        &.#{$cssplayer}-button-inactive .#{$csscommon}-icon-subtitle {
          color: $cc_label_text_color;
        }
      }

      .#{$csstheme}-volumebar-position, .#{$csstheme}-stream-label, .#{$csstheme}-progressbar-position,
      .#{$csstheme}-time-container, .#{$csstheme}-progressbar-button, .#{$csstheme}-rerecord-button, .#{$csstheme}-playbutton-duration {
        background-color: $value;
      }

    }
  }
}
