.#{$css}-dashboard {
    @include absolute-align-full-bottom;
    @include transition1(opacity, $dashboard_transition, ease-in-out);
    //opacity: 0.9;
    height: $controlbar_height;
    overflow: hidden;
    margin: 0 4%;
}

.#{$css}-button-container {
    font-family: $font_family;
    font-weight: 100;
    display: inline-block;
    width: $button_width;
    color: $button_color;
}

/* Control Bar Header*/
.#{css}-controlbar-header {
  height: $controlbar_header_height;
  position: absolute;
  top: 0; left: 0; z-index: 10;
}

.#{$cssnoie8} .#{$css}-controlbar-header .#{css}-rightbutton-container {
  width: 21px;
}

.#{$css}-controlbar-header {
  line-height: $topmessage_height / 2;
  padding: 0;
  text-align: left;
  font-size: 0.65rem;
  letter-spacing: .05rem;
  font-weight: 100;
  z-index: 10;
  .#{$css}-right-block {
    line-height: $topmessage_height - 10px;
  }
}

.#{$css}-title {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 30px;
  h4 {
    color: $text_color;
    letter-spacing: .1em;
    font-weight: 100;
    font-family: $font_family;
    margin: 0;
  }
}

.#{$cssnoie8} .#{$css}-controlbar-header .#{$css}-button-inner {
  text-align: right;
  @include transform-translate-y(0);
}

.#{$cssnoie8} .#{$css}-topmessage-container .#{$css}-rightbutton-container {
  width: 25px; padding-top: 5px;
}

.#{$css}-controlbar-header .#{$css}-button-container {
    width: 20px;
}

/* Control Bar Footer*/
.#{$css}-controlbar-footer{
  position:relative; height: 100%;
}

.#{$css}-controlbar-top-block {
    height: 100%;
    .#{$css}-button-container {
        position: relative;
        margin: 0 auto;
        height: 100%;
        width: 100%;
        .#{$css}-button-inner {
            top: 38%;
            color: $playbutton_color;
            //opacity: $playbutton_background_opacity;
            font-size: $playbutton_size;
        }
    }
}

.#{$css}-right-block {
    float: right;
}

.#{$css}-icon-pause {
    opacity: 0;
}

.#{$cssnoie8} .#{$css}-button-inner {
    @include relative-center-center;
    color: $button_color;
    font-size: $button_fontsize;
}

.#{$cssie8} .#{$css}-button-inner {
    margin-top: $ie8_margintop + 6;
    text-align: center;
    color: $button_color;
    font-size: $button_fontsize;
    margin-left: 3px;
}

.#{$css}-controlbar-middle-block {
    position: relative;
    bottom: 45px;
}

.#{$css}-progressbar {
    height: $progressbar_container_height;
}

.#{$cssnoie8} .#{$css}-progressbar {
    overflow: hidden;
}

.#{$cssie8} .#{$css}-progressbar {
    overflow: hidden;
    padding-left: $volume_height*2;
    padding-right: $volume_height*2;
    margin-right: $button_width;
    margin-top: $ie8_margintop;
}

.#{$css}-progressbar-cache {
    @include absolute-align-left;
    @include clickable;
    @include background-rgba(255, 255, 255, .3, #b2b2b2);
    //background-color: $progressbar_cache_bgcolor;
    height: $progressbar_height;
    //@include ie_supported_rgba(#ffffff, 255, 255, 255, 0.3);
}

//.#{$cssie8}-progressbar-cache{}

.#{$css}-progressbar-inner {
    @include relative-center-center;
    @include clickable;
    @include background-rgba(255, 255, 255, .3, #b2b2b2);
    //background: $controls_bgcolor;
    height: $progressbar_height;
}

.#{$css}-progressbar-position {
    @include absolute-align-left();
    background-color: $progressbar_button_overflow;
    height: 100%;
}


.#{$css}-progressbar-button {
    @include border-radius(50%);
    background: $progressbar_button_overflow;
    box-sizing: content-box;
    border: none;
    position: absolute;
    right: -7px;
    top: $progressbar_height / -2;
    z-index: 1;
    width: 8px;
    height: 8px;
}

.#{$css}-controlbar-bottom-block{
    position: relative;
    bottom: 40px;
}

.#{$css}-time-container {
    @include color-rgba(255, 255, 255, 0.35, #b2b2b2);
    width: $button_width * 2.2;
    float: left;
    //color: $text_secondary_color;
    letter-spacing: .1em;
    font-size: .8em;
    & > div {
        float: left;
        //opacity: $text_secondary_color_opacity;
        &:first-child{
            color: $text_color;
        }
    }
    & > div:first-child{
      //opacity: 1;
    }
    & > p {
        float: left;
        margin: 0 3px;
    }
}

.#{$css}-stream-label {
    margin-top: 15px;
    font-size: .7em;
    display: inline-block;
    padding: 4px 3px 3px 4px;
    background-color: $stream_label_bg_color;
    color: $stream_label_color;
}

.#{css}-size-small  .#{$css}-controlbar-top-block {
    .#{$css}-button-container {
        .#{$css}-button-inner {
            font-size: $playbutton_size / 2;
        }
    }
}
