.#{$css}-dashboard {
    //@include absolute-align-full-bottom;
    //@include transition1(opacity, $dashboard_transition, ease-in-out);
    //opacity: 0.9;
    height: $controlbar_height;
    overflow: hidden;
    padding: 0 4%;
}

.#{$css}-button-container {
    font-family: $font_family;
    font-weight: 100;
    display: inline-block;
    width: $button_width;
    color: $button_color;
}

/* Control Bar Header*/
.#{$css}-controlbar-header {
  @include background-rgba( 0,0,0, 0.3, #ddd );
  height: $controlbar_header_height;
  left: 0;
  letter-spacing: .05rem;
  line-height: $topmessage_height / 2;
  padding: 0;
  position: absolute;
  text-align: left;
  width: 100%;
  .#{$css}-right-block {
    line-height: $topmessage_height - 10px;
    position: absolute;
    right: 4%;
    z-index: 100;
  }
}

.#{$cssie8} .#{$css}-controlbar-header {
  display: none;
}

.#{$css}-controlbar-header-title-block {
  position: relative;
  width: 100%;
  z-index: 10;
}

.#{$cssie8} .#{$css}-controlbar-header .#{$css}-right-block {
  position: relative;
}

.#{$cssie8} .#{$css}-controlbar-header-title-block {
  left: 50px;
}

.#{$css}-title {
  h4 {
    color: $text_color;
    font-family: $font_family;
    font-size: $controlbar_video_title_font_size;
    font-weight: 100;
    letter-spacing: .1em;
    line-height: $topmessage_height - 10;
    margin: 0;
    padding: 0 0 0 15px;
    text-align: left;
  }
}

.#{$cssnoie8} .#{$css}-controlbar-header .#{$css}-button-inner {
  text-align: right;
  @include transform-translate-y(0);
}

.#{$cssnoie8} .#{$css}-topmessage-container .#{$css}-rightbutton-container {
  width: 25px; padding-top: 5px;
}

.#{$css}-controlbar-header .#{$css}-button-container {
    width: 20px;
}

/* Control Bar Footer*/
.#{$css}-controlbar-footer {
  position:relative;
  height: 100%;
}

.#{$css}-controlbar-top-block {
    height: 100%;
    .#{$css}-button-container {
        position: relative;
        margin: 0 auto;
        height: 100%;
        width: 100%;
        .#{$css}-button-inner {
            @include color-rgba(255, 255, 255, 0.6, #e5e5e5);
            font-size: $controlbar_playbutton_font_size;
        }
    }
}

.#{$css}-button-inner { @include clickable; z-index: 100; position: relative; }

.#{$css}-right-block {
    float: right;
}

.#{$cssnoie8} .#{$css}-button-inner {
    @include relative-center-center;
    color: $button_color;
    font-size: $button_fontsize;
}

.#{$cssie8} .#{$css}-button-inner {
    margin-top: $ie8_margintop + 6;
    text-align: center;
    color: $button_color;
    font-size: $button_fontsize;
    margin-left: 3px;
}

.#{$css}-controlbar-middle-block {
    position: relative;
    bottom: 45px;
}

.#{$css}-progressbar {
    height: $progressbar_container_height;
}

.#{$cssnoie8} .#{$css}-progressbar {
    overflow: hidden;
}

.#{$cssie8} .#{$css}-progressbar {
    overflow: hidden;
    padding-left: $volume_height*2;
    padding-right: $volume_height*2;
    margin-right: $button_width;
    margin-top: $ie8_margintop;
}

.#{$css}-progressbar-cache {
    @include absolute-align-left;
    @include clickable;
    @include background-rgba(255, 255, 255, .3, #b2b2b2);
    //background-color: $progressbar_cache_bgcolor;
    height: $progressbar_height;
    //@include ie_supported_rgba(#ffffff, 255, 255, 255, 0.3);
}

//.#{$cssie8}-progressbar-cache{}

.#{$css}-progressbar-inner {
    @include relative-center-center;
    @include clickable;
    @include background-rgba(255, 255, 255, .3, #b2b2b2);
    //background: $controls_bgcolor;
    height: $progressbar_height;
}

.#{$css}-progressbar-position {
    @include absolute-align-left();
    background-color: $progressbar_button_overflow;
    height: 100%;
}


.#{$css}-progressbar-button {
    @include border-radius(50%);
    background: $progressbar_button_overflow;
    box-sizing: content-box;
    border: none;
    position: absolute;
    right: -7px;
    top: $progressbar_height / -2;
    z-index: 1;
    width: 8px;
    height: 8px;
}

.#{$css}-controlbar-bottom-block{
    position: relative;
    bottom: 40px;
}

.#{$css}-player-rerecord {
  position: relative;
  top: 5px;
}

.#{$css}-time-container {
    @include color-rgba(255, 255, 255, 0.35, #b2b2b2);
    float: left;
    font-size: .8em;
    letter-spacing: .1em;
    margin-right: 15px;
    padding: 1px 3px;
  margin-top: -1px;
  background: #676f76;
  opacity: 0.75;
    width: auto;
    & > div {
        float: left;
        //opacity: $text_secondary_color_opacity;
        &:first-child{
            color: $text_color;
        }
    }
    & > div:first-child{
      //opacity: 1;
    }
    & > p {
        float: left;
        margin: 0 3px;
    }
}

.#{$css}-stream-label {
    margin-top: 15px;
    font-size: .7em;
    display: inline-block;
    padding: 4px 3px 3px 4px;
    background-color: $stream_label_bg_color;
    color: $stream_label_color;
  opacity: 0.75;
}

.#{css}-size-small  .#{$css}-controlbar-top-block {
    .#{$css}-button-container {
        .#{$css}-button-inner {
            font-size: $controlbar_playbutton_font_size / 2;
        }
    }
}

.#{$css}-volumebar {
  float: right;
  height: $controlbar_header_height;
  margin-left: 10px;
  position: relative;
  width: $volume_width;
  z-index: 10;
}

.#{$css}-volumebar-inner {
  @include relative-center-center;
  @include border-round-edges($volume_height / 2);
  @include clickable;
  @include background-rgba(93, 170, 150, 0.3, #cee5df);
  height: $volume_height;
}

.#{$css}-volumebar-position {
  @include border-round-edges($volume_height / 2);
  @include absolute-align-left();
  background-color: $progressbar_button_overflow;
  height: 100%;
}

.#{$css}-size-medium {

  .#{$css}-controlbar-top-block {
    .#{$css}-button-container {
      .#{$css}-button-inner {
        font-size: $controlbar_playbutton_font_size - .5;
      }
    }
  }
}

.#{$css}-size-small {
  .#{$css}-volumebar {
    display: none;
  }

  .#{$css}-controlbar-header {
    top: 7px;
  }

  .#{$css}-controlbar-top-block {
    .#{$css}-button-container {
      .#{$css}-button-inner {
        font-size: $controlbar_playbutton_font_size - .7;
      }
    }
  }

  .#{$css}-controlbar-middle-block {
    bottom: 40px;
  }

  .#{$css}-controlbar-bottom-block {
    bottom: 38px;
  }

  .#{$css}-time-container{
    font-size: .7em;
  }
}
