/* Full screen options */

.#{$css}-fullscreen-view {

  @include hide-dom-shadow-media-control();

  .#{$csstheme}-dashboard {
    bottom: 0;
  }

  .#{$csstheme}-video-title-block {
    top: 0;
  }

  &.#{$css}-firefox-browser {

    .#{$csstheme}-dashboard, .#{$csstheme}-video-title-block {
      z-index: 100;
    }
  }

  &.#{$css}-size-small {
    .#{$csstheme}-controlbar-header {
      top: 0;
    }
    .#{$csstheme}-volumebar {
      display: block;
    }
  }
}