
.#{$cssnoie8} .#{$css}-playbutton-container {
    @include absolute-center-center;
    @include border-rgba($playbutton_frame_thickness, 255, 255, 255, $playbutton_default_opacity, #999);
    @include box-shadow($cover_playbutton_shadow, 22);
    @include transition1(all, $playbutton_transition_time, ease-in-out);
    @include transform-translate(-50%, -50%);
    border-radius: 50%;
    box-sizing: content-box;
    cursor: pointer;
    font-size: $playbutton_font_size;
    height: 10em;
    text-align: center;
    width: 10em;
    &:focus {
        outline: none;
        border-radius: 50%;
        border-color: #1b8fcc;
        @include box-outline-shadow(#1b8fcc, 2px);
        &:hover, &:active {
            border: none;
        }
    }
}

.#{$cssnoie8} .#{$css}-playbutton-container:hover {
    @include box-shadow($cover_playbutton_hover_shadow, 22);
   // border-color: $cover_playbutton_border_hover_color;
    .#{$css}-playbutton-button::after {
        @include text-shadow($cover_playbutton_hover_shadow, 4);
    }
}

.#{$cssnoie8} .#{$css}-playbutton-button::after {
    @include fontello-icon;
    @include text-shadow($cover_playbutton_shadow, 4);
    @include transition1(all, $playbutton_transition_time, ease-in-out);
    content: "\e805";
    color: $cover_playbutton_color;
    font-size: 4.6em;
}

.#{$cssnoie8} .#{$css}-playbutton-button::after {
    line-height: 2.3em;
    margin-left: 0.1em;
    width: 100%;
}

.#{$css}-playbutton-button:hover::after {
   // color: $cover_playbutton_hover_color;
}

.#{$css}-rerecord-bar {
    @include absolute-align-full-bottom;
}

.#{$css}-rerecord-backbar {  }

.#{$css}-rerecord-frontbar {
    @include relative-align-full-bottom;
    height: $rerecord_height;
    overflow: hidden;
    padding-left: $rerecord_padding;
    padding-right: $rerecord_padding;
    text-align: center;
}

.#{$css}-rerecord-button-container {
    display: inline-block;
}

.#{$css}-rerecord-button {
    background-color: $rerecord_primarybutton_color;
    border-radius: 18px;
    color: $rerecord_primarybutton_text_color;
    @include clickable;
    font-family: $rerecord_font_family;
    font-weight: $rerecord_primarybutton_font_weight;
    font-size: $rerecord_primarybutton_font_size;
    padding: $rerecord_primarybutton_padding;
    letter-spacing: $rerecord_letter_spacing;
}
