
.#{$css}-share-action-container {
  @include transition1(all, 0.3s, ease-in-out 0.2s);
  position: absolute;
  right: -1 * $share_container_width / 2;
  top: $share_container_top;
  width: $share_container_width;
  .#{$css}-button-inner {
    @include transform-translate-y(0);
    top: 0;
  }
}

.#{$css}-share-action-container:hover {
  @include transform-translate( -1 * $share_container_width / 2, 0);
}

.#{$css}-toggle-share-container {
  @include background-rgba(0, 0, 0, 0.3, #979797);
  border-bottom-left-radius: $open_share_button_border_radius;
  border-top-left-radius: $open_share_button_border_radius;
  color: white;
  float: left;
  font-size: $open_share_button_font_size;
  line-height: $open_share_button_box_size;
  text-align: center;
  width: $share_container_width / 2;

}

.#{$css}-social-buttons-container {
  float: right;
  width: $share_container_width / 2;
}

.#{$css}-socials-list {
  @include background-rgba(0, 0, 0, 0.3, #979797);
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  & > li {
    font-size: $share_icon_font_size;
    height: $share_icon_container_height;
    width: $share_icon_container_width;
    line-height: $open_share_button_box_size;
  }
}



