$css: "ba-videoplayer-minimalist-theme";
$cssie8: "ba-videoplayer-ie8";
$cssnoie8: "ba-videoplayer-noie8";
$fontello_name: "bjsmc";

$loader_size: 5px;
$loader_frame_thickness: 0.6em;

$message_bgcolor: black;
$message_opacity: 0.75;
$message_color: white;

$font_family: sans-serif;
$topmessage_bgcolor: black;
$topmessage_opacity: 0.3;
$topmessage_fontsize: 12px;
$topmessage_height: 50px;
$topmessage_fontweight: bold;

$playbutton_size: 50px;
$playbutton_color: rgba( 255, 255, 255, 0.35);
$playbutton_frame_thickness: 0.6em;
$playbutton_default_opacity: 0.6;
$playbutton_hover_opacity: 0.9;
$playbutton_transition_time: .25s;
$playbutton_background_opacity: 0.2;
$playbutton_font_size: 7px;

$controlbar_playbutton_font_size: 2.5em;
$controlbar_header_height: 40px;
$controlbar_video_title_font_size: 12px;

$full_screen_background: #b2b2b2;

$dashboard_transition: 0.5s;
$controlbar_height: 100%;
$controlbar_background: rgba(0, 0, 0, 0.4);
$button_fontsize: 13px;
$button_width: 40px;
$button_color: #ffffff;
$button_color_green: #5da894;
$button_color_blue: #2a74eb;
$button_border_color: #dbdbdb;
$time_value_width: 100px;
$ie8_margintop: 6px;
$text_fontfamily: Helvetica Neue, Helvetica, Arial, sans-serif;
$text_fontsize: 13px;
$text_color: #ffffff;
$text_secondary_color: rgba( 250, 254, 255, 0.35 );
$controls_bgcolor: rgba( 255, 255, 255, 0.2);
$volume_width: 60px;
$volume_height: 6px;
$progressbar_cache_bgcolor: rgba( 255, 255, 255, 0.3);
$progressbar_cache_bgcolor_ie_hex: 30ffffff;
$progressbar_button_overflow: #5daa96;
$progressbar_container_height: 15px;
$progressbar_height: 4px;
$stream_label_bg_color: #676f76;
$stream_label_color: rgba(255, 255, 255, 1);


$rerecord_text_color: white;
$rerecord_font_family: sans-serif;


$rerecord_height: 48px;
$rerecord_opacity: 0.5;
$rerecord_bgcolor: black;
$rerecord_padding: 24px;
$rerecord_padding: 16px;
$rerecord_primarybutton_radius: 0;
$rerecord_primarybutton_color: #5daa96;
$rerecord_primarybutton_text_color: white;
$rerecord_primarybutton_padding: 9px 20px;
$rerecord_primarybutton_vertical_padding: 16px;
$rerecord_primarybutton_font_weight: 100;
$rerecord_primarybutton_font_size: 12px;
$rerecord_letter_spacing: .1em;

// Sidebar share
$share_container_top: 50px;
$share_container_width: 90px;
$share_container_right: 15px;
$open_share_button_color: #ffffff;
$open_share_button_border_radius: 5px;
$open_share_button_size: 13px;
$open_share_button_top: 30px;
$open_share_button_box_size: 45px;
$open_share_button_font_size: 14px;
$open_share_button_z-index: 100;
$share_icon_font_size: 14px;
$share_icon_container_height: 45px;
$share_icon_container_width: 45px;

// Theme Colors
$theme_color_blue: #2a74eb;
$theme_color_red: #eb6a74;
$theme_color_green: #5da894;

$colors: (
  'red': $theme_color_red,
  'blue': $theme_color_blue,
  'green': $theme_color_green
);
