.#{$cssnoie8} .#{$csstheme}-topmessage-message .#{css}-rightbutton-container {
  width: 21px;
}

.#{$csstheme}-topmessage-background {
  background-color: transparent;
  position: relative;
  height: 40px;
}

.#{$csstheme}-topmessage-message {
  line-height: $topmessage_height / 2;
  padding: 0;
  text-align: left;
  font-size: 0.65rem;
  letter-spacing: .05rem;
  font-weight: 300;
}

.#{$csstheme}-topmessage-message {
  margin: 0 2.5%;
  .#{$csstheme}-right-block {
    height: $topmessage_height;
    line-height: $topmessage_height;
  }
}

.#{$cssnoie8} .#{$csstheme}-topmessage-message .#{$csstheme}-button-inner {
  @include transform-translate-y(0);
}

.#{$cssnoie8} .#{$csstheme}-topmessage-container .#{$csstheme}-rightbutton-container {
  width: 25px;
}

.#{$csstheme}-topmessage-message .#{$csstheme}-button-container {
    width: 20px;
}
