.#{$css}-text-tracks-overlay {
    @include absolute-align-full-bottom;
}

.#{$css}-text-tracks-overlay {
    @include absolute-align-full-bottom-above-control-bar(43px);
    .#{$csscommon}-options-popup {
        right: 4%;
    }
}

.#{$css}-cue-content {
    @include relative-horizontally-center();
    background: #2c2c2c;
    color: #eeeeee;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 60%;
}

.#{$css}-tracks-selector-list {
    @include absolute-align-right-bottom;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 1;
}

.#{$css}-tracks-selector {
    padding: 5px 20px;
    background: #020202;
    color: #eeeeee;
    cursor: pointer;
    &:hover {
        background-color: #4c4c4c;
        color: #ffffff;
    }
}

.#{$css}-tracks-selector-list-open {
    @include show-slow(0.2);
}

.#{$css}-tracks-selector-list-closed {
    @include hide-slow(0.2);
}
