$progressbar_height: 9px;
$progressbar_height_small: 3px;
$progressbar_button_border: 1px;
$progressbar_button_overflow: 1px;
$controlbar_height: 30px;
$button_width: 50px;
$volume_width: 100px;
$volume_height: 8px;
$time_value_width: 40px;
$time_sep_width: 15px;

$progressbar_transition: 0.1s;
$button_fontsize: 14px;
$text_fontsize: 13px;
$text_fontfamily: Arial, sans-serif;
$controlbar_opacity: 0.7;

$progressbar_bgcolor: #999;
$progressbar_position_bgcolor: #8CF;
$progressbar_cache_bgcolor: #EEE;
$progressbar_button_bgcolor: #FFF;
$progressbar_button_bordercolor: #999;
$controlbar_bgcolor: #000;
$text_color: #FFF;




@mixin align-full-bottom {
    left: 0;
    right: 0;
    bottom: 0;
} 

@mixin align-left {
    position: absolute;
    left: 0;
}

@mixin border-radius($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

@mixin left-container-width($width) {
    float: left;
    height: 100%;
    width: $width;
}

@mixin right-container-width($width) {
    float: right;
    height: 100%;
    width: $width;
}

@mixin horizontal-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin round-edges($width) {
    border-bottom-left-radius: $width;
    border-bottom-right-radius: $width;
    border-top-left-radius: $width;
    border-top-right-radius: $width;
};



.#{$css}-dashboard {
    @include align-full-bottom;
    position: absolute;
}



.#{$css}-progressbar {
    height: $progressbar_height;
    background: $progressbar_bgcolor;
    cursor: pointer;
    transition: height $progressbar_transition;
}

.#{$css}-progressbar-small {
    height: $progressbar_height_small;
}
 

.#{$css}-progressbar-position {
    @include align-left;
    background-color: $progressbar_position_bgcolor;
    height: $progressbar_height;
    transition: height $progressbar_transition;
}

.#{$css}-progressbar-small .#{$css}-progressbar-position {
    height: $progressbar_height_small;
}

.#{$css}-progressbar-cache {
    @include align-left;
    background-color: $progressbar_cache_bgcolor;
    height: $progressbar_height;
    transition: height $progressbar_transition;
}

.#{$css}-progressbar-small .#{$css}-progressbar-cache {
    height: $progressbar_height_small;
}

.#{$css}-progressbar-button {
    $radius: floor(($progressbar_height + 2 * $progressbar_button_overflow)/2);
    @include border-radius($radius);
    background: $progressbar_button_bgcolor;
    box-sizing: content-box;
    border: $progressbar_button_border solid $progressbar_button_bordercolor;
    position: absolute;
    right: -$radius;
    top: -($progressbar_button_border + $progressbar_button_overflow);
    z-index: 1;
    width: $progressbar_height + 2 * $progressbar_button_overflow;
    height: $progressbar_height + 2 * $progressbar_button_overflow;
}

.#{$css}-progressbar-small .#{$css}-progressbar-button {
    display: none;
}


.#{$css}-backbar {
    @include align-full-bottom();
    position: absolute;
    height: $controlbar_height;
    background: $controlbar_bgcolor;
    opacity: $controlbar_opacity;
}

.#{$css}-controlbar {
    @include align-full-bottom();
    position: relative;
    height: $controlbar_height;
    overflow: hidden;
}


.#{$css}-leftbutton-container {
    @include left-container-width($button_width);
}

.#{$css}-rightbutton-container {
    @include right-container-width($button_width);
}


.#{$css}-button-inner {
    @include horizontal-center;
    text-align: center;
    cursor: pointer;
    color: $text_color;
    font-size: $button_fontsize;        
}

.#{$css}-time-container {
    @include left-container-width(2 * $time_value_width + $time_sep_width);
    text-align: center;
    font-family: $text_fontfamily;
    font-size: $text_fontsize;
    color: $text_color;
}

.#{$css}-time-value {
    @include horizontal-center;
    float: left;
    width: $time_value_width;
}

.#{$css}-time-sep {
    @include horizontal-center;
    float: left;
    width: $time_sep_width;
}



.#{$css}-volumebar {
    @include right-container-width($volume_width);
}

.#{$css}-volumebar-inner {
    @include horizontal-center;
    @include round-edges($volume_height / 2);
    background: $progressbar_bgcolor;
    height: $volume_height;
    cursor: pointer;
}

.#{$css}-volumebar-position {
    @include round-edges($volume_height / 2);
    background-color: $progressbar_position_bgcolor;
    height: 100%;
    float: left;
}

.#{$css}-volumebar-button {
    float: left;
    width: $volume_height;
    height: 100%;
    background: $progressbar_button_bgcolor;
    box-sizing: content-box;
    border: $progressbar_button_border solid $progressbar_button_bordercolor;
    padding: 2 * $progressbar_button_overflow;
    $radius: $volume_height - 2 * $progressbar_button_overflow;
    @include border-radius($radius);
    $ml: floor($volume_height / 2);
    margin-left: -$ml;
    $mt: floor($radius/2);
    margin-top: -$mt;
}

