
.#{$csstheme}-audio-canvas {
  display: none;
  position: absolute;
  bottom: $controlbar_height;
  background-color: #000000;
}

.#{$css}-container {

  .#{$csstheme}-dashboard .#{$cssplayer}-normal-view {
    background-color: #020202;
    border: 1px solid $title_text_color;
    box-sizing: border-box;
    min-height: $controlbar_height + $topmessage_height;
    min-width: 320px;
    height: $controlbar_height + $topmessage_height;
  }

}

.#{$cssnoie8} .#{$csstheme}-title-block {
  @include absolute-align-full-top();
  @include background-rgba(0, 0, 0, 0.6, #4f4f4f);
  @include transition1(opacity, $dashboard_transition, ease-in-out);
  min-height: $topmessage_height;
}

.#{$csstheme}-center-block {
  float: left;
  .#{$csstheme}-progress-bar-container {
    position: absolute;
    width: 100%;
  }
}

.#{$cssnoie8} .#{$csstheme}-progressbar {
  overflow: hidden;
  height: 100%;
}

.#{$cssie8} .#{$csstheme}-progressbar {
  overflow: hidden;
}

.#{$csstheme}-progressbar.#{$cssplayer}-disabled {
  &, & .#{$csstheme}-progressbar-cache, & .#{$csstheme}-progressbar-inner, & .#{$csstheme}-progressbar-position {cursor: not-allowed}
}

