/* Elevate */

.#{$css}-container.#{$csstheme} {

    &.#{$cssplayer}-normal-view {
        @include border-rgba(1px, 0, 0, 0, 0, #555555);
        min-height: 80px;
        min-width: 320px;
    }

    &.#{$cssplayer}-size-small .#{$csstheme}-volumebar,
    &.#{$cssplayer}-size-medium .#{$csstheme}-volume-button-container,
    &.#{$cssplayer}-size-small .#{$csstheme}-volume-button-container,
    &.#{$cssplayer}-size-small .#{$csstheme}-time-container,
    &.#{$cssplayer}-size-small .#{$csstheme}-center-block,
    &.#{$cssplayer}-size-medium .#{$csstheme}-right-time-container {
        display: block;
    }

}

.#{$csstheme}-dashboard {
    padding: 3px;
    z-index: 10;
}

.#{$csstheme}-visual-effect-applied .#{$csstheme}-dashboard {
    position: absolute;
    bottom: 0;
    width: $dashboard_width;
}

.#{$csstheme}-audio-canvas {
    display: none;
    position: absolute;
    //z-index: 1;
    background-color: #000000;
}
.#{$csstheme}-visual-effect-applied .#{$css}-overlay {
    background: #000000;
}

.#{$csstheme}-top-block {
    padding-top: 8px;
}

.#{$csstheme}-bottom-block {
    @include border-rgba(1px, 0, 0, 0, 0.8, #555555);
    box-sizing: content-box;
}

.#{$csstheme}-title-block > p {
    font-size: $text_fontsize;
    color: $controlbar_audio_title_color;
    line-height: $controlbar_line_height;
    margin: 0;
    & > span {
        color: $text_color;
        font-weight: bold;
        font-size: 1em;
    }
}