@each $color, $value in $colors {
  @if $color != default {
    .#{$css}-#{$color}-color {

      .#{$css}-button-inner, .#{$css}-video-title {
        color: $value;
      }

      .#{$css}-volumebar-position, .#{$css}-progressbar-position,
      .#{$css}-rerecord-button {
        background-color: $value;
      }

      .#{$css}-volumebar-inner {
        @include background-rgba(255, 255, 255, 0.3, #7f7f7f);
      }

      .#{$css}-cast-button-container button {
        //--disconnected-color: #{$value};
      }

      .#{$css}-airplay-container svg path {
        fill: $value;
      }
    }
  }
}
