/* Full screen options */

.#{$cssplayer}-fullscreen-view {

  @include hide-dom-shadow-media-control();

  & > div, video {
    height: 100%;
  }

  .#{$css}-dashboard {
    bottom: 0;
  }

  .#{$css}-title-block {
    top: 0;
  }

  &.#{$cssplayer}-firefox-browser {

    .#{$css}-dashboard, .#{$css}-title-block {
      position: fixed;
      z-index: 100;
    }

  }

}

// Fix Chromium related fullscreen issue
.#{$css}-container {
  &.#{$cssplayer}-fullscreen-view {
    //height: 100%; TODO: fix fullscreen on wider screens
    min-height: fit-content; // Supports only with Chrome and fix Chrome only related issue
    min-width: 100%;
    position: absolute;
    & > .#{$css}-overlay {
      position: fixed;
    }
  }
}
