.#{$css}-message-container {
	@include absolute-align-all;
    background-color: $message_bgcolor;
    opacity: $message_opacity;
}

.#{$css}-message-message {
	@include transform-translate-y(-50%);
    color: $message_color;
    position: absolute;
    left: 5px;
    right: 5px;    
    top: 50%;    
    text-align: center;
}