.#{$css}-container {
	display: inline-block;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.#{$css}-video {
	background-color: $player_bgcolor;
	display: block;
}

.#{$css}-container video::-webkit-media-controls-start-playback-button {
	display: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.#{$cssplayer}-disabled {
	@include disabled_element();
	& * {cursor: not-allowed}
}

.#{$csstheme}-primary-button {
    @include relative-center-center;
    @include clickable;
    border-radius: $rerecord_primarybutton_radius;
    padding: $rerecord_primarybutton_padding;
    padding-left: $rerecord_primarybutton_vertical_padding;
    padding-right: $rerecord_primarybutton_vertical_padding;
    background-color: $rerecord_button_color;
    color: $rerecord_text_color;
    font-family: $rerecord_font_family;
    font-weight: $rerecord_primarybutton_font_weight;
    font-size: $rerecord_primarybutton_font_size;
}

.#{$cssplayer}-close-container {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 20px;
    width: 20px;
    z-index: 1000;
    .#{$cssplayer}-close-svg-button {
        fill: #cccccc;
    }
}

.canvas-frames{
    position:absolute; 
    width:100%; 
    bottom:0; 
    height:100%; 
    top:0; 
    left:0; 
    right:0;
}