.#{$css}-container {
	display: inline-block;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.#{$css}-video {
	background-color: #000000;
	display: block;
	width: 100%;
}

.#{$css}-container video::-webkit-media-controls-start-playback-button {
	display: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.#{$css}-stretch-width .#{$css}-container,
.#{$css}-stretch-both .#{$css}-container,
.#{$css}-stretch-height .#{$css}-container
{
	position:relative;
	height:100%;
}

.#{$css}-stretch-width .#{$css}-container {
	width: 100%;
	max-width: 100%;
}

.#{$css}-stretch-height .#{$css}-container {
	min-height: 100%;
}

.#{$css}-stretch-height .#{$css}-video {
	min-height: 100%;
}

.#{$css}-stretch-width .#{$css}-video {
	margin: auto;
	min-width: 100%;
}

.#{$css}-stretch-both .#{$css}-video {
	margin: auto;
	min-height: 100%;
	min-width: 100%;
	object-fit: cover;
	width: auto;
}

.#{$css}-stretch-width, .#{$css}-stretch-height {
	display: inline-block;
	height:100%;
	width:100%;
}

.#{$cssplayer}-disabled {
	@include disabled_element();
	& * {cursor: not-allowed}
}
