
.#{$cssnoie8} .#{$cssplaybuttonalt}-container {
    @include transform-translate(-50%, -50%);
    @include border-rgba($playbutton_frame_thickness, 255, 255, 255, $playbutton_default_opacity, #999);
    @include absolute-center-center;
    @include transition1(all, $playbutton_transition_time, ease-in-out);
    @include box-shadow($cover_playbutton_shadow, 22);
    border-radius: 50%;
    box-sizing: content-box;
    cursor: pointer;
    font-size: $playbutton_alt_button_size;
    height: 10em;
    text-align: center;
    width: 10em;
    &:focus {
        outline: none;
        border-radius: 50%;
        border-color: #1b8fcc;
        @include box-outline-shadow(#1b8fcc, 2px);
        &:hover {
            border: none;
        }
    }
}

.#{$cssnoie8} .#{$cssplaybuttonalt}-container:hover {
    @include box-shadow($cover_playbutton_hover_shadow, 22);
    //border-color: $cover_playbutton_border_hover_color;
    .#{$cssplaybuttonalt}-button::after {
        @include text-shadow($cover_playbutton_hover_shadow, 4);
    }
}

.#{$cssnoie8} .#{$cssplaybuttonalt}-button:after {
    @include fontello-icon;
    @include text-shadow($cover_playbutton_shadow, 4);
    @include transition1(all, $playbutton_transition_time, ease-in-out);
    content: "\e805";
    color: $cover_playbutton_color;
    font-size: 4.6em;
}

// To override fontello-icons properties, so why not merged with above rule
.#{$cssnoie8} .#{$cssplaybuttonalt}-button::after {
    line-height: 2.3em;
    margin-left: 0.1em;
    width: 100%;
}

.#{$cssplaybuttonalt}-rerecord-bar {
    @include absolute-align-full-bottom;
    @include background-rgba(0, 0, 0, .4, #979797);
}

.#{$cssplaybuttonalt}-rerecord-backbar {
    @include absolute-align-full-bottom;
    height: $rerecord_height;
    opacity: $rerecord_opacity;
}

.#{$cssplaybuttonalt}-rerecord-frontbar {
    @include relative-align-full-bottom;
    height: $rerecord_height;
    overflow: hidden;
    padding-left: $rerecord_padding;
    padding-right: $rerecord_padding;
    text-align: center;
}

.#{$cssplaybuttonalt}-rerecord-button-container {
    display: inline-block;
}

.#{$cssplaybuttonalt}-rerecord-button {
    @include clickable;
    box-sizing: content-box;
    background-color: $rerecord_primarybutton_color;
    border-radius: 0;
    color: $rerecord_primarybutton_text_color;
    font-family: $rerecord_font_family;
    font-weight: $rerecord_primarybutton_font_weight;
    font-size: $rerecord_primarybutton_font_size;
    height: $rerecord_height;
    padding: $rerecord_primarybutton_padding;
    padding-left: $rerecord_primarybutton_vertical_padding;
    padding-right: $rerecord_primarybutton_vertical_padding;
    line-height: $rerecord_height;
    letter-spacing: $rerecord_letter_spacing;
}
