.#{$css}-container {
	display: inline-block;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.#{$css}-video {
	background-color: $player_bgcolor;
	display: block;
	width: 100%;
}


.#{$css}-container video::-webkit-media-controls-start-playback-button {
	display: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.#{$cssplayer}-disabled {
	@include disabled_element();
	& * {cursor: not-allowed}
}
