/** NOTE: adding flex-grow 1 to the player content will make not fully show ads */
//.#{$cssplayer}-content { min-width: fit-content; }
.#{$cssplayer}-sidebar {
    flex-grow: 1;
    max-width: 50%;
    flex-basis: min-content;
    z-index: 1;
}

div.#{$cssplayer}-with-sidebar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    .#{$cssvideoplayer}-poster-container, .#{$cssvideoplayer}-poster-container img,
    .#{$cssvideoplayer}-video-container, .#{$cssvideoplayer}-video-container video {
        position: relative;
    }
}
