/** NOTE: adding flex-grow 1 to the player content will make not fully show ads */
//.#{$cssplayer}-content { min-width: fit-content; }
.#{$cssplayer}-sidebar {
    flex: none;
    //max-width: 50%;
    z-index: 1;
    //flex-basis: min-content;
    //flex-grow: 1;
    //overflow: hidden;
    background-color: #000000;
}

div.#{$cssvideoplayer}-container {
    &.#{$cssplayer}-with-sidebar {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        .#{$cssplayer}-content {
            position: relative;
        }
    }
    &.#{$cssplayer}-in-article {
        height: 100%;
        width: 100%;
    }
}
