/** NOTE: adding flex-grow 1 to the player content will make not fully show ads */
//.#{$cssplayer}-content { min-width: fit-content; }
.#{$cssplayer}-sidebar {
    flex-grow: 1;
    max-width: 30%;
    flex-basis: min-content;
    overflow: hidden;
    z-index: 1;
}

div.#{$cssplayer}-with-sidebar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
