$css: "ba-videoplayer";
$csstheme: "ba-videoplayer";
$cssplayer: "ba-player";
$csscommon: "ba-commoncss";
$cssie8: "ba-videoplayer-ie8";
$cssnoie8: "ba-videoplayer-noie8";
$fontello_name: "bjsmc";


$message_bgcolor: black;
$message_opacity: 0.75;
$message_color: white;

$font_family: Arial, sans-serif;
$topmessage_bgcolor: black;
$topmessage_opacity: 0.1;
$topmessage_fontsize: 16px;
$topmessage_height: 32px;
$topmessage_fontweight: normal;

$focus_button_color: #1b7fcc;
$focus_overlay_color: #000000;

$playbutton_size: 15%;
$playbutton_opacity: 0.75;
$playbutton_hover_opacity: 0.9;
$playbutton_transition_time: .25;

$video_title_margin: 0 0 0 10px;
$video_title_font_color: #ffffff;
$video_title_line_height: 32px;
$video_title_font_family: sans-serif, Arial;
$video_title_font_size: 12px;
$video_title_font_weight: 300;
$video_title_letter_spacing: 0.1em;

$full_screen_background: #b2b2b2;

$progressbar_height: 9px;
$progressbar_height_small: 3px;
$progressbar_button_border: 1px;
$progressbar_button_overflow: 1px;
$controlbar_height: 30px;
$button_width: 50px;
$volume_width: 100px;
$volume_height: 8px;
$time_value_width: 40px;
$time_sep_width: 15px;
$ie8_margintop: 6px;

$progressbar_transition: 0.1s;
$dashboard_transition: 0.5s;
$button_fontsize: 14px;
$text_fontsize: 13px;
$text_fontfamily: Arial, sans-serif;
$controlbar_opacity: 0.7;

$progressbar_bgcolor: #999;
$progressbar_position_bgcolor: #8CF;
$progressbar_cache_bgcolor: #EEE;
$progressbar_button_bgcolor: #FFF;
$progressbar_button_bordercolor: #999;
$controlbar_bgcolor: #000;
$text_color: #FFF;

$rerecord_text_color: white;
$rerecord_button_color: #8CF;
$rerecord_font_family: Arial, sans-serif;

$rerecord_height: 32px;
$rerecord_opacity: 0.1;
$rerecord_bgcolor: black;
$rerecord_padding: 16px;
$rerecord_primarybutton_radius: 2px;
$rerecord_primarybutton_padding: 4px;
$rerecord_primarybutton_vertical_padding: 8px;
$rerecord_primarybutton_font_weight: normal;
$rerecord_primarybutton_font_size: 14px;