$css: "ba-videoplayer";
$csstheme: "ba-videoplayer";
$cssplaybutton: "ba-videoplayer-playbutton";
$cssplaybuttonalt: "ba-videoplayer-playbutton-alt";
$cssie8: "ba-videoplayer-ie8";
$cssnoie8: "ba-videoplayer-noie8";
$fontello_name: "bjsmc";

$loader_size: 5px;
$loader_frame_thickness: 1.1em;

$message_bgcolor: black;
$message_opacity: 0.75;
$message_color: white;

$font_family: Arial, sans-serif;
$topmessage_bgcolor: black;
$topmessage_opacity: 0.1;
$topmessage_fontsize: 16px;
$topmessage_height: 32px;
$topmessage_fontweight: normal;

$focus_button_color: #1b7fcc;
$focus_overlay_color: #000000;

$playbutton_size: 15%;
$playbutton_alt_button_size: 5px;
$playbutton_opacity: 0.75;
$playbutton_hover_opacity: 0.9;
$playbutton_transition_time: .25s;
$playbutton_default_opacity: 0.6;
$playbutton_background_opacity: 0.2;

// alternative player options
$playbutton_frame_thickness: 0.6em;
$cover_playbutton_color: #eeeeee;
$cover_playbutton_hover_color: #000000;
$cover_playbutton_shadow: #000000;
$cover_playbutton_border_color: #eeeeee;
$cover_playbutton_border_hover_color: #000000;
$cover_playbutton_hover_shadow: #eeeeee;

$video_title_margin: 0 0 0 10px;
$video_title_font_color: #ffffff;
$video_title_line_height: 32px;
$video_title_font_family: sans-serif, Arial;
$video_title_font_size: 12px;
$video_title_font_weight: 300;
$video_title_letter_spacing: 0.1em;

$full_screen_background: #b2b2b2;

$progressbar_height: 9px;
$progressbar_height_small: 3px;
$progressbar_button_border: 1px;
$progressbar_button_overflow: 1px;
$controlbar_height: 30px;
$button_width: 50px;
$volume_width: 100px;
$volume_height: 8px;
$time_value_width: 40px;
$time_sep_width: 15px;
$ie8_margintop: 6px;

$progressbar_transition: 0.1s;
$dashboard_transition: 0.5s;
$button_fontsize: 14px;
$text_fontsize: 13px;
$text_fontfamily: Arial, sans-serif;
$controlbar_opacity: 0.7;

$progressbar_bgcolor: #999;
$progressbar_position_bgcolor: #8CF;
$progressbar_cache_bgcolor: #EEE;
$progressbar_button_bgcolor: #FFF;
$progressbar_button_bordercolor: #999;
$controlbar_bgcolor: #000;
$text_color: #FFF;


$rerecord_text_color: white;
$rerecord_button_color: #8CF;
$rerecord_font_family: Arial, sans-serif;

$rerecord_height: 32px;
$rerecord_opacity: 0.1;
$rerecord_bgcolor: black;
$rerecord_padding: 16px;
$rerecord_primarybutton_color: #8CF;
$rerecord_primarybutton_font_weight: normal;
$rerecord_primarybutton_font_size: 14px;
$rerecord_primarybutton_padding: 4px;
$rerecord_primarybutton_radius: 2px;
$rerecord_primarybutton_vertical_padding: 8px;


// alternative player options
$rerecord_primarybutton_text_color: #eeeeee;
$rerecord_letter_spacing: .1em;

// Sidebar share
$share_container_top: 50px;
$share_container_width: 90px;
$share_container_right: 15px;
$open_share_button_color: #ffffff;
$open_share_button_border_radius: 5px;
$open_share_button_size: 13px;
$open_share_button_top: 30px;
$open_share_button_box_size: 45px;
$open_share_button_font_size: 14px;
$open_share_button_z-index: 100;
$share_icon_font_size: 14px;
$share_icon_container_height: 45px;
$share_icon_container_width: 45px;

// Theme Colors
$theme_color_blue: #2a74eb;
$theme_color_red: #eb6a74;
$theme_color_green: #5daa96;

$colors: (
  'red': $theme_color_red,
  'blue': $theme_color_blue,
  'green': $theme_color_green,
  'default': ''
);
