.#{$css}-tracks-tags-overlay {
    @include absolute-align-full-bottom;
}

.#{$css}-tracks-tags-overlay {
    @include absolute-align-full-bottom-above-control-bar($controlbar_height + $progressbar_height);
}

.#{$css}-track-text-download-button-container {
    @include absolute-align-left;
    background-color: #020202;
    bottom: 5px;
    padding: 5px 10px;
}

.#{$css}-track-text-file {
    position: absolute;
    @include transparent(0);
    width: 100%;
    height: 100%;
    cursor: pointer;
    left: 0;
    bottom: 0;
    z-index: 100;
}

.#{$css}-track-text-file::-webkit-file-upload-button {
    cursor: pointer;
}

.#{$css}-track-text-download-button {
    @include clickable;
    color: #eeeeee;
    font-family: $font_family;
    font-size: $button_fontsize;
    text-align: center;
    padding: $rerecord_primarybutton_padding;
    position: relative;
    white-space: nowrap;
}

.#{$css}-cue-content {
    @include relative-horizontally-center();
    background: #2c2c2c;
    color: #eeeeee;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 60%;
}

.#{$css}-tracks-selector-list {
    @include absolute-align-right-bottom;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 1;
}

.#{$css}-tracks-selector {
    padding: 5px 20px;
    background: #020202;
    color: #eeeeee;
    cursor: pointer;
    &:hover {
        background-color: #4c4c4c;
        color: #ffffff;
    }
}

.#{$css}-tracks-selector-list-open {
    @include show-slow(0.2);
}

.#{$css}-tracks-selector-list-closed {
    @include hide-slow(0.2);
}
