.#{$css}-text-tracks-overlay {
    @include absolute-align-full-bottom;
}

.#{$css}-text-tracks-overlay {
    @include absolute-align-full-bottom-above-control-bar($controlbar_height + $progressbar_height);
}

.#{$css}-back-arrow-pointer-container {
    margin-bottom: 5px;
    .#{$css}-back-arrow-pointer {
        cursor: pointer;
        font-size: 12px;
        margin: 0 0 10px;
    }
}


.#{$css}-form {
    .#{$css}-form-input {
        &.#{$css}-disabled {
            input {
                @include disabled_element();
            }
            input[type='file'] { @include transparent(0); }
        }
        &.#{$css}-select-field {
            margin-bottom: 7px;
            select {
                color: #eeeeee;
            }
            &:after {
                top: 46%;
            }
        }
    }
}

.#{$css}-cue-content {
    @include relative-horizontally-center();
    background: #2c2c2c;
    color: #eeeeee;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 60%;
}

.#{$css}-tracks-selector-list-visible {
    @include show-slow(0.2);
}

.#{$css}-tracks-selector-list-hidden {
    @include hide-slow(0.2);
}
