@each $color, $value in $colors {
  @if $color != default {
    .#{$css}-#{$color}-color {

      .#{$csstheme}-video-title, .#{$csstheme}-dashboard  .#{$css}-icon-play,
      .#{$csstheme}-dashboard .#{$css}-icon-pause, .#{$csstheme}-dashboard .#{$csstheme}-button-inner,
      .#{$csstheme}-dashboard .#{$css}-icon-resize-full, .#{$csstheme}-dashboard .#{$css}-icon-volume-up,
      .#{$csstheme}-dashboard .#{$css}-icon-volume-down, &.#{$cssnoie8} .#{$css}-icon-share,
      &.#{$cssnoie8} .#{$csstheme}-button-inner, .#{$csstheme}-cc-inactive .#{$css}-icon-subtitle {
        color: $value;
      }

      .#{$csstheme}-stream-label-container .#{$csstheme}-stream-label, .#{$csstheme}-progressbar-position,
      .#{$csstheme}-volumebar-position, .#{$csstheme}-rerecord-button, .#{$csstheme}-cc-active {
        background-color: $value;
      }

      .#{$csstheme}-volumebar-inner {
        @include background-rgba(255, 255, 255, 0.3, #7f7f7f);
      }

      //.#{$css}-cast-button-container button {
      //  --disconnected-color: #{$value};
      //}

      .#{$csstheme}-airplay-container svg path {
        fill: $value;
      }

      .#{$csstheme}-cc-active .#{$css}-icon-subtitle {
        color: #eeeeee;
      }
    }
  }
}
