@each $color, $value in $colors {
  @if $color != default {
    .#{$cssplayer}-#{$color}-color {

      .#{$csstheme}-title, .#{$csstheme}-button-inner i,
      &.#{$csstheme} .#{$cssplayer}-cc-inactive .#{$csscommon}-icon-subtitle {
        color: $value;
      }

      .#{$csstheme}-stream-label-container .#{$csstheme}-stream-label, .#{$csstheme}-progressbar-position,
      .#{$csstheme}-volumebar-position, .#{$csstheme}-rerecord-button, .#{$cssplayer}-cc-active {
        background-color: $value;
      }

      // Main play button
      &.#{$cssnoie8} {
        .#{$csstheme}-playbutton-container {
          border-color: $value;
        }
        .#{$csstheme}-playbutton-button::after {
          color: $value;
        }
      }

      .#{$csstheme}-volumebar-inner {
        @include background-rgba(255, 255, 255, 0.3, #7f7f7f);
      }

      .#{$cssplayer}-cc-active .#{$csscommon}-icon-subtitle {
        color: #eeeeee;
      }

    }
  }
}
