/* Theatre */

.#{$csstheme} {

    .#{$csscommon}-icon-play, .#{$csscommon}-icon-pause {
        color: $button_color;
    }

    .#{$csscommon}-icon-volume-up, .#{$csscommon}-icon-volume-down {
        color: $button_color_secondary;
    }

    .#{$csscommon}-icon-volume-off {
        color: $volume_off_color;
    }

    .#{$csscommon}-icon-resize-full {
        color: $button_color_secondary;
    }

    .#{$cssplayer}-cc-inactive i, .#{$cssplayer}-settings-hidden i {
        color: $button_color_secondary;
    }
}

.#{$css}-container {

    .#{$csstheme}-dashboard {
        @include transition1(opacity, $dashboard_transition, ease-in-out);
        background-color: $controlbar_background;
        box-sizing: border-box;
        bottom: $controlbar_distance_from_side;
        border: 1px solid $dashboard_border_color;
        height: $controlbar_height;
        left: $controlbar_side_padding;
        opacity: 0.75;
        //overflow: hidden;
        position: absolute;
        width: $dashboard_width;

        .#{$cssplayer}-airplay-container {
            padding: 2px 7px 0 3px;
            svg path {
                fill: #666666;
            }
        }
    }

    .#{$cssplayer}-dashboard-hidden {
        opacity: 0;
    }
}

.#{$csstheme}-left-block {
    float: left;
    padding-left: 5px;
    & > div {
        float: left;
        height: $controlbar_height;
        line-height: $controlbar_line_height - 2;
    }

    & > div:last-child{
        float: right;
    }
}

.#{$cssie8} .#{$csstheme}-left-block {
    & > div {
        line-height: $controlbar_line_height - 3;
    }
}

.#{$csstheme}-center-block {
    float: left;
}

.#{$csstheme}-right-block {
    float: right;
    & > div {
        float: right;
        height: $controlbar_height - 3;
        line-height: 25px;
        text-align: center;
    }

    & > div:first-child {
        line-height: $controlbar_line_height - 6;
        width: 30px;
    }

    & > div:last-child {
        float: left;
        line-height: $controlbar_line_height;
    }

    & .#{$csstheme}-time-value {
        text-align: left;
    }
}

.#{$csstheme}-title-container {
    @include absolute-align-full-top();
    @include transition1(opacity, $dashboard_transition, ease-in-out);
    width: 100%;
    & > p {
        @include background-rgba( 255, 255, 255, 0.4, $controlbar_background);
        @include relative-horizontally-center();
        height: $controlbar_height;
        line-height: $controlbar_height;
        top: $controlbar_distance_from_side;
        text-align: center;
        color: $message_color;
        width: $dashboard_width;
    }
}

.#{$csstheme}-leftbutton-container {
    @include float-width-height(left, $button_width, 100%);
    @include clickable;
    box-sizing: content-box;
    border: none;
    text-align: center;
    line-height: 2;
}

.#{$cssnoie8} .#{$csstheme}-rightbutton-container {
    @include float-width-height(right, $button_width, 100%);
    @include clickable;
    box-sizing: content-box;
    border: none;
}

.#{$cssie8} .#{$csstheme}-rightbutton-container {
    @include float-width-height(right, $button_width, 50%);
    @include clickable;
    box-sizing: content-box;
    border: none;
}

.#{$cssnoie8} .#{$csstheme}-button-inner {
    color: $button_color;
    font-size: $button_fontsize;
}

.#{$cssie8} .#{$csstheme}-button-inner {
    color: $button_color;
    font-size: $button_fontsize;
    margin-left: 3px;
}

.#{$csstheme}-button-inner {
    @include clickable;
    position: relative;
}

.#{$csstheme}-time-container {
    @include float-width-height(left, $time_value_width, 100%);
    text-align: center;
    font-family: $text_fontfamily;
    font-size: $text_fontsize;
    color: $text_secondary_color;
    box-sizing: content-box;
    border: none;
}

.#{$csstheme}-time-value {
    float: left;
    font-size: $text_fontsize;
    width: $time_value_width;
    letter-spacing: 0.1em;
}

.#{$cssnoie8} .#{$csstheme}-time-value {
    @include relative-center-center;
}

.#{$cssnoie8} .#{$csstheme}-volumebar {
    float: left;
    margin-right: $volume_height*2;
    width: $volume_width;
}

.#{$csstheme}-volumebar {
    @include hide-slow(0.5);
    background-color: $controlbar_background;
    box-sizing: content-box;
    bottom: 27px;
    height: $volume_height;
    margin: 0 auto;
    padding: 5px;
    position: absolute;
    width: auto;
}

.#{$csstheme}-volumebar:hover, .#{$csstheme}-volume-icon-container:hover .#{$csstheme}-volumebar {
    @include show-slow(0.2);
}

.#{$csstheme}-volume-icon-container {
    padding: 0 2px;
}

.#{$cssie8} .#{$csstheme}-volumebar {
    @include float-width-height(right, $volume_width, 50%);
    margin-right: $volume_height * 2;
}

.#{$csstheme}-volumebar-inner {
    @include relative-center-center;
    @include border-round-edges($volume_height / 2);
    @include clickable;
    background-color: $progressbar_cache_bgcolor;
    height: $volume_height;
    width: $volume_width;
}

.#{$csstheme}-volumebar-position {
    @include border-round-edges($volume_height / 2);
    @include absolute-align-bottom();
    background-color: $button_color;
    width: 100%;
}

.#{$csstheme}-progressbar {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding: 0 13px 0 6px;
}

.#{$csstheme}-progressbar-inner {
    @include clickable;
    height: $progressbar_height;
    background-color: $progressbar_cache_bgcolor;
}

.#{$cssnoie8} .#{$csstheme}-progressbar-inner {
    @include relative-center-center;
}

.#{$cssie8} .#{$csstheme}-progressbar-inner {
    margin-top: 9px;
}

.#{$cssie8} .#{$csstheme}-progressbar-position {
    height: $progressbar_height;
}

.#{$csstheme}-progressbar.#{$cssplayer}-disabled {
    & .#{$csstheme}-progressbar-cache, & .#{$csstheme}-progressbar-inner {cursor: not-allowed}
}

.#{$csstheme}-progressbar-cache {
    @include absolute-align-left;
    @include clickable;
    background-color: $progressbar_cache_bgcolor;
    height: $progressbar_height;
}

.#{$csstheme}-progressbar-position {
    @include absolute-align-left();
    background-color: $progressbar_button_overflow;
    height: 100%;
}

.#{$csstheme}-progressbar-button {
    display: none;
}

.#{$csstheme}-button-text {
    font-family: $font_family;
    font-weight: normal;
    font-size: 10px;
}

.#{$cssie8} .#{$csstheme}-volumebar {
    display: none;
}

.#{$cssplayer}-size-small .#{$csstheme}-time-container {
    display: none;
}

.#{$cssplayer}-size-small .#{$csstheme}-volume-button-container {
    display: none;
}

.#{$cssplayer}-size-small .#{$csstheme}-right-time-container {
    display: none;
}

.#{$csstheme}-stream-label-container {
    text-align: right;
    margin-right: 3px;
    .#{$csstheme}-stream-label {
        @include clickable;
        background-color: $stream_label_bg_color;
        color: $stream_label_color;
        padding: 5px;
    }
}

.#{$cssnoie8} .#{$csstheme}-full-screen-btn-inner {
    text-align: left;
    padding: 0 5px;
}

.#{$csstheme}-cast-button-container button {
    //--connected-color: #00cc00;
    //--disconnected-color: #666666;
    @include transparent(0.7);
    background: transparent;
    border: none;
    cursor: pointer;
    //outline: none;
    padding-top: 4px;
    width: 32px;
}

.#{$cssnoie8} .#{$csstheme}-cc-button-container {
    width: 30px;
}

.#{$cssplayer}-settings-visible .#{$csstheme}-settings-button-inner {
    color: $controlbar_background;
}

.#{$csstheme}-cc-button-container, .#{$csstheme}-settings-button-container {
    padding: 1px 1px 0 0;
}

.#{$csstheme} .ba-settings-overlay-inner {
    bottom: 45px;
    right: $controlbar_side_padding;
}

