/* Theatre */
.#{$css}-overlay div[tabindex] {
    @include transition1(all, 0.30s, ease-in-out);
}

.#{$css}-overlay div[tabindex]:focus {
    @include inner-box-shadow($focus_button_color, 10);
    outline: 1px dotted $focus_button_color;
}

.#{$css}-overlay div.#{$css}-player-toggle-overlay:focus {
    @include inner-box-shadow($focus_overlay_color, 1);
    outline: none;
}

.#{$css}-dashboard {
    @include transition1(opacity, $dashboard_transition, ease-in-out);
    background-color: $controlbar_background;
    box-sizing: border-box;
    bottom: $controlbar_distance_from_side;
    border: 1px solid $dashboard_border_color;
    height: $controlbar_height;
    left: 12.5%;
    opacity: 0.75;
    //overflow: hidden;
    position: absolute;
    width: $dashboard_width;
}

.#{$css}-dashboard-hidden {
    opacity: 0;
}

.#{$css}-left-block {
    float: left;
    padding-left: 5px;
    & > div {
        float: left;
        height: $controlbar_height;
        line-height: $controlbar_line_height - 2;
    }

    & > div:last-child{
        float: right;
    }
}

.#{$cssie8} .#{$css}-left-block {
    & > div {
        line-height: $controlbar_line_height - 3;
    }
}

.#{$css}-center-block {
    float: left;
}

.#{$css}-right-block {
    float: right;
    padding-right: 6px;
    & > div {
        float: right;
        height: $controlbar_height;
        line-height: 25px;
        text-align: center;
    }

    & > div:first-child {
        line-height: $controlbar_line_height - 3;
    }

    & > div:last-child {
        float: left;
        line-height: $controlbar_line_height;
    }

    & .#{$css}-time-value {
        text-align: left;
    }
}


.#{$css}-video-title-container {
    @include absolute-align-full-top();
    @include transition1(opacity, $dashboard_transition, ease-in-out);
    width: 100%;
    & > p {
        @include background-rgba( 255, 255, 255, 0.4, $controlbar_background);
        @include relative-horizontally-center();
        height: $controlbar_height;
        line-height: $controlbar_height;
        top: $controlbar_distance_from_side;
        text-align: center;
        color: $message_color;
        width: $dashboard_width;
    }
}

.#{$css}-leftbutton-container {
    @include float-width-height(left, $button_width, 100%);
    @include clickable;
    box-sizing: content-box;
    border: none;
    text-align: center;
    line-height: 2;
}

.#{$css}-icon-play, .#{$css}-icon-pause {
    color: $button_color;
}

.#{$css}-icon-volume-up, .#{$css}-icon-volume-down {
    color: $button_color_secondary;
}

.#{$css}-icon-volume-off {
    color: $volume_off_color;
}

.#{$cssnoie8} .#{$css}-rightbutton-container {
    @include float-width-height(right, $button_width, 100%);
    @include clickable;
    box-sizing: content-box;
    border: none;
}

.#{$cssie8} .#{$css}-rightbutton-container {
    @include float-width-height(right, $button_width, 50%);
    @include clickable;
    box-sizing: content-box;
    border: none;
}

.#{$cssnoie8} .#{$css}-button-inner {
    color: $button_color;
    font-size: $button_fontsize;
}

.#{$cssie8} .#{$css}-button-inner {
    color: $button_color;
    font-size: $button_fontsize;
    margin-left: 3px;
}

.#{$css}-button-inner {
    @include clickable;
    position: relative;
}

.#{$css}-time-container {
    @include float-width-height(left, $time_value_width, 100%);
    text-align: center;
    font-family: $text_fontfamily;
    font-size: $text_fontsize;
    color: $text_secondary_color;
    box-sizing: content-box;
    border: none;
}

.#{$css}-time-value {
    float: left;
    font-size: $text_fontsize;
    width: $time_value_width;
    letter-spacing: 0.1em;
}

.#{$cssnoie8} .#{$css}-time-value {
    @include relative-center-center;
}

.#{$cssnoie8} .#{$css}-volumebar {
    float: left;
    margin-right: $volume_height*2;
    width: $volume_width;
}

.#{$css}-volumebar {
    @include hide-slow(0.5);
    background-color: $controlbar_background;
    box-sizing: content-box;
    bottom: 27px;
    height: $volume_height;
    margin: 0 auto;
    padding: 5px;
    position: absolute;
    width: auto;
}

.#{$css}-volumebar:hover, .#{$css}-volume-icon-container:hover .#{$css}-volumebar {
    @include show-slow(0.2);
}

.#{$cssie8} .#{$css}-volumebar {
    @include float-width-height(right, $volume_width, 50%);
    margin-right: $volume_height * 2;
}

.#{$css}-volumebar-inner {
    @include relative-center-center;
    @include border-round-edges($volume_height / 2);
    @include clickable;
    background-color: $progressbar_cache_bgcolor;
    height: $volume_height;
    width: $volume_width;
}

.#{$css}-volumebar-position {
    @include border-round-edges($volume_height / 2);
    @include absolute-align-bottom();
    background-color: $button_color;
    width: 100%;
}

.#{$css}-progressbar {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding: 0 13px 0 6px;
}

.#{$css}-progressbar-inner {
    @include clickable;
    height: $progressbar_height;
    background-color: $progressbar_cache_bgcolor;
}

.#{$cssnoie8} .#{$css}-progressbar-inner {
    @include relative-center-center;
}

.#{$cssie8} .#{$css}-progressbar-inner {
    margin-top: 9px;
}

.#{$cssie8} .#{$css}-progressbar-position {
    height: $progressbar_height;
}

.#{$css}-progressbar.#{$css}-disabled {
    & .#{$css}-progressbar-cache, & .#{$css}-progressbar-inner {cursor: not-allowed}
}

.#{$css}-progressbar-cache {
    @include absolute-align-left;
    @include clickable;
    background-color: $progressbar_cache_bgcolor;
    height: $progressbar_height;
}

.#{$css}-progressbar-position {
    @include absolute-align-left();
    background-color: $progressbar_button_overflow;
    height: 100%;
}

.#{$css}-progressbar-button {
    display: none;
}

.#{$css}-button-text {
    font-family: $font_family;
    font-weight: normal;
    font-size: 10px;
}

.#{$css}-size-small .#{$css}-time-container {
    display: none;
}

.#{$cssie8} .#{$css}-volumebar, .#{$css}-size-medium .#{$css}-volumebar, .#{$css}-size-small .#{$css}-volumebar {
    display: none;
}

.#{$css}-size-medium .#{$css}-volume-button-container, .#{$css}-size-small .#{$css}-volume-button-container {
    display: none;
}

.#{$css}-size-medium .#{$css}-right-time-container {
    display: none;
}

.#{$css}-stream-label-container {
    text-align: right;
    margin-right: 3px;
    .#{$css}-stream-label {
        @include clickable;
        background-color: $stream_label_bg_color;
        color: $stream_label_color;
        padding: 5px;
    }
}

.#{$cssnoie8} .#{$css}-full-screen-btn-inner {
    text-align: left;
}

.#{$css}-icon-resize-full{
    color: $button_color_secondary;
}

.#{$css}-cast-button-container button {
    //--connected-color: #00cc00;
    //--disconnected-color: #666666;
    @include transparent(0.7);
    background: transparent;
    border: none;
    cursor: pointer;
    //outline: none;
    padding-top: 4px;
    width: 32px;
}

.#{$css}-airplay-container {
    @include clickable();
    padding: 2px 7px 0 3px;
    svg path {
        fill: #666666;
    }
}