/* Full screen options */

.#{$css}-fullscreen-view {

  @include hide-dom-shadow-media-control();

  :-webkit-full-screen {  }

  :-moz-full-screen {  }

  :-ms-fullscreen {  }

  :fullscreen {  }

  .#{$css}-dashboard {
    bottom: 0;
  }

  .#{$css}-video-title-block {
    top: 0;
  }

  &.#{$css}-common-browser .#{$css}-overlay {
    z-index: 2147483647;
  }

  &.#{$css}-firefox-browser {

    .#{$css}-dashboard, .#{$css}-video-title-block {
      position: fixed;
      z-index: 100;
    }

    video {
      position: relative;
      min-width: 100%;
      z-index: 0;
    }

  }

}
