/* Full screen options */

.#{$cssplayer}-fullscreen-view {

  .#{$css}-dashboard {
    bottom: 0;
  }

  .#{$css}-title-block {
    top: 0;
  }

  &.#{$cssplayer}-firefox-browser {

    .#{$css}-dashboard, .#{$css}-title-block {
      position: fixed;
      z-index: 100;
    }
  }
}

// Fix Chromium related fullscreen issue
.#{$css}-container {
  &.#{$cssplayer}-fullscreen-view {
    min-width: 100%; position: absolute;
    min-height: fit-content; // Supports only with Chrome and fix Chrome only related issue
    & > .#{$css}-overlay {
      position: fixed;
    }
  }
}
