$css: "ba-videoplayer-theatre-theme";
$cssie8: "ba-videoplayer-theatre-ie8";
$cssnoie8: "ba-videoplayer-theatre-noie8";
$fontello_name: "bjsmc";

$loader_size: 5px;
$loader_frame_thickness: 0.6em;
$text_line_space: 0.1em;

$message_bgcolor: black;
$message_opacity: 0.75;
$message_color: white;

$font_family: Arial, sans-serif;
$topmessage_bgcolor: black;
$topmessage_opacity: 0.3;
$topmessage_fontsize: 15px;
$topmessage_height: 32px;
$topmessage_fontweight: bold;

$playbutton_size: 5px;
$playbutton_frame_thickness: 0.6em;
$playbutton_default_opacity: 0.6;
$playbutton_hover_opacity: 0.9;
$playbutton_transition_time: .25s;
$playbutton_background_opacity: 0.2;

$dashboard_width: 75%;
$dashboard_transition: 0.5s;
$dashboard_border_color: #e5e5e5;

$controlbar_height: 28px;
$controlbar_line_height: 31px;
$controlbar_background: #ffffff;
$controlbar_left_block_width: 25%;
$controlbar_center_block_width: 47%;
$controlbar_right_block_width: 23%;
$controlbar_distance_from_side: 15px;

$full_screen_background: #b2b2b2;

$button_fontsize: 13px;
$button_width: 40px;
$button_color: #5daa96;
$button_color_secondary: #b0b0b0;
$time_value_width: 100px;
$ie8_margintop: 6px;
$text_fontfamily: Helvetica Neue, Helvetica, Arial, sans-serif;
$text_fontsize: 0.7rem;
$text_color: #2c2c2c;
$controls_bgcolor: rgba(93, 170, 150, 0.3);
$volume_width: 7px;
$volume_height: 60px;
$volume_off_color: red;
$progressbar_cache_bgcolor: #ededed;
$progressbar_button_overflow: #5daa96;
$progressbar_height: 10px;
$progressbar_height: 10px;
$stream_label_bg_color: #5daa96;
$stream_label_color: #ffffff;
$time_value_width: 40px;
$aligned-buttons-container: 80px;

$rerecord_text_color: white;
$rerecord_font_family: sans-serif;


$rerecord_height: 50px;
$rerecord_opacity: 1;
$rerecord_bgcolor: white;
$rerecord_padding: 24px;
$rerecord_padding: 16px;
$rerecord_primarybutton_radius: 3px;
$rerecord_primarybutton_color: #5daa96;
$rerecord_primarybutton_text_color: white;
$rerecord_primarybutton_padding: 0;
$rerecord_primarybutton_vertical_padding: 16px;
$rerecord_primarybutton_font_weight: 100;
$rerecord_primarybutton_font_size: 12px;
$rerecord_letter_spacing: .1em;

// Sidebar share
$share_container_top: 50px;
$share_container_width: 90px;
$share_container_right: 15px;
$open_share_button_color: #ffffff;
$open_share_button_border_radius: 5px;
$open_share_button_size: 13px;
$open_share_button_top: 30px;
$open_share_button_box_size: 45px;
$open_share_button_font_size: 14px;
$open_share_button_z-index: 100;
$share_icon_font_size: 14px;
$share_icon_container_height: 45px;
$share_icon_container_width: 45px;

// Theme Colors
$theme_color_blue: #2a74eb;
$theme_color_red: #eb6a74;
$theme_color_green: #5da894;

$colors: (
  'red': $theme_color_red,
  'blue': $theme_color_blue,
  'green': $theme_color_green,
  'default': ''
);
