.#{$csstheme} {
    .#{$css}-chooser-icon-container {
        margin: 16px;
        color: $chooser_primary_button_bgcolor;
        font-size: 32px;
    }

    .#{$css}-chooser-button-0 {
        background-color: $button_color;
    }

    .#{$css}-chooser-button-1, .#{$css}-chooser-button-2 {
        color: $button_color;
    }
}