@each $color, $value in $colors {
  @if $color != default {
    .#{$css}-#{$color}-color {

      .#{$css}-chooser-icon-container, .#{$css}-chooser-secondary-button,
      .#{$css}-button-selected {
        color: $value;
      }

      .#{$css}-video, .#{$css}-chooser-primary-button, .#{$css}-button-primary,
      .#{$css}-settings span {
        background-color: $value;
      }

      .#{$css}-button-selected {
        border-color: $value;
      }

      .#{$css}-settings input[type=radio]:checked + span {
        border: #ffffff;
      }

    }
  }
}
