
.#{$csstheme} {

    .#{$css}-backbar {
        @include absolute-align-full-bottom;
        height: $controlbar_height;
        background-color: $controlbar_bgcolor;
        opacity: $controlbar_opacity;
    }

    .#{$css}-controlbar {
        @include relative-align-full-bottom;
        height: $controlbar_height;
        overflow: hidden;
        padding-left: $controlbar_padding;
        padding-right: $controlbar_padding;
    }

    .#{$css}-label-label {
        @include absolute-align-full-top;
        font-family: $font_family;
        font-size: $topmessage_fontsize;
        font-weight: $topmessage_fontweight;
        color: $text_color;
        padding: $controlbar_label_padding;
        text-align: center;
    }

    .#{$css}-button-primary {
        @include relative-center-center;
        @include clickable;
        border-radius: $controlbar_primarybutton_radius;
        margin-left: $controlbar_primarybutton_horizontal_margin;
        margin-right: $controlbar_primarybutton_horizontal_margin;
        padding: $controlbar_primarybutton_padding;
        padding-left: $controlbar_primarybutton_vertical_padding;
        padding-right: $controlbar_primarybutton_vertical_padding;
        background-color: $button_color;
        color: $text_color;
        font-family: $font_family;
        font-weight: $controlbar_primarybutton_font_weight;
        font-size: $controlbar_primarybutton_font_size;
        border: $controlbar_primarybutton_border;
    }

    .#{$css}-button-inner {
        @include relative-center-center;
        color: $text_color;
        cursor: pointer;
        font-size: $controlbar_button_fontsize;
        margin-left: $controlbar_button_margin;
        margin-right: $controlbar_button_margin;
        padding: $controlbar_button_vertical_padding;
        border: $controlbar_button_border;
        border-radius: $controlbar_button_border_radius;
    }

    .#{$csscommon}-icon-inner {
        @include relative-center-center;
        color: $text_color;
        font-size: $controlbar_button_fontsize;
        margin-left: $controlbar_button_margin;
        margin-right: $controlbar_button_margin;
        padding: $controlbar_button_vertical_padding;
        padding-left: $controlbar_button_padding;
        padding-right: $controlbar_button_padding;
        border: $controlbar_button_border;
        border-radius: $controlbar_button_border_radius;
    }

    .#{$css}-button-selected {
        border: 1px solid $button_color;
        color: $button_color;
        background-color: $text_color;

    }
}

