.#{$css}-imagegallery-button-inner {
	background: $imagegallery_button_bgcolor;
	opacity: $imagegallery_button_opacity;
	padding: $imagegallery_button_padding;
	border-radius: $imagegallery_button_radius;
}

.#{$css}-imagegallery-leftbutton .#{$css}-imagegallery-button-inner {
	padding-left: 2px;
}
