.#{$csstheme} {

	.#{$css}-imagegallery-button-inner {
		@include relative-center-center;
		@include clickable;
		color: $text_color;
		font-size: $button_fontsize;
		background-color: $imagegallery_button_bgcolor;
		opacity: $imagegallery_button_opacity;
		padding: $imagegallery_button_padding;
		border-radius: $imagegallery_button_radius;
	}

	.#{$css}-imagegallery-leftbutton .#{$css}-imagegallery-button-inner {
		padding-left: 2px;
	}

	.#{$css}-imagegallery-leftbutton {
		@include transform-translate-y(-50%);
		position: absolute;
		margin-left: $imagegallery_buttonmargin;
		margin-right: $imagegallery_buttonmargin;
		top: 50%;
		left: 0;
		width: $imagegallery_buttonsize;
		height: $imagegallery_buttonsize;
	}

	.#{$css}-imagegallery-rightbutton {
		@include transform-translate-y(-50%);
		position: absolute;
		margin-left: $imagegallery_buttonmargin;
		margin-right: $imagegallery_buttonmargin;
		top: 50%;
		right: 0;
		width: $imagegallery_buttonsize;
		height: $imagegallery_buttonsize;
	}

	.#{$css}-imagegallery-container {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 2 * $imagegallery_buttonmargin + $imagegallery_buttonsize;
		right: 2 * $imagegallery_buttonmargin + $imagegallery_buttonsize;
	}

}
