.#{$css}-chooser-container {
	@include absolute-align-all;
	background-color: $chooser_background;
}

.#{$css}-chooser-file {
	position: absolute;
	@include transparent(0);
	width: 100%;
	height: 100%;
	cursor: pointer;
	left: 0;
	top: 0;
	z-index: 100;
}

.#{$css}-chooser-file::-webkit-file-upload-button {
	cursor: pointer;
}

.#{$css}-chooser-button-container {
	@include absolute-center-center;
	@include transform-translate(-50%, -50%);
	text-align: center;	
}

.#{$css}-chooser-button-0 {
	@include clickable;
	@include border-radius($chooser_primary_button_border_radius);
	background-color: $chooser_primary_button_bgcolor;
	color: $text_color;
	padding: $chooser_primary_button_vertical_padding;
	padding-left: $chooser_primary_button_horizontal_padding;
	padding-right: $chooser_primary_button_horizontal_padding;
	font-family: $font_family;
	font-size: $chooser_fontsize;
	text-align: center;
	position: relative;
	white-space: nowrap;
}

.#{$css}-chooser-button-1, .#{$css}-chooser-button-2 {
	@include clickable;
	color: $chooser_secondary_button_color;
	font-family: $font_family;
	font-size: $chooser_fontsize;
	text-align: center;
	padding: $chooser_secondary_button_padding;
	position: relative;
	white-space: nowrap;
}
