@each $color, $value in $colors {
  @if $color != default {
    .#{$cssrecorder}-#{$color}-color {

      .#{$css}-button-inner, .#{$css}-chooser-button-1,.#{$css}-chooser-button-2, .#{$css}-loader-label {
        color: $value;
      }

      .#{$css}-button-primary, .#{$css}-chooser-button-0,
      .#{$css}-imagegallery-rightbutton, .#{$css}-imagegallery-leftbutton {
        background-color: $value;
      }

      .#{$css}-settings input[type=radio]:checked + span,
      .#{$css}-imagegallery-image:hover {
        border-color: $value;
      }

      .#{$css}-message-message a {
        color: $value;
      }

      .#{$css}-imagegallery-button-inner {
        color: #ffffff;
      }

      // Applied to all other recorders


    }
  }
}
