@each $color, $value in $colors {
  @if $color != default {
    .#{$css}-#{$color}-color {

      .#{$css}-button-inner, .#{$css}-chooser-secondary-button {
        color: $value;
      }

      .#{$css}-video, .#{$css}-button-primary, .#{$css}-chooser-primary-button {
        background-color: $value;
      }

      .#{$css}-settings input[type=radio]:checked + span {
        border-color: $value;
      }

    }
  }
}
