.#{$css}-loader-container {
	@include transform-translate(-50%, -50%);
	@include absolute-center-center;
}

.#{$css}-loader-loader:before {
    content: "";
    display: block;
    padding-top: 100%; /* initial ratio of 1:1*/
}

.#{$css}-loader-loader {
	@include transform-translate-z(0);
    position: relative;
    width: 100%;
    font-size: $loader_size;
    box-sizing: content-box;
    @include border-top-rgba($loader_frame_thickness, 225, 225, 225, 0.2, #999);
    @include border-right-rgba($loader_frame_thickness, 225, 225, 225, 0.2, #999);
    @include border-bottom-rgba($loader_frame_thickness, 225, 225, 225, 0.2, #999);
    border-left: $loader_frame_thickness solid #ddd;    
    -webkit-animation: #{$css}-loader-load8 1.1s infinite linear;
    -moz-animation: #{$css}-loader-load8 1.1s infinite linear;
    animation: #{$css}-loader-load8 1.1s infinite linear;
}

.#{$css}-loader-loader, .#{$css}-loader-loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.#{$css}-loader-label {
	@include transform-translate(-50%, -50%);
	@include absolute-center-center;
	font-size: $loader_label_fontsize;
	color: white;
}

@-webkit-keyframes #{$css}-loader-load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes #{$css}-loader-load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
