.#{$css}-container {
    display: inline-block;
    position: relative;
    background-color: $recorder_bgcolor;
		overflow: hidden;
}

.#{$cssrecorder}-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.#{$css}-video {
    width: 100%;
    height: 100%;
    display: block;
    background-color: $recorder_bgcolor;
}

.#{$css}-norecorder {
    background-color: black;
}

.#{$css}-container video::-webkit-media-controls-start-playback-button {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.#{$css}-videorecorder-player {
	display: block;
	width: 100%;
	height: 100%;
}

div.#{$css}-disabled {
	@include disabled_element();
	& * {cursor: not-allowed}
}
