.#{$cssadsplayer}-click-tracker {
    @include align-all();
}

.#{$cssadsplayer}-controlbar {
    @include absolute-align-bottom();
    @include background-rgba(0, 0, 0, 0.8, #333333);
    @include transition1(opacity, #{$player_dashboard_transition}, ease-in-out);
    opacity: 1;
    height: 32px;
    width: 100%;
    z-index: 10;
}

.#{$cssadsplayer}-controlbar-hidden {
    opacity: 0;
}


.#{$cssadsplayer}-leftbutton-container {
    @include float-width-height(left, 40px, 100%);
    @include clickable;
    box-sizing: content-box;
}

.#{$cssnoie8} .#{$cssadsplayer}-rightbutton-container {
    @include float-width-height(right, 40px, 100%);
    @include clickable;
    box-sizing: content-box;
}

.#{$cssie8} .#{$cssadsplayer}-rightbutton-container {
    @include float-width-height(right, 40px, 50%);
    @include clickable;
    box-sizing: content-box;
}

.#{$cssnoie8} .#{$cssadsplayer}-button-inner {
    @include relative-center-center;
    color: #ffffff;
    font-size: 13px;
}

.#{$cssie8} .#{$cssadsplayer}-button-inner {
    margin-top: 6px + 6;
    text-align: center;
    color: #ffffff;
    font-size: 13px;
}

.#{$cssadsplayer}-button-inner {
    @include clickable;
}

.#{$cssadsplayer}-time-container {
    @include float-width-height(left, auto, 100%);
    text-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #ffffff;
    box-sizing: content-box;
}

.#{$cssie8} .#{$cssadsplayer}-time-container {
    margin-top: 6px + 5;
}

.#{$cssadsplayer}-time-value {
    @include relative-center-center;
    float: left;
    width: auto;
    padding: 3px 15px 0;
}
.#{$cssadsplayer}-progressbar-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 100;
    background-color: #666666;
    height: 3px;
    cursor: not-allowed;
}
.#{$cssadsplayer}-progressbar-played {
    background-color: #F1D44F;
    position: relative;
    left: 0;
    height: 3px;
}
.#{$cssadsplayer}-progressbar-inside-controller {
    position: absolute;
    width: 100%;
    .#{$cssadsplayer}-progressbar-played {
        height: 1px;
    }
}

.#{$cssnoie8} .#{$cssadsplayer}-volumebar {
    @include float-width-height(right, 60px, 100%);
    margin-right: 6px*2;
}

.#{$cssie8} .#{$cssadsplayer}-volumebar {
    @include float-width-height(right, 60px, 50%);
    margin-top: 6px+10;
    margin-right: 6px*2;
}

.#{$cssadsplayer}-volumebar-inner {
    @include relative-center-center;
    @include border-round-edges(6px / 2);
    @include clickable;
    background-color: #878787;
    height: 6px;
}

.#{$cssadsplayer}-volumebar-position {
    @include border-round-edges(6px / 2);
    @include absolute-align-left();
    background-color: #ffffff;
    height: 100%;
}

.#{$cssadsplayer}-skipbutton-container {
    @include transition1(all, 0.3s, ease-in-out 0.2s);
    @include transparent(0.4);
    background: #020202;
    font-size: 12px;
    bottom: 80px;
    color: #ececec;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    padding: 10px 0;
    right: 0;
    text-align: center;
    min-width: 100px;
}

.#{$cssadsplayer}-skipbutton {
    text-align: center;
    margin: 0;
    padding: 0;
}

.#{$cssadsplayer}-skipbutton-container:hover {
    @include transparent(0.7);
    @include transition1(all, 0.3s, ease-in-out 0.2s);
}

.#{$cssadsplayer}-container {
    .raisedSkipButton.videoAdUiSkipWidgetV2 .videoAdUiPreSkipContainer,
    .raisedSkipButton.videoAdUiSkipWidgetV2 .videoAdUiSkipContainer,
    .gma-instream .videoAdUiSkipWidgetV2 .videoAdUiPreSkipContainer,
    .gma-instream .videoAdUiSkipWidgetV2 .videoAdUiSkipContainer {
        bottom: 70px;
    }
}

// non-linear-container
.#{$cssadsplayer}-non-linear-ad-container {
    @include transition1(opacity, #{$player_dashboard_transition}, ease-in-out);
    @include transition1(bottom, #{$player_dashboard_transition}, ease 0.2s);
    position: absolute;
    bottom: #{$controlbar_height + $progressbar_height + 10};
    opacity: 0.9;
    text-align: center;
    width: 100%;
    z-index: 10;
}

.#{$cssplayer}-controlbar-hidden.#{$cssadsplayer}-non-linear-ad-container {
    @include transition1(bottom, #{$player_dashboard_transition}, ease 0.2s);
    bottom: 0;
}

.#{$cssadsplayer}-non-linear-controlbar:hover {
    @include transition1(opacity, #{$player_dashboard_transition}, ease-in-out);
    opacity: 1;
}

.#{$cssadsplayer}-media-container {
    position: relative;
    display: inline-block;
}

.#{$cssadsplayer}-banner-close-button {
    background: white;
    color: black;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 10px;
    width: 16px;
    z-index: 100;
}

.#{$cssadsplayer}-banner-close-button > i::before {
    margin: 0;
    line-height: 16px;
}

.#{$cssadsplayer}-action-button {
    @include transition1(background-color, 0.3s, ease-in-out);
    background: #020202;
    border-color: #c9c9c9;
    border-radius: 1px;
    color: #ccc;
    cursor: pointer;
    display: inline-block;
    padding: 5px 20px;
    line-height: 20px;
    margin-bottom: 10px;
    min-width: 7em;
}

.#{$cssadsplayer}-action-button.#{$cssadsplayer}-reversed-color {
    background-color: #ccc;
    color: #020202;
}

.#{$cssadsplayer}-action-button:hover {
    background-color: #ccc;
    color: #020202;
}

.#{$cssadsplayer}-action-button.#{$cssadsplayer}-reversed-color:hover {
    background: #020202;
    color: #ccc;
}
