/* Full screen options */

.#{$cssplayer}-fullscreen-view {

  @include hide-dom-shadow-media-control();

  &.#{$cssplayer}-firefox-browser {

    video {
      position: relative;
      min-height: 100%; // TODO: check cube, theatre and default themes capability
      min-width: 100%;
      z-index: 0;
    }

  }

}
