// NOTE: Don't put to deeper, to be able to override

.#{$cssplayer}-with-sidebar-gallery {
    .#{$cssplayer}-content {
        position: relative;
    }
}

// Gallery slider related styles
.#{$cssgallerysidebar}-ads-header-container,
.#{$cssgallerysidebar}-header-container {
    height: 30px;
    display: flex;
    align-self: start;
    align-content: center;
    flex-wrap: nowrap;
    width: 100%;
    a {
        color: #ffffff;
        cursor: pointer;
        height: 100%;
    }
}
.#{$cssgallerysidebar}-ads-body-container, .#{$cssgallerysidebar}-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}
.#{$cssgallerysidebar}-ads-footer-container {
    height: 30px;
    line-height: 30px;
    position: relative;
    align-self: end;
    margin-top: auto;
    width: 100%;
}

.#{$cssgallerysidebar}-loading-container {
    height: 100%;
    .#{$cssspinner}-container {
        align-content: center ;
        display: grid;
        justify-content: center;
        height: 100%;
    }
}

.#{$cssgallerysidebar}-header-container {
    box-sizing: border-box;
    padding: 5px 13px;
    font-size: 12px;
    height: 24px;
    justify-content: space-between;
    background: #1f1f1f;
    color: #ffffff;
    img {
        height: 10px;
    }
}

// Only gallery related styles
.#{$cssgallerysidebar}-container {
    flex: 1;
    background-color: #1f1f1f;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 0;
    padding-right: 4px;

    .#{$cssgallerysidebar}-list-container {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;

        /* width */
        &::-webkit-scrollbar {
            width: 4px;
        }
        /* button */
        &::-webkit-scrollbar-button {
            background: #222;
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #b3b3b3;
            border-radius: 12px;
            min-height: 40px;
        }
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #666;
        }
        /* Track */
        &::-webkit-scrollbar-track {
            background: #1f1f1f; // << will be background of the track
        }
        /** Firefox only */
        @supports ( -moz-appearance:none ){
            scrollbar-color: #b3b3b3 #1f1f1f00;
            scrollbar-width: thin;
            padding-right: 5px;
        }
    }

    .#{$cssgallerysidebar}-list {
        box-sizing: border-box;
        list-style: none;
        margin: 0;
        padding: 0 4px 0 12px;
        .#{$cssgallerysidebar}-list-item-title {
            font-size: 8px;
            margin: 4px 0 8px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 100%;
        }
    }
    .#{$cssgallerysidebar}-list-item {
        display: inline-grid;
        margin-bottom: 2px;
        &.#{$cssgallerysidebar}-currently-playing-list-item {
            cursor: pointer;
        }
    }
    .#{$cssgallerysidebar}-list-item-poster-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        img {
            max-width: 100%;
        }
        .#{$cssgallerysidebar}-circle-progress-container {
            cursor: pointer;
            display: flex;
            align-self: center;
            justify-content: center;
            position: absolute;
        }
    }

    .#{$cssgallerysidebar}-footer-container {
        min-height: 2px;
        background: black;
        display: block;
        width: 100%;
    }
}

// Only sidebar ads related styles
.#{$cssgallerysidebar}-ads-container {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 0;
    padding: 15px 13px;
    .#{$cssgallerysidebar}-ads-header-logo-container {
        display: flex;
        align-items: center;
        justify-content: end;
        height: 100%;
        width: 100%;
        & > img {
            height: 25px;
        }
    }
    .#{$cssgallerysidebar}-ads-body-container p {
        font-size: 22px;
        margin: 0;
        padding: 0 0 15px 0;
    }
    .#{$cssgallerysidebar}-ads-footer-container .#{$cssadsplayer}-ad-choices-container {
        position: relative;
        float: right;
        top: 10px;
        left: 5px;
        & > a {
            position: static;
        }
    }
}
