.#{$cssplayer}-next-style-desktop {
  @include background-rgba(0, 0, 0, .6, #979797);
  a {
    width: 168px;
  }
}

.#{$cssplayer}-next-style-mobile {
  a {
    width: 100px;
    background: rgba(0,0,0,0.1);
  }
  background: none;
}

.#{$cssplayer}-toggle-next-container {
  border-bottom-left-radius: $open_next_button_border_radius;
  border-top-left-radius: $open_next_button_border_radius;
  color: white;
  font-size: $open_next_button_font_size;
  line-height: $open_next_button_box_size;
  text-align: center;
  padding: 0 16px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 6;
  a {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.25);
    text-shadow: 0 1px 4px rgba(0,0,0,.25);
    position: relative;
    z-index: 1;
  }
  img {
    margin-top: -24px;
    margin-bottom: 10px;
    width: 170px;
  }
  span {
    border-radius: 5px 0 0 5px;
    height: 100%;
    position: relative;
    left: 0;
    &.#{$cssplayer}-next-progress {
      position: absolute;
      background-color: $theme_color_blue;
    }
  }
}
