.#{$cssplayer}-next-style-desktop {
}

.#{$cssplayer}-next-style-mobile {
}

.#{$cssplayer}-with-sidebar-gallery {
  .#{$cssplayer}-toggle-next-container {
    align-items: end;
  }
}

.#{$cssplayer}-toggle-next-container {
  box-sizing: content-box;
  pointer-events: none;
  width: 120px;
  color: white;
  text-align: center;
  padding: 0 16px;
  position: absolute;
  right: 0;
  bottom: 15px;
  display: flex;
  align-items: center;
  z-index: 6;
  .ba-player-next-button-container { width: 100%; }
  .ba-player-next-button { pointer-events: auto; }
  a {
    font-size: 16px;
    text-decoration: none;
    color: white;
    display: block;
    cursor: pointer;
    border: #DDD 1px solid;
    border-radius: 5px;
    margin: 10px 0;
    line-height: 2;
    background: #2E2E2E;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.25);
    text-shadow: 0 1px 4px rgba(0,0,0,.25);
    position: relative;
    z-index: 1;
    height: 30px;
  }
  hr {
    margin: 0;
    border-style: inset;
    border-width: 1px;
  }
  img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
    margin-top: -24px;
    margin-bottom: 10px;

  }
  span {
    border-radius: 4px;
    height: 100%;
    position: relative;
    left: 0;
    &.#{$cssplayer}-next-progress {
      position: absolute;
      background-color: $theme_color_blue;
    }
  }
}
