.#{$cssvideoplayer}-overlay {
    div[tabindex] {
        @include transition1(all, 0.30s, ease-in-out);
    }
    div[tabindex]:focus {
        @include box-outline-shadow(#1b8fcc, 2px);
        @include remove-outline;
    }
    div[tabindex]:hover, div[tabindex]:focus:hover {
        box-shadow: none;
    }
}

.#{$cssvideoplayer}-container {
    .#{$cssvideoplayer}-overlay {
        .#{$cssplayer}-dashboard-hidden {
            opacity: 0;
            & * {
                cursor: none;
            }
        }
    }
}

.#{$cssvideoplayer}-poster-container, .#{$cssvideoplayer}-video-container {
    background-color: black;
}

[data-adsplaying="true"] {
    div.#{$cssvideoplayer}-video-container {
        video {
            visibility: hidden;
        }
    }
}

.#{$cssvideoplayer}-poster-container, .#{$cssvideoplayer}-poster-container img,
.#{$cssvideoplayer}-video-container, .#{$cssvideoplayer}-video-container video {
    @include absolute-align-all();
    width: 100%;
    height: 100%;
}

.#{$cssvideoplayer}-video-placeholder {
    @include linear-background(#dddddd, #e9e9e9, #e9e9e9);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.#{$cssvideoplayer}-video-placeholder::after {
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    @include transform-translate-x(-100%);
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .6), transparent);
    animation: #{$cssvideoplayer}-loading 1.5s infinite;
}

@keyframes #{$cssvideoplayer}-loading {
    100% {
        transform: translateX(100%);
    }
}

.#{$cssaudioplayer}-container {
    .#{$cssaudioplayer}-overlay {
        .#{$cssplayer}-dashboard-hidden {
            opacity: 0;
            & * {
                cursor: none;
            }
        }
    }
}

.#{$cssvideoplayer}-overlay, .#{$cssvideoplayer}-player-toggle-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.#{$cssvideoplayer}-overlay {
    z-index: 1;
}

.#{$cssvideoplayer}-overlay[data-video='ad'] {
    top: -2px;
}

.#{$cssplayer}-airplay-container {
    @include clickable();
    padding-top: 4px;
    svg path {
        fill: #ffffff;
    }
}

.#{$cssplayer}-button-inactive {
    background-color: transparent;
    .#{$csscommon}-icon-subtitle {
        color: #ffffff;
    }
}

.#{$cssplayer}-button-active {
    background: #000000;
    .#{$csscommon}-icon-subtitle {
        color: #eeeeee;
    }
}

.#{$cssplayer}-floating.#{$cssplayer}-viewport-desktop {
    overflow: initial;
}

.#{$cssplayer}-hide-outstream {
    visibility: hidden;
    right: -500vw;
}
