/* Full screen options */

.#{$css}-fullscreen-view.#{$csstheme} {

  .#{$css}-dashboard, .#{$css}-image-title-container {
    position: fixed;
    width: 100%;
    z-index: 1010;
  }

  .#{$css}-dashboard {
    bottom: 0;
  }

  .#{$css}-image-title-container {
    top: 0;
  }

}