@each $color, $value in $colors {
  @if $color != default {
    .#{$cssplayer}-#{$color}-color {

      .#{$csstheme}-title > p,
      &.#{$cssnoie8} .#{$csstheme}-button-inner,
      &.#{$cssie8} .#{$csstheme}-button-inner {
        color: $value;
      }

      &.#{$cssnoie8} .#{$csstheme}-stream-label-container,
      &.#{$cssie8} .#{$csstheme}-stream-label-container, .#{$cssplayer}-cc-active {
        color: $button_color;
        background-color: $value;
      }

      .#{$csstheme}-volumebar-position, .#{$csstheme}-progressbar-position,
      .#{$csstheme}-stream-label-container .#{$csstheme}-stream-label,
      .#{$csstheme}-progressbar-button, .#{$csstheme}-rerecord-button {
        background-color: $value;
      }

      // Main play button
      &.#{$cssnoie8} {
        .#{$csstheme}-playbutton-container {
          border-color: $value;
        }
        .#{$csstheme}-playbutton-button::after {
          color: $value;
        }
      }

      .#{$csstheme}-progressbar-cache {
        @include background-rgba(255, 255, 255, 0.6, #4c4c4c);
      }

      .#{$csstheme}-volumebar-inner, .#{$csstheme}-progressbar-inner {
        @include background-rgba(255, 255, 255, 0.3, #7f7f7f);
      }
      
    }
  }
}
