@each $color, $value in $colors {
  @if $color != default {
    .#{$css}-#{$color}-color {

      .#{$css}-title > p,
      &.#{$cssnoie8} .#{$css}-button-inner,
      .#{$css}-right-block .#{$css}-icon-volume-up,
      .#{$css}-right-block .#{$css}-icon-volume-down {
        color: $value;
      }

      &.#{$cssnoie8} .#{$css}-stream-label-container {
        color: $button_color;
        background-color: $value;
      }

      .#{$css}-volumebar-position, .#{$css}-progressbar-position,
      .#{$css}-stream-label-container .#{$css}-stream-label,
      &.#{$cssnoie8} .#{$css}-playbutton-container, .#{$css}-playbutton-container,
      .#{$css}-progressbar-button {
        background-color: $value;
      }

      .#{$css}-progressbar-cache {
        @include background-rgba(255, 255, 255, 0.6, #4c4c4c);
      }

      .#{$css}-volumebar-inner, .#{$css}-progressbar-inner {
        @include background-rgba(255, 255, 255, 0.3, #7f7f7f);
      }
    }
  }
}
