
.#{$csstheme}-video-title-container {
    @include absolute-align-full-top();
    @include background-rgba(0, 0, 0, 0.2, #cecece);
    @include transition1(opacity, $dashboard_transition, ease-in-out);
    box-sizing: border-box;
    font-size: 0.65rem;
    font-weight: 300;
    height: $controlbar_header_height;
    letter-spacing: .05rem;
    line-height: $controlbar_header_height;
    padding: 0 3px 0 12px;
    text-align: center;
}

.#{$cssie8} .#{$csstheme}-video-title-container {
    .#{$csstheme}-button-inner {
        margin-top: 0;
    };
}

.#{$csstheme}-controlbar-footer {
    @include absolute-align-full-bottom;
    @include background-rgba(0, 0, 0, 0.4, #cecece);
    @include transition1(opacity, $dashboard_transition, ease-in-out);
    height: $controlbar_footer_height;
    padding: 0 5px;
}

.#{$cssie8} .#{$csstheme}-video-title-container, .#{$cssie8} .#{$csstheme}-controlbar-footer {
    opacity: .8;
}

.#{$csstheme}-dashboard-hidden {
    opacity: 0;
}

.#{$cssnoie8} .#{$csstheme}-video-title-container .#{css}-rightbutton-container {
    width: 21px;
}

.#{$csstheme}-video-title-container-background {
    position: relative;
    height: 40px;
}

.#{$csstheme}-title {
    float: left;
    color: $text_color;
    & > p {
        margin: 0;
        font-size: $controlbar_video_title_font_size;
        font-family: $font_family;
    }
}

.#{$cssnoie8} .#{$csstheme}-video-title-container .#{$csstheme}-button-inner {
    @include transform-translate-y(0);
}

.#{$cssnoie8} .#{$csstheme}-topmessage-container .#{$csstheme}-rightbutton-container {
    width: 25px;
}

.#{$csstheme}-leftbutton-container {
    @include float-width-height(left, $button_width, 100%);
    @include clickable;
	box-sizing: content-box;
    border: none;
    margin-right: 10px;
}

.#{$cssnoie8} .#{$csstheme}-rightbutton-container {
    @include float-width-height(right, auto, 100%);
    @include clickable;
	box-sizing: content-box;
    border: none;
}

.#{$cssie8} .#{$csstheme}-rightbutton-container {
    @include float-width-height(right, auto, 50%);
    @include clickable;
	box-sizing: content-box;
    border: none;
}

.#{$csstheme}-rightbutton-container {
    margin: 0 5px;
}

.#{$csstheme}-right-time-container{
    padding-right: 10px;
}

.#{$cssnoie8} .#{$csstheme}-button-inner {
    color: $button_color;
    font-size: $button_fontsize;
}

.#{$csstheme}-button-inner {
  @include clickable;
}

.#{$cssnoie8} .#{$csstheme}-controlbar-footer .#{$csstheme}-button-inner {
    @include relative-center-center;
}

.#{$cssie8} .#{$csstheme}-button-inner {
    color: $button_color;
    font-size: $button_fontsize;
    height: auto;
    margin-top: $ie8_margintop + 8;
    margin-left: 3px;
    text-align: center;
}


.#{$csstheme}-time-container {
    @include float-width-height(left, $time_value_width, 100%);
    text-align: center;
    font-family: $text_fontfamily;
    font-size: $text_fontsize;
    color: $text_color;
	box-sizing: content-box;
    border: none;
}

.#{$cssie8} .#{$csstheme}-time-container {
    height: auto;
    margin-top: $ie8_margintop + 9;
}

.#{$csstheme}-time-value {
    @include relative-center-center;
    float: left;
    width: $time_value_width;
    font-size: 10px;
}

.#{$cssnoie8} .#{$csstheme}-volumebar {
    @include float-width-height(right, $volume_width, 100%);
    margin-right: $volume_height * 2;
}

.#{$cssie8} .#{$csstheme}-volumebar {
    @include float-width-height(right, $volume_width, 50%);
    margin-top: $ie8_margintop + 8;
    margin-right: $volume_height * 2;
}

.#{$csstheme}-volumebar-inner {
    @include relative-center-center;
    @include border-round-edges($volume_height / 2);
    @include clickable;
    background-color: $volumebar_cache_bgcolor;
    height: $volume_height;
}

.#{$csstheme}-volumebar-position {
    @include border-round-edges($volume_height / 2);
    @include absolute-align-left();
    background-color: $button_color;
    height: 100%;
}

.#{$cssnoie8} .#{$csstheme}-progressbar {
    overflow: hidden;
    height: 100%;
    padding-left: $volume_height;
    padding-right: $volume_height;
}

.#{$cssie8} .#{$csstheme}-progressbar {
    overflow: hidden;
    height: 50%;
    padding-left: $volume_height * 2;
    padding-right: $volume_height * 2;
    margin-right: $button_width;
    margin-top: $ie8_margintop + 4;
}

.#{$csstheme}-progressbar-cache {
    @include absolute-align-left;
    @include border-round-edges($volume_height / 2);
    @include clickable;
    background-color: $progressbar_inner_bg;
    height: $progressbar_height;
}

.#{$csstheme}-progressbar-inner {
    @include relative-center-center;
    @include border-round-edges($volume_height / 2);
    @include clickable;
    background-color: $progressbar_inner_bg;
    height: $progressbar_height;
}

.#{$csstheme}-progressbar.#{$csstheme}-disabled {
    & .#{$csstheme}-progressbar-cache, & .#{$csstheme}-progressbar-inner {cursor: not-allowed}
}

.#{$csstheme}-progressbar-position {
    @include border-round-edges($volume_height / 2);
    @include absolute-align-left();
    background-color: $progressbar_button_overflow;
    height: 100%;
}


.#{$csstheme}-progressbar-button {
    @include border-radius(50%);
    background-color: $progressbar_button_overflow;
    box-sizing: content-box;
    border: none;
    position: absolute;
    right: -5px;
    top: -2.5px;
    z-index: 1;
    width: 8px;
    height: 8px;
}

.#{$csstheme}-button-text {
	font-family: Arial;
    font-weight: normal;
    font-size: 10px;
}

.#{$csstheme}-time-container {
    font-size: 0.7rem;
    width: 30px;
}

.#{$csstheme}-time-value {
    width: 30px;
    letter-spacing: 0.2em;
    font-weight: 300;
}

.#{$css}-size-small .#{$csstheme}-time-container {
	display: none;
}

.#{$css}-size-medium .#{$csstheme}-volumebar, .#{$css}-size-small .#{$csstheme}-volumebar {
	display: none;
}

.#{$css}-size-medium .#{$csstheme}-volume-button-container, .#{$css}-size-small .#{$csstheme}-volume-button-container {
	display: none;
}

.#{$csstheme}-stream-label-container {
    background-color: $stream_label_bg_color;
    box-sizing: border-box;
    padding: 2px 4px;
    .#{$csstheme}-stream-label {
        line-height: 16px;
        background-color: $stream_label_bg_color;
    }
}

.#{$cssnoie8} .#{$csstheme}-full-screen-btn-inner {
    text-align: left;
    padding-left: 4px;
}

.#{$cssnoie8} .#{$csstheme}-cast-button-container {
    margin: 0;
    button {
        //--connected-color: #00cc00;
        //--disconnected-color: #cecece;
        @include transparent(0.7);
        background: transparent;
        border: none;
        cursor: pointer;
        //outline: none;
        box-sizing: border-box;
        padding: 11px 2px 0 10px;
        width: 32px;
    }
}

.#{$csstheme}-airplay-container {
    @include clickable();
    padding: 12px 0 0 6px;
    svg path {
        fill: #ffffff;
    }
}

.#{$csstheme}-cc-button-container {
    padding: 0 10px;
    margin: 0;
}

.#{$csstheme}-cc-inactive {
    background-color: transparent;
}

.#{$csstheme}-cc-active {
    background: #000000;
    .#{$css}-icon-subtitle {
        color: #eeeeee;
    }
}