.#{$cssnoie8} .#{$csstheme}-topmessage-message .#{css}-rightbutton-container {
  width: 21px;
}

.#{$csstheme}-topmessage-background{
  position: relative;
  height: 40px;
}

.#{$csstheme}-topmessage-message {
  padding: 0;
  padding-left: 20px;
  padding-right: 15px;
  line-height: 40px;
  text-align: left;
  font-size: 0.65rem;
  letter-spacing: .05rem;
  font-weight: 300;
}

.#{$csstheme}-title {
  float: left;
}

.#{$cssnoie8} .#{$csstheme}-topmessage-message .#{$csstheme}-button-inner {
  @include transform-translate-y(0);
}

.#{$cssnoie8} .#{$csstheme}-topmessage-container .#{$csstheme}-rightbutton-container {
  width: 25px;
}

.#{$csstheme}-share-button-container{
  margin-right: 5px;
}
