$dashboard_transition: 0.5s;
$controlbar_height: 40px;
$controlbar_background: #ecebed;
$button_fontsize: 13px;
$button_width: 40px;
$button_color: #eb6a74;
$button_color_green: #5da894;
$button_color_blue: #2a74eb; 
$button_border_color: #dbdbdb;
$time_value_width: 100px;
$ie8_margintop: 6px;
$text_fontfamily: Lato, Arial, sans-serif;
$text_fontsize: 13px;
$text_color: #666666;
$controls_bgcolor: #878787;
$volume_width: 60px;
$volume_height: 6px;
$progressbar_cache_bgcolor: #BBB;



@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}

@mixin align-full-bottom {
    left: 0;
    right: 0;
    bottom: 0;
} 

@mixin align-left {
    position: absolute;
    left: 0;
}

@mixin left-container-width($width) {
    float: left;
    height: 100%;
    width: $width;
}

@mixin right-container-width($width) {
    float: right;
    height: 100%;
    width: $width;
}

@mixin horizontal-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin round-edges($width) {
    border-bottom-left-radius: $width;
    border-bottom-right-radius: $width;
    border-top-left-radius: $width;
    border-top-right-radius: $width;
};


.#{$cssmodern}-button-inner {
    @include horizontal-center;
    text-align: center;
    color: $button_color;
    font-size: $button_fontsize;
}

.#{$cssmodern}-green .#{$cssmodern}-button-inner {
	color: $button_color_green;
}

.#{$cssmodern}-blue .#{$cssmodern}-button-inner {
	color: $button_color_blue;
}


.#{$cssmodern}-dashboard {
    @include align-full-bottom;
    position: absolute;
    transition: opacity $dashboard_transition;
    opacity: 0.9;
	height: $controlbar_height;
    overflow: hidden;
    background: $controlbar_background;
}

.#{$cssmodern}-dashboard-hidden {
    opacity: 0;
}

.#{$cssmodern}-leftbutton-container {
    @include left-container-width($button_width);
    border-right: 1px solid $button_border_color;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.#{$cssmodern}-rightbutton-container {
    @include right-container-width($button_width);
    border-left: 1px solid $button_border_color;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.#{$cssmodern}-time-container {
    @include left-container-width($time_value_width);
    text-align: center;
    font-family: $text_fontfamily;
    font-size: $text_fontsize;
    color: $text_color;
    border-right: 1px solid $button_border_color;
}

.#{$cssmodern}-ie8 .#{$cssmodern}-time-container {
    margin-top: $ie8_margintop;
}

.#{$cssmodern}-time-value {
    @include horizontal-center;
    float: left;
    width: $time_value_width;
}




.#{$cssmodern}-volumebar {
    @include right-container-width($volume_width);
    margin-right: $volume_height*2;
}

.#{$cssmodern}-ie8 .#{$cssmodern}-volumebar {
    margin-top: -$ie8_margintop;
}

.#{$cssmodern}-volumebar-inner {
    @include horizontal-center;
    @include round-edges($volume_height / 2);
    background: $controls_bgcolor;
    height: $volume_height;
    cursor: pointer;
}

.#{$cssmodern}-volumebar-position {
    @include round-edges($volume_height / 2);
    background-color: $button_color;
    height: 100%;
    @include align-left();
}

.#{$cssmodern}-green .#{$cssmodern}-volumebar-position {
	background-color: $button_color_green;
}

.#{$cssmodern}-blue .#{$cssmodern}-volumebar-position {
	background-color: $button_color_blue;
}


.#{$cssmodern}-progressbar {
    overflow: hidden;
    height: 100%;
    padding-left: $volume_height*2;
    padding-right: $volume_height*2;
}

.#{$cssmodern}-ie8 .#{$cssmodern}-progressbar {
    margin-top: -$ie8_margintop;
}

.#{$cssmodern}-progressbar-cache {
    @include align-left;
    @include round-edges($volume_height / 2);
    background-color: $progressbar_cache_bgcolor;
    height: $volume_height;
    cursor: pointer;
}

.#{$cssmodern}-progressbar-inner {
    @include horizontal-center;
    @include round-edges($volume_height / 2);
    background: $controls_bgcolor;
    height: $volume_height;
    cursor: pointer;
}

.#{$cssmodern}-progressbar-position {
    @include round-edges($volume_height / 2);
    background-color: $button_color;
    height: 100%;
    @include align-left();
}

.#{$cssmodern}-green .#{$cssmodern}-progressbar-position {
	background-color: $button_color_green;
}

.#{$cssmodern}-blue .#{$cssmodern}-progressbar-position {
	background-color: $button_color_blue;
}
