.#{$cssmodern}-container {
    display: inline-block;
    position: relative;
}

.#{$cssmodern}-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.#{$cssmodern}-video {
    width: 100%;
    display: block;
}

.#{$cssmodern}-container video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}
