.#{$css}-container {
    box-sizing: border-box;
    border: 1px solid #eeeeee;
    height: 140px;
    min-height: 140px;
    min-width: 320px;
}

.#{$csstheme}.#{$css}-container {
    .#{$css}-overlay {
        z-index: 10;
    }

    .#{$cssplayer}-size-medium {

        .#{$csstheme}-controlbar-top-block {
            .#{$csstheme}-button-container {
                .#{$csstheme}-button-inner {
                    font-size: $controlbar_playbutton_font_size - .5;
                }
            }
        }
    }

    .#{$cssplayer}-size-small {
        .#{$csstheme}-controlbar-top-block {
            .#{$csstheme}-button-container {
                .#{$csstheme}-button-inner {
                    font-size: $controlbar_playbutton_font_size / 2;
                }
            }
        }

        .#{$csstheme}-volumebar {
            display: none;
        }

        .#{$csstheme}-controlbar-top-block {
            .#{$csstheme}-button-container {
                .#{$csstheme}-button-inner {
                    font-size: $controlbar_playbutton_font_size - .7;
                }
            }
        }

        .#{$csstheme}-controlbar-middle-block {
            bottom: 40px;
        }

        .#{$csstheme}-controlbar-bottom-block {
            bottom: 38px;
        }

        .#{$csstheme}-time-container{
            font-size: .7em;
        }
    }

}

.#{$csstheme}-dashboard {
    @include absolute-align-full-bottom;
    @include transition1(opacity, $dashboard_transition, ease-in-out);
    opacity: 0.9;
    height: $controlbar_height;
    overflow: hidden;
    padding: 0 $overlay_side_padding;
}

.#{$csstheme}-audio-canvas {
    display: none;
    position: absolute;
    //z-index: 1;
    background-color: #000000;
}

.#{$csstheme}-visual-effect-applied .#{$css}-overlay {
    background: #000000;
}

.#{$csstheme}-visual-effect-applied .#{$csstheme}-controlbar-middle-block {
    z-index: 10;
}

.#{$cssnoie8} .#{$csstheme}-controlbar-header .#{$csstheme}-button-inner {
    text-align: right;
    @include transform-translate-y(0);
}

.#{$cssie8} .#{$csstheme}-controlbar-top-block {
    height: 100%;
    .#{$csstheme}-button-container {
        top: 45%;
    }
}

.#{$cssnoie8} {
    .#{$css}-overlay {
        .#{$csstheme}-controlbar-top-block {
            .#{$csstheme}-button-inner {
                @include transition1(opacity, 0.3s, ease);
                opacity: 1;
            }
        }
    }
}

.#{$cssie8} {
    .#{$css}-overlay {
        height: 100%;
        .#{$csstheme}-controlbar-top-block {
            .#{$csstheme}-button-inner {
                @include transparent(0);
            }
        }
        &:hover .#{$csstheme}-controlbar-top-block {
            .#{$csstheme}-button-inner {
                @include transparent(.6);
            }
        }
    }
}

.#{$cssnoie8} .#{$csstheme}-button-inner {
    @include relative-center-center;
}

.#{$cssie8} .#{$csstheme}-button-inner {
    margin-top: $ie8_margintop + 6;
    text-align: center;
    font-size: $button_fontsize;
    margin-left: 3px;
}

.#{$csstheme}-button-inner {
    color: $button_color;
    font-size: $button_fontsize;
}

.#{$csstheme}-controlbar-middle-block {
    position: relative;
    bottom: 45px;
}

.#{$csstheme}-controlbar-bottom-block{
    position: relative;
    bottom: 40px;
}

.#{$csstheme}-player-rerecord {
    position: relative;
    top: 5px;
}
