@each $color, $value in $colors {
  @if $color != default {
    .#{$css}-#{$color}-color {

      .#{$css}-video-title, .#{$css}-icon-volume-up,
      &.#{$cssnoie8} .#{$css}-button-inner,&.#{$cssie8} .#{$css}-button-inner,
      .#{$css}-playbutton-button::after, &.#{$cssnoie8} .#{$css}-icon-share,
      .#{$css}-playbutton-button:hover::after {
        color: $value;
      }

      .#{$css}-progressbar-position, .#{$css}-volumebar-position, .#{$css}-rerecord-button {
        background-color: $value;
      }

      .#{$css}-playbutton-button,
      &.#{$cssnoie8} .#{$css}-playbutton-container .#{$css}-playbutton-button,
      &.#{$cssie8} .#{$css}-playbutton-container .#{$css}-playbutton-button {
        border-left-color: $value;
      }

      &.#{$cssie8} .#{$css}-playbutton-container,
      &.#{$cssnoie8} .#{$css}-playbutton-container {
        border-color: $value;
      }
    }
  }
}
