@each $color, $value in $colors {
  @if $color != default {
    .#{$cssplayer}-#{$color}-color {

      &.#{$csstheme} {
        .#{$cssplayer}-cc-inactive .#{$csscommon}-icon-subtitle {
          color: $value;
          background-color: transparent;
        }
        .#{$csstheme}-rightbutton-container.#{$cssplayer}-settings-visible {
          background-color: $value;
        }
      }

      .#{$csstheme}-title, .#{$csstheme}-button-inner {
        color: $value;
      }

      &.#{$cssnoie8} {
        .#{$csstheme}-button-inner,
        .#{$csstheme}-playbutton-button::after {
          color: $value;
        }
        .#{$csstheme}-playbutton-container {
          border-color: $value;
        }
      }

      .#{$csstheme}-progressbar-position, .#{$csstheme}-volumebar-position,
      .#{$csstheme}-rerecord-button, .#{$cssplayer}-cc-active {
        background-color: $value;
      }

      &.#{$cssnoie8} .#{$csstheme}-share-action-container {
        .#{$csstheme}-button-inner {
          color: $value;
        }
      }

      &.#{$cssnoie8} .#{$csstheme}-rightbutton-container.#{$cssplayer}-airplay-container svg path {
        fill: $value;
      }

    }
  }
}
