.#{$csstheme}-dashboard {
    @include absolute-align-full-bottom;
    @include transition1(opacity, $dashboard_transition, ease-in-out);
    background-color: $controlbar_background;
	height: $controlbar_height;
    opacity: 0.9;
    overflow: hidden;

    .#{$csstheme}-rightbutton-container.#{$cssplayer}-airplay-container {
        height: 28px;
        padding: 12px 10px 0 10px;
        width: auto;
        box-sizing: border-box;
        svg path {
            fill: #000000;
        }
    }

    .#{$cssplayer}-settings-visible .#{$csstheme}-button-inner {
        color: $controlbar_background;
    }
}

.#{$csstheme}-leftbutton-container {
    @include float-width-height(left, $button_width, 100%);
    @include clickable;
	box-sizing: content-box;
    border-right: 1px solid $button_border_color;
}

.#{$cssnoie8} .#{$csstheme}-rightbutton-container {
    @include float-width-height(right, $button_width, 100%);
    @include clickable;
	box-sizing: content-box;
    border-left: 1px solid $button_border_color;
}

.#{$cssie8} .#{$csstheme}-rightbutton-container {
    @include float-width-height(right, $button_width, 50%);
    @include clickable;
	box-sizing: content-box;
    border-left: 1px solid $button_border_color;
}

.#{$cssnoie8} .#{$csstheme}-button-inner,
.#{$csstheme} .#{$cssplayer}-cc-inactive .#{$csscommon}-icon-subtitle {
    @include clickable;
    @include relative-center-center;
    color: $button_color;
    font-size: $button_fontsize;
}

.#{$cssie8} .#{$csstheme}-button-inner {
    @include clickable;
    margin-top: $ie8_margintop + 6;
    text-align: center;
    color: $button_color;
    font-size: $button_fontsize;
}

.#{$csstheme}-time-container {
    @include float-width-height(left, $time_value_width, 100%);
    text-align: center;
    font-family: $text_fontfamily;
    font-size: $text_fontsize;
    color: $text_color;
	box-sizing: content-box;
    border-right: 1px solid $button_border_color;
}

.#{$cssie8} .#{$csstheme}-time-container {
    margin-top: $ie8_margintop + 5;
}

.#{$csstheme}-time-value {
    @include relative-center-center;
    float: left;
    width: $time_value_width;
}

.#{$cssnoie8} .#{$csstheme}-volumebar {
    @include float-width-height(right, $volume_width, 100%);
    margin-right: $volume_height*2;
}

.#{$cssie8} .#{$csstheme}-volumebar {
    @include float-width-height(right, $volume_width, 50%);
    margin-top: $ie8_margintop+10;
    margin-right: $volume_height*2;
}

.#{$csstheme}-volumebar-inner {
    @include relative-center-center;
    @include border-round-edges($volume_height / 2);
    @include clickable;
    background-color: $controls_bgcolor;
    height: $volume_height;
}

.#{$csstheme}-volumebar-position {
    @include border-round-edges($volume_height / 2);
    @include absolute-align-left();
    background-color: $button_color;
    height: 100%;
}

.#{$cssnoie8} .#{$csstheme}-progressbar {
    overflow: hidden;
    height: 100%;
    padding-left: $volume_height*2;
    padding-right: $volume_height*2;
}

.#{$cssie8} .#{$csstheme}-progressbar {
    overflow: hidden;
    height: 50%;
    padding-left: $volume_height*2;
    padding-right: $volume_height*2;
    margin-right: $button_width;
    margin-top: $ie8_margintop;
}

.#{$csstheme}-progressbar-cache {
    @include absolute-align-left;
    @include border-round-edges($volume_height / 2);
    @include clickable;
    background-color: $progressbar_cache_bgcolor;
    height: $volume_height;
}

.#{$csstheme}-progressbar-inner {
    @include relative-center-center;
    @include border-round-edges($volume_height / 2);
    @include clickable;
    background-color: $controls_bgcolor;
    height: $volume_height;
}

.#{$csstheme}-progressbar.#{$cssplayer}-disabled {
    &, & .#{$csstheme}-progressbar-cache, & .#{$csstheme}-progressbar-inner, & .#{$csstheme}-progressbar-position {cursor: not-allowed}
}

.#{$csstheme}-progressbar-position {
    @include border-round-edges($volume_height / 2);
    @include absolute-align-left();
    background-color: $button_color;
    height: 100%;
}

.#{$csstheme}-button-text {
	font-family: Arial;
    font-weight: bold;
}


.#{$cssie8} .#{$csstheme}-title-container{
    display: none;
}

.#{$csstheme}-title-container{
    @include absolute-align-full-top();
    @include transition1(opacity, $dashboard_transition, ease-in-out);
    width: 100%;
    & > p {
        color: $title_text_color;
        @include background-rgba( 255, 255, 255, 0.7, $controlbar_background);
        @include relative-horizontally-center();
        height: $controlbar_height - 10;
        line-height: $controlbar_height - 10;
        text-align: center;
    }
}

.#{$cssplayer}-size-small .#{$csstheme}-time-container {
	display: none;
}

.#{$cssplayer}-size-medium .#{$csstheme}-volumebar,
.#{$cssplayer}-size-small .#{$csstheme}-volumebar {
	display: none;
}

.#{$cssplayer}-size-medium .#{$csstheme}-volume-button-container,
.#{$cssplayer}-size-small .#{$csstheme}-volume-button-container {
	display: none;
}

.#{$csstheme}-cast-button-container button {
    //--connected-color: #00cc00;
    //--disconnected-color: #000000;
    @include transparent(0.7);
    background: transparent;
    border: none;
    cursor: pointer;
    //outline: none;
    padding: 11px 10px 0 10px;
}

.ba-settings-overlay-inner {
    bottom: $controlbar_height + 1;
}