/* Full screen options */

.#{$css}-fullscreen-view {

  .#{$csstheme}-video-title-block {
    top: 0;
  }

  &.#{$css}-firefox-browser {

    .#{$csstheme}-dashboard, .#{$csstheme}-video-title-block {
      position: fixed;
      z-index: 100;
    }
  }
}