/* Full screen options */

.#{$css}-fullscreen-view {

  @include hide-dom-shadow-media-control();

  .#{$css}-dashboard {
    bottom: 0;
  }

  .#{$css}-video-title-block {
    top: 0;
  }

  &.#{$css}-common-browser .#{$css}-overlay {
    z-index: 2147483647;
  }

  &.#{$css}-firefox-browser {

    .#{$css}-dashboard, .#{$css}-video-title-block {
      position: fixed;
      z-index: 100;
    }

    video {
      position: relative;
      min-width: 100%;
      z-index: 0;
    }
  }
}

// Fix Chromium related fullscreen issue
.#{$css}-container {
  &.#{$css}-fullscreen-view {
    min-width: 100%; position: absolute;
    & > .#{$css}-overlay {
      position: fixed;
    }
  }
}
