$css: "ba-videoplayer-theme-modern";
$cssie8: "ba-videoplayer-ie8";
$cssnoie8: "ba-videoplayer-noie8";
$fontello_name: "bjsmc";

$loader_size: 5px;
$loader_frame_thickness: 0.6em;

$message_bgcolor: black;
$message_opacity: 0.75;
$message_color: white;

$font_family: Arial, sans-serif;
$topmessage_bgcolor: black;
$topmessage_opacity: 0.3;
$topmessage_fontsize: 15px;
$topmessage_height: 32px;
$topmessage_fontweight: bold;

$playbutton_size: 5px;
$playbutton_frame_thickness: 0.6em;
$playbutton_default_opacity: 0.6;
$playbutton_hover_opacity: 0.9;
$playbutton_transition_time: .25s;
$playbutton_background_opacity: 0.2;

$dashboard_transition: 0.5s;
$controlbar_height: 40px;
$controlbar_background: #ecebed;
$button_fontsize: 13px;
$button_width: 40px;
$button_color: #eb6a74;
$button_color_green: #5da894;
$button_color_blue: #2a74eb; 
$button_border_color: #dbdbdb;
$time_value_width: 100px;
$ie8_margintop: 6px;
$text_fontfamily: Helvetica Neue, Helvetica, Arial, sans-serif;
$text_fontsize: 13px;
$text_color: #666666;
$controls_bgcolor: #878787;
$volume_width: 60px;
$volume_height: 6px;
$progressbar_cache_bgcolor: #BBB;


$rerecord_text_color: white;
$rerecord_font_family: Arial, sans-serif;


$rerecord_height: 48px;
$rerecord_opacity: 0.5;
$rerecord_bgcolor: black;
$rerecord_padding: 24px;
$rerecord_padding: 16px;
$rerecord_primarybutton_radius: 3px;
$rerecord_primarybutton_padding: 8px;
$rerecord_primarybutton_vertical_padding: 16px;
$rerecord_primarybutton_font_weight: bold;
$rerecord_primarybutton_font_size: 14px;
