$css: "ba-videoplayer";
$csstheme: "ba-videoplayer-theme-modern";
$cssplaybutton: "ba-videoplayer-playbutton-alt";
$cssie8: "ba-videoplayer-ie8";
$cssnoie8: "ba-videoplayer-noie8";
$fontello_name: "bjsmc";

$loader_size: 5px;
$loader_frame_thickness: 0.6em;

$message_bgcolor: #000000;
$message_opacity: 0.75;
$message_color: #eeeeee;

$font_family: Arial, sans-serif;
$topmessage_bgcolor: black;
$topmessage_opacity: 0.3;
$topmessage_fontsize: 15px;
$topmessage_height: 32px;
$topmessage_fontweight: bold;

$focus_button_color: #1b7fcc;
$focus_overlay_color: #000000;

// cover
$cover_playbutton_color: #eeeeee;
$cover_playbutton_hover_color: #000000;
$cover_playbutton_shadow: #000000;
$cover_playbutton_border_color: #eeeeee;
$cover_playbutton_border_hover_color: #000000;
$cover_playbutton_hover_shadow: #eeeeee;

$playbutton_size: 5px;
$playbutton_color: #eeeeee;
$playbutton_frame_thickness: 0.6em;
$playbutton_default_opacity: 0.6;
$playbutton_hover_opacity: 0.9;
$playbutton_transition_time: .25s;
$playbutton_background_opacity: 0.2;

$dashboard_transition: 0.5s;
$controlbar_height: 40px;
$controlbar_background: #ecebed;
$button_fontsize: 13px;
$button_width: 40px;
$button_color: #000000;
$button_border_color: #dbdbdb;
$time_value_width: 100px;
$ie8_margintop: 6px;
$text_fontfamily: Helvetica Neue, Helvetica, Arial, sans-serif;
$text_fontsize: 13px;
$text_color: #666666;
$controls_bgcolor: #878787;
$volume_width: 60px;
$volume_height: 6px;
$progressbar_cache_bgcolor: #BBB;
$title_text_color: #666666;

$full_screen_background: #b2b2b2;

$rerecord_text_color: white;
$rerecord_font_family: Arial, sans-serif;


$rerecord_height: 48px;
$rerecord_opacity: 0.5;
$rerecord_bgcolor: black;
$rerecord_padding: 24px;
$rerecord_padding: 16px;
$rerecord_primarybutton_radius: 3px;
$rerecord_primarybutton_padding: 8px;
$rerecord_primarybutton_vertical_padding: 16px;
$rerecord_primarybutton_font_weight: bold;
$rerecord_primarybutton_font_size: 14px;

// Sidebar share
$share_container_top: 50px;
$share_container_width: 90px;
$share_container_right: 15px;
$open_share_button_color: #ffffff;
$open_share_button_border_radius: 5px;
$open_share_button_size: 13px;
$open_share_button_top: 30px;
$open_share_button_box_size: 45px;
$open_share_button_font_size: 14px;
$open_share_button_z-index: 100;
$share_icon_font_size: 14px;
$share_icon_container_height: 45px;
$share_icon_container_width: 45px;

// Theme Colors
$theme_color_blue: #2a74eb;
$theme_color_red: #eb6a74;
$theme_color_green: #5da894;

$colors: (
  'red': $theme_color_red,
  'blue': $theme_color_blue,
  'green': $theme_color_green,
  'default': ''
);
