$css: "ba-imageviewer";
$csstheme: "ba-imageviewer-elevate-theme";
$cssie8: "ba-imageviewer-ie8";
$cssnoie8: "ba-imageviewer-noie8";
$fontello_name: "bjsmc";

$message_bgcolor: #000000;
$message_opacity: 0.75;
$message_color: #eeeeee;

$font_family: sans-serif;
$topmessage_bgcolor: black;
$topmessage_opacity: 0.3;
$topmessage_fontsize: 15px;
$topmessage_height: 32px;
$topmessage_fontweight: bold;

$focus_button_color: #1b7fcc;
$focus_overlay_color: #000000;

$dashboard_width: 95%;
$dashboard_transition: 0.5s;
$dashboard_border_color: rgba(0, 0, 0, 0.1);

$controlbar_height: 52px;
$controlbar_bottom_height: 32px;
$controlbar_line_height: 32px;
$controlbar_background: #eeeeee;
$controlbar_left_block_width: 12%;
$controlbar_center_block_width: 75%;
$controlbar_right_block_width: 12%;
$controlbar_image_title_color: #000000;
$controlbar_image_title_font_size: 12px;

$full_screen_background: #b2b2b2;

$button_fontsize: 13px;
$button_width: 40px;
$button_color: #000000;
$button_color_secondary: #666666;
$button_border_color: #666666;
$ie8_margintop: 7px;
$text_fontfamily: Helvetica Neue, Helvetica, Arial, sans-serif;
$text_fontsize: 11px;
$text_color: #2c2c2c;
$controls_bgcolor: rgba(0, 0, 0, 0.7);

$aligned-buttons-container: 80px;

$rerecord_text_color: #eeeeee;
$rerecord_font_family: sans-serif;


$rerecord_height: 48px;
$rerecord_opacity: 0.5;
$rerecord_bgcolor: #000000;
$rerecord_padding: 24px;
$rerecord_padding: 16px;
$rerecord_primarybutton_color: #000000;
$rerecord_primarybutton_text_color: #eeeeee;
$rerecord_primarybutton_padding: 10px 20px;
$rerecord_primarybutton_radius: 18px;
$rerecord_primarybutton_vertical_padding: 16px;
$rerecord_primarybutton_font_weight: 300;
$rerecord_primarybutton_font_size: 12px;
$rerecord_letter_spacing: .1em;


// Theme Colors
$theme_color_blue: #2a74eb;
$theme_color_red: #eb6a74;
$theme_color_green: #5daa96;

$colors: (
  'red': $theme_color_red,
  'blue': $theme_color_blue,
  'green': $theme_color_green,
  'default': ''
);
