$message_bgcolor: black;
$message_opacity: 0.75;
$message_color: white;



.#{$css}-message-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $message_bgcolor;
    opacity: $message_opacity;
}

.#{$css}-message-message {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    color: $message_color;
    text-align: center;
}