.#{$css}-container {
    box-sizing: border-box;
    border: 1px solid #eeeeee;
    height: 73px;
    min-height: 73px;
    min-width: 320px;

    &.#{$csstheme} {

        .#{$csstheme}-progressbar-button {
            @include border-radius(50%);
            background-color: $progressbar_inner_bg;
            box-sizing: content-box;
            border: none;
            position: absolute;
            right: -5px;
            top: -2.5px;
            z-index: 1;
            width: 8px;
            height: 8px;
        }

        &.#{$cssplayer}-size-small .#{$csstheme}-time-container ,
        &.#{$cssplayer}-size-medium .#{$csstheme}-time-container {
            display: block;
        }

        &.#{$cssplayer}-size-small .#{$csstheme}-volumebar,
        &.#{$cssplayer}-size-medium .#{$csstheme}-volumebar {
            display: block;
        }

        &.#{$cssplayer}-size-small .#{$csstheme}-volume-button-container,
        &.#{$cssplayer}-size-medium .#{$csstheme}-volume-button-container {
            display: block;
        }

    }
}

.#{$cssie8} .#{$csstheme}-title-container {
    .#{$csstheme}-button-inner {
        margin-top: 0;
    };
}

.#{$cssie8} .#{$csstheme}-title-container, .#{$cssie8} .#{$csstheme}-controlbar-footer {
    opacity: .8;
}

.#{$cssnoie8} .#{$csstheme}-title-container .#{css}-rightbutton-container {
    width: 21px;
}

.#{$cssnoie8} .#{$csstheme}-rightbutton-container {
    @include float-width-height(right, auto, 100%);
    @include clickable;
	box-sizing: content-box;
    border: none;
}

.#{$cssie8} .#{$csstheme}-rightbutton-container {
    @include float-width-height(right, auto, 50%);
    @include clickable;
	box-sizing: content-box;
    border: none;
}

.#{$cssnoie8} .#{$csstheme}-button-inner {
    color: $button_color;
    font-size: $button_fontsize;
}

.#{$cssnoie8} .#{$csstheme}-controlbar-footer .#{$csstheme}-button-inner {
    @include relative-center-center;
}

.#{$cssie8} .#{$csstheme}-button-inner {
    color: $button_color;
    font-size: $button_fontsize;
    height: auto;
    margin-top: $ie8_margintop + 8;
    margin-left: 3px;
    text-align: center;
}

.#{$cssnoie8} .#{$csstheme}-volumebar {
    @include float-width-height(right, $volume_width, 100%);
    margin-right: $volume_height * 2;
}

.#{$cssie8} .#{$csstheme}-volumebar {
    @include float-width-height(right, $volume_width, 50%);
    margin-top: $ie8_margintop + 8;
    margin-right: $volume_height * 2;
}

.#{$cssnoie8} .#{$csstheme}-progressbar {
    overflow: hidden;
    height: 100%;
    padding-left: $volume_height;
    padding-right: $volume_height;
}

.#{$cssie8} .#{$csstheme}-progressbar {
    overflow: hidden;
    height: 50%;
    padding-left: $volume_height * 2;
    padding-right: $volume_height * 2;
    margin-right: $button_width;
    margin-top: $ie8_margintop + 4;
}

