$css: "ba-imageviewer";
$csstheme: "ba-imageviewer-theme-modern";
$cssie8: "ba-imageviewer-ie8";
$cssnoie8: "ba-imageviewer-noie8";
$fontello_name: "bjsmc";

$message_bgcolor: #000000;
$message_opacity: 0.75;
$message_color: #eeeeee;

$font_family: Arial, sans-serif;
$topmessage_bgcolor: black;
$topmessage_opacity: 0.3;
$topmessage_fontsize: 15px;
$topmessage_height: 32px;
$topmessage_fontweight: bold;

$focus_button_color: #1b7fcc;
$focus_overlay_color: #000000;

$dashboard_transition: 0.5s;
$controlbar_height: 40px;
$controlbar_background: #ecebed;
$button_fontsize: 13px;
$button_width: 40px;
$button_color: #000000;
$button_border_color: #dbdbdb;
$time_value_width: 100px;
$ie8_margintop: 6px;
$text_fontfamily: Helvetica Neue, Helvetica, Arial, sans-serif;
$text_fontsize: 13px;
$text_color: #666666;
$controls_bgcolor: #878787;
$title_text_color: #666666;

$full_screen_background: #b2b2b2;

$rerecord_text_color: white;
$rerecord_font_family: Arial, sans-serif;


$rerecord_height: 48px;
$rerecord_opacity: 0.5;
$rerecord_bgcolor: black;
$rerecord_padding: 24px;
$rerecord_padding: 16px;
$rerecord_primarybutton_radius: 3px;
$rerecord_primarybutton_padding: 8px;
$rerecord_primarybutton_vertical_padding: 16px;
$rerecord_primarybutton_font_weight: bold;
$rerecord_primarybutton_font_size: 14px;

// Theme Colors
$theme_color_blue: #2a74eb;
$theme_color_red: #eb6a74;
$theme_color_green: #5da894;

$colors: (
  'red': $theme_color_red,
  'blue': $theme_color_blue,
  'green': $theme_color_green,
  'default': ''
);
